ion-toolbar {
  --background: var(--po-color-custom-tint);
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  height: 100%;
  width: 100%;
}

img {
  height: 100px;
  padding: 25px 0px;
}

ion-input {
  --background: var(--po-color-custom-contrast);
  --color: var(--po-color-custom);
  margin-top: 5px;
  height: 55px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
