<ion-toolbar>
  <div text-center>
    <img src="assets/img/logo_pedeon.png" />
  </div>
  <ion-grid>
    <form [formGroup]="cepForm" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col size-xs="12" size-md="6" size-lg="3" offset-lg="3">
          <ion-input
            type="tel"
            placeholder="Indique seu CEP"
            formControlName="cep"
            [brmasker]="{
              form: cepForm.get('cep'),
              mask: '00000\-000',
              len: 9,
              type: 'num'
            }"
            text-center
          ></ion-input>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="3">
          <ion-button
            type="submit"
            class="buscar"
            size="large"
            fill="solid"
            expand="block"
            color="success"
            [disabled]="!cepForm.valid"
            >Buscar</ion-button
          >
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col size-xs="12" size-sm="6" offset-sm="3">
        <ion-button
          color="light"
          fill="clear"
          expand="block"
          (click)="onNaoSeiCepClick()"
          ><span class="icon-search"></span>&nbsp;Não sei meu CEP</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" size-sm="6" offset-sm="3">
        <ion-button
          color="light"
          fill="clear"
          expand="block"
          (click)="onLoginCadastroClick(Tab.login)"
          ><span class="icon-person"></span>&nbsp;Entrar ou
          cadastrar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
