<ion-header>
  <ion-toolbar>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-toolbar text-center>
          <ion-menu-toggle slot="start">
            <ion-button fill="clear" color="light">
              <span class="icon-menu"></span>
            </ion-button>
          </ion-menu-toggle>
          <ion-title>Seleção de local</ion-title>
          <!-- <ion-button fill="clear" color="light" slot="end">
            <span class="icon-person" *ngIf="!conta"></span>
            <span *ngIf="conta">{{ conta.nome }}</span>
            <span class="icon-visitor" *ngIf="conta"></span>
          </ion-button> -->
          <ion-button
            fill="clear"
            color="light"
            slot="end"
            (click)="onCarrinhoClick()"
          >
            <ion-badge>1</ion-badge>
            <span class="icon-cart"></span>
          </ion-button>
        </ion-toolbar>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-toolbar class="subheader">
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col>
          <ion-segment [(ngModel)]="tab">
            <ion-segment-button [value]="Tab.cep"
              >Buscar CEP</ion-segment-button
            >
            <ion-segment-button [value]="Tab.armazenados"
              >Armazenados
              <!-- <span *ngIf="numArmazenados > 0">({{ numArmazenados }})</span> -->
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content no-padding [class.fullscreen]="tab == Tab.cep">
  <!-- <p>tab: {{ tab }}</p> -->
  <!-- <p>conta: {{ conta | json }}</p> -->
  <ion-grid fixed no-padding>
    <ion-row>
      <ion-col>
        <div [ngSwitch]="tab">
          <div *ngSwitchCase="Tab.cep">
            <po-sel-local-cep></po-sel-local-cep>
          </div>
          <div *ngSwitchDefault>
            <po-local-armazenados
              (onSel)="onSelClick($event)"
            ></po-local-armazenados>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="conta || local" no-padding>
  <po-conta-info [conta]="conta"></po-conta-info>
  <!-- <p>{{ conta | json }}</p> -->
</ion-footer>
