/* ion-header */
ion-header ion-toolbar {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

ion-header ion-toolbar .icon-cart {
  // --color: var(--po-color-custom-contrast);
  color: var(--po-color-custom-contrast);
  font-size: 1.3rem;
}

ion-header ion-toolbar ion-badge {
  border-radius: 40%;
  --color: var(--po-color-custom);
  color: var(--po-color-custom);
  --background-color: var(--po-color-custom-contrast);
  background-color: var(--po-color-custom-contrast);
}

/* .subheader */
ion-header ion-toolbar.subheader {
  --background: var(--po-color-custom-dark);
  --color: var(--po-color-custom-contrast);
}

ion-header ion-toolbar.subheader ion-segment-button {
  --color: var(--po-color-custom-tint);
  --color-checked: var(--po-color-custom-contrast);
}

/* ion-content */
ion-content.fullscreen {
  --background: var(--po-color-custom-tint);
}

/* ion-footer */
ion-footer ion-toolbar {
  --background: var(--po-color-custom);
}
