<ion-header *ngIf="setor">
  <ion-toolbar>
    <ion-title text-center
      >Selecione bairro do setor {{ setor.set_c_setor }}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="bairros">
  <ion-searchbar
    placeholder="Bairro?"
    [(ngModel)]="filter"
    showCancelButton="false"
    (ionClear)="onLimpaProcura()"
    (keyup.enter)="onRefresh()"
    text-start
  ></ion-searchbar>

  <!-- <p>{{ setor | json }}</p> -->
  <ion-label text-center padding *ngIf="bairros.length == 0"
    ><p>Nenhum bairro encontrado.</p>
  </ion-label>

  <!-- <ion-list lines="full">
    <ion-item button *ngFor="let bairro of bairros" detail (click)="onBairroSel(bairro)">
      <ion-label
        ><p>{{ bairro.bai_c_bairro }}</p></ion-label
      >
    </ion-item>
  </ion-list> -->

  <ion-virtual-scroll [items]="bairros" approxItemHeight="50px">
    <ion-item
      button
      lines="full"
      *virtualItem="let bairro"
      (click)="onBairroSel(bairro)"
      detail
    >
      <ion-label
        ><h2>{{ bairro.bai_c_bairro }}</h2></ion-label
      >
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
