ion-toolbar {
  background-color: var(--ion-color-primary);
}
/* 
ion-row.logradouro {
  border-bottom: 1px solid silver;
} */

/* .logradouros [class^="icon-"] {
  color: var(--ion-color-warning-tint);
} */

ion-item {
  cursor: pointer;
}
