<ion-header>
  <ion-toolbar color="warning" text-center>
    <ion-title>CEP pelo logradouro</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <form [formGroup]="enderecoForm" #f="ngForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item
              [class.invalid]="
                !enderecoForm.controls.estado.valid &&
                (enderecoForm.controls.estado.dirty || f.submitted)
              "
            >
              <ion-label position="floating">Estado*</ion-label>
              <ion-select
                cancelText="Cancelar"
                formControlName="estado"
                required
              >
                <ion-select-option value="MG">MG</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item
              [class.invalid]="
                !enderecoForm.controls.cidade.valid &&
                (enderecoForm.controls.cidade.dirty || f.submitted)
              "
            >
              <ion-label position="floating">Cidade*</ion-label>
              <ion-select
                cancelText="Cancelar"
                formControlName="cidade"
                required
              >
                <ion-select-option value="Uberaba">Uberaba</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item
              [class.invalid]="
                !enderecoForm.controls.logradouro.valid &&
                (enderecoForm.controls.logradouro.dirty || f.submitted)
              "
            >
              <ion-label position="floating">Logadouro*</ion-label>
              <ion-input
                type="text"
                formControlName="logradouro"
                placeholder="Ex: Av. Paulista"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-xs="12" size-sm="6" offset-sm="3">
            <ion-button expand="full" type="submit" color="warning"
              ><span class="icon-search"></span>&nbsp;Buscar</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>

  <!-- <ion-grid *ngIf="logradouros">
    <ion-row *ngFor="let logradouro of logradouros" class="logradouro">
      <ion-col (click)="onCepClick(logradouro)">
        <ion-label
          ><p>{{ logradouro.logradouro }} {{ logradouro.complemento }}</p>
          <p>
            <strong>{{ logradouro.cep }}</strong> - {{ logradouro.bairro }}
          </p>
        </ion-label>
      </ion-col>
      <ion-col size="2" text-end
        ><ion-button fill="clear" 
          ><span class="icon-chevron-r"></span></ion-button
      ></ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-list lines="full" *ngIf="logradouros" class="logradouros">
    <ion-item *ngFor="let local of logradouros" detail>
      <ion-label (click)="onLocalClick(local)"
        ><p>{{ local.logradouro }} {{ local.complemento }}</p>
        <p>
          <strong>{{ local.cep }}</strong> - {{ local.bairro }}
        </p>
      </ion-label>
      <!-- <span class="icon-chevron-r"></span> -->
    </ion-item>
  </ion-list>
  <!-- {{ logradouros | json }} -->
</ion-content>
