/* ion-header */
ion-header ion-toolbar {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

ion-header ion-toolbar.header [class^="icon-"] {
  // --color: var(--po-color-custom-contrast);
  color: var(--po-color-custom-contrast);
  font-size: 1.3rem;
}

ion-header ion-toolbar ion-title small {
  color: var(--po-color-custom-light);
}

ion-header ion-toolbar.header ion-badge {
  border-radius: 40%;
  --color: var(--po-color-custom);
  color: var(--po-color-custom);
  --background-color: var(--po-color-custom-contrast);
  background-color: var(--po-color-custom-contrast);
}

/* subheader */
ion-header ion-toolbar.subheader {
  --background: var(--po-color-custom-dark);
  --color: var(--po-color-custom-tint);
}

ion-header ion-toolbar.subheader ion-button {
  --background: var(--po-color-custom-tint);
  --color: var(--po-color-custom-contrast);
  margin-right: 10px;
}

/* .loja-fechada */
ion-header ion-toolbar.loja-fechada {
  --background: var(--ion-color-danger-shade);
}

ion-header ion-toolbar.loja-fechada strong {
  color: yellow;
  text-shadow: 1px 1px black;
}

/* loja-info */
ion-toolbar.loja-info ion-row.banner-loja .lefthand,
.loja-info ion-row.banner-loja .righthand {
  cursor: pointer;
}

.loja-info ion-row.banner-loja p {
  color: gray;
  border-bottom: 1px solid silver;
}

.loja-info ion-row.banner-loja p.no-line,
.loja-info ion-row.banner-loja span p:last-child {
  border-bottom: none;
}

.loja-info .banner-loja img {
  position: relative;
  top: -10px;
  height: 100px;
  z-index: 99999;
  border-radius: 0px 0px 8px 8px;
  // box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  // border: 1px solid silver;
  box-shadow: 5px 10px 18px #888888;
  cursor: default;
}

.loja-info.fechada img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* .grupos */
/* .grupos {
  --background: white; // var(--ion-color-custom-light);
  // --color: var(--ion-color-custom-contrast);
  // border-radius: 10px;
  cursor: pointer;
} */

.grupos {
  --background: var(--po-color-custom-contrast);
  --color: var(--po-color-custom);
}

.grupos ion-slide.active {
  // background-color: red;
  color: var(--po-color-custom);
  font-weight: bold;
  border-bottom: 2px solid var(--po-color-custom);
}

.grupos ion-slide {
  color: gray; // var(--ion-color-custom-tint);
}

/* .panel */
ion-toolbar.panel {
  --background: var(--po-panel-bg);
  border-radius: 4px;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-color: var(--ion-color-custom-light); // #aaa;
  --border-style: solid;
  --border-width: 1px;
  margin-top: 5px;
  margin-bottom: 0px;
}

ion-toolbar.panel ion-text span,
ion-toolbar.panel ion-button span {
  --color: var(--po-panel-icons);
  color: var(--po-panel-icons);
}

ion-toolbar.panel ion-label p {
  --color: var(--po-panel-text);
  color: var(--po-panel-text);
}

/* expanded */
ion-toolbar.panel.expanded,
ion-toolbar.panel.expanded ion-label p {
  --background: var(--po-panel-bg-active);
  // --color: var(--po-panel-text-active);
  // color: var(--po-panel-text-active);
}

ion-toolbar.panel.expanded ion-text span,
ion-toolbar.panel.expanded ion-button span {
  --color: var(--po-panel-icons-active);
  color: var(--po-panel-icons-active);
}

ion-toolbar.panel.expanded ion-label p {
  --color: var(--po-panel-text-active);
  color: var(--po-panel-text-active);
}

/* ion-slides */
ion-slides ion-slide ion-card ion-card-header span.icon-heart {
  color: tomato;
}

/* ion-footer
ion-footer ion-button {
  --background: var(--ion-color-custom-tint);
}

/* 
ion-header ion-toolbar [class^="icon-heart"] {
  font-size: 1.3rem;
}

.loja-info ion-row.banner-loja p .icon-chevron-d {
  color: silver;
}

ion-content [class^="icon-heart"] {
  color: tomato;
}

.carrinho {
  border-radius: 4px;
  border: 1px solid var(--ion-color-custom-light);
}
 */

/* .panel */
ion-toolbar.panel {
  --background: var(--po-color-panel-bg);
  // --color: var(--po-color-panel-text);
  // color: var(--po-color-panel-text);
  border-radius: 4px;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-color: var(--po-color-custom-light); // #aaa;
  --border-style: solid;
  --border-width: 1px;
  margin-top: 5px;
  margin-bottom: 0px;
}

ion-toolbar.panel ion-text span,
ion-toolbar.panel ion-button span {
  --color: var(--po-color-panel-icons);
  color: var(--po-color-panel-icons);
}

ion-toolbar.panel ion-label h2 {
  --color: var(--po-color-panel-text);
  color: var(--po-color-panel-text);
}

/* ion-card */
ion-card ion-button {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

/* expanded */
ion-toolbar.panel.expanded,
ion-toolbar.panel.expanded ion-label h2 {
  --background: var(--po-color-panel-bg-active);
  // --color: var(--po-color-panel-text-active);
  // color: var(--po-color-panel-text-active);
}

ion-toolbar.panel.expanded ion-text span,
ion-toolbar.panel.expanded ion-button span {
  --color: var(--po-color-panel-icons-active);
  color: var(--po-color-panel-icons-active);
}

ion-toolbar.panel.expanded ion-label h2,
ion-toolbar.panel.expanded ion-label p {
  --color: var(--po-color-panel-text-active);
  color: var(--po-color-panel-text-active);
}

/* ion-footer */
ion-footer ion-toolbar {
  --background: var(--po-color-custom);
}
