<ion-header [class.fechada]="loja.loj_b_fechada" *ngIf="loja">
  <!-- <p>grupos: {{ grupos | json }}</p> -->
  <!-- <p>gruSel: {{ gruSel | json }}</p> -->
  <ion-toolbar class="header">
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-toolbar text-center>
          <ion-back-button
            defaultHref="sel-loja"
            slot="start"
          ></ion-back-button>
          <ion-title
            >{{ loja.loj_c_loja }}
            <small *ngIf="loja.loj_b_nova">(nova)</small>
            <!-- <p>{{ scroll | json }} {{ searchOn }}</p> --></ion-title
          >
          <!-- <ion-menu-toggle slot="end" *ngIf="!searchOn">
            <ion-button fill="clear" >
              <span class="icon-menu"></span>
            </ion-button>
          </ion-menu-toggle> -->
          <ion-button
            fill="clear"
            slot="end"
            (click)="onCarrinhoClick()"
            *ngIf="!searchOn"
          >
            <ion-badge>1</ion-badge>
            <span class="icon-cart"></span>
          </ion-button>
          <ion-button
            slot="end"
            fill="clear"
            (click)="onToggleFavClick()"
            *ngIf="searchOn"
          >
            <span
              [ngClass]="{
                'icon-heart': loja.loj_b_favorita,
                'icon-heart-empty': !loja.loj_b_favorita
              }"
            ></span>
          </ion-button>
        </ion-toolbar>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-toolbar class="subheader">
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col>
          <ion-toolbar class="subheader">
            <ion-button
              slot="start"
              fill="solid"
              (click)="onExibicaoToggleClick()"
            >
              <span
                [ngClass]="{
                  'icon-cols': exibicao == 'lis',
                  'icon-bullets': exibicao == 'sli'
                }"
              ></span>
            </ion-button>
            <ion-searchbar
              placeholder="Produto?"
              [(ngModel)]="filter"
              showCancelButton="false"
              (ionClear)="onLimpaProcura()"
              (keyup.enter)="onBuscaGrupos()"
              text-start
            ></ion-searchbar>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-toolbar class="loja-fechada" text-center *ngIf="loja.loj_b_fechada">
    <strong>LOJA FECHADA</strong>
    <!-- <p style="color: yellow">jwt: {{ jwt | json }}</p> -->
    <!-- <p style="color: yellow">{{ loja | json }}</p> -->
  </ion-toolbar>
</ion-header>

<ion-content
  *ngIf="loja"
  [class.fechada]="loja.loj_b_fechada"
  [scrollEvents]="scrollEvents"
  (ionScroll)="onScroll($event)"
  (ionScrollEnd)="onScrollEnd($event)"
>
  <ion-toolbar class="loja-info" no-padding>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col>
          <ion-grid fixed no-padding>
            <ion-row class="banner-loja">
              <ion-col
                class="flex-center"
                (click)="onLojaInfoClick(Tab.detalhes)"
              >
                <ion-label class="lefthand" text-center>
                  <p>{{ loja.loj_c_tipo }}</p>
                  <p>
                    <strong>{{ intervalos.today.dlong }}</strong>
                  </p>
                  <p class="no-line" *ngIf="intervalos.today.ints.length == 0">
                    NÃO ABRE
                  </p>
                  <span *ngFor="let int of intervalos.today.ints">
                    <p>{{ int }}</p>
                  </span>
                  <p class="no-line"><span class="icon-chevron-d"></span></p>
                </ion-label>
              </ion-col>

              <ion-col text-center>
                <img src="{{ url_imgs }}/lojas/{{ idLoja }}.jpg" alt=""
              /></ion-col>

              <ion-col
                class="flex-container"
                (click)="onLojaInfoClick(Tab.avaliacoes)"
              >
                <div class="flex-left">
                  <ion-label class="righthand" text-center>
                    <p>
                      <span class="icon-time"></span>&nbsp;{{
                        loja.loj_f_media_despacho | number
                      }}min
                    </p>
                    <p>
                      <span class="icon-shipping"
                        >&nbsp;{{ loja.taxa_entrega | number: "1.2-2" }}</span
                      >
                    </p>
                    <p class="no-line">
                      <span class="icon-star"></span>&nbsp;{{
                        loja.loj_f_media_avaliacoes | number
                      }}
                    </p>
                    <p class="no-line">
                      <span class="icon-chevron-d"></span>
                    </p>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-grid fixed no-padding>
    <ion-toolbar *ngIf="grupos && grupos.length == 0">
      <ion-label padding text-center
        ><p>Nenhum produto encontrado.</p></ion-label
      >
    </ion-toolbar>

    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <div [ngSwitch]="exibicao" *ngIf="grupos">
              <div *ngSwitchCase="'sli'">
                <div *ngFor="let grupo of grupos">
                  <ion-toolbar
                    class="panel"
                    [class.expanded]="gruSel?.gpr_pk === grupo.gpr_pk"
                    *ngIf="grupo.gpr_i_num_produtos > 0"
                  >
                    <ion-label
                      ><h2>
                        {{ grupo.gpr_c_grupo }}
                        <span>({{ grupo.gpr_i_num_produtos }})</span>
                      </h2>
                    </ion-label>
                    <ion-button
                      slot="end"
                      fill="clear"
                      (click)="onSelCatClick(grupo)"
                    >
                      <!-- <ion-icon name="ios-arrow-down"></ion-icon> -->
                      <span
                        [class.icon-chevron-d]="grupo.gpr_pk != gruSel.gpr_pk"
                      ></span>
                    </ion-button>
                  </ion-toolbar>

                  <ion-toolbar *ngIf="grupo.gpr_pk == gruSel.gpr_pk">
                    <ion-slides [options]="sliSlideOpts">
                      <ion-slide *ngFor="let produto of produtos">
                        <ion-card>
                          <ion-card-header>
                            <span
                              class="icon-heart"
                              *ngIf="produto.pro_b_favorito"
                            ></span>
                            {{ produto.pro_c_produto }}
                          </ion-card-header>
                          <ion-card-content>
                            <ion-img
                              [src]="pro_img(produto.pro_c_img)"
                              alt=""
                              class="logo"
                              slot="start"
                              (click)="onZoomImgClick(produto.pro_c_img)"
                            ></ion-img>
                            <po-preco-produto
                              [produto]="produto"
                              [lojaFechada]="loja.loj_b_fechada"
                            ></po-preco-produto>
                            <ion-button
                              expand="full"
                              *ngIf="!loja.loj_b_fechada"
                              (click)="onProdutoSelClick(produto)"
                              >Adicionar</ion-button
                            >
                          </ion-card-content>
                        </ion-card>
                      </ion-slide>
                    </ion-slides>
                  </ion-toolbar>
                </div>
              </div>
              <div *ngSwitchDefault>
                <ion-row>
                  <ion-col>
                    <ion-toolbar class="grupos">
                      <ion-slides [options]="lisSlideOpts">
                        <ion-slide
                          *ngFor="let grupo of grupos"
                          (click)="onSelCatClick(grupo)"
                          [class.active]="gruSel?.gpr_pk === grupo.gpr_pk"
                          [hidden]="grupo.gpr_i_num_produtos == 0"
                        >
                          <p>
                            {{ grupo.gpr_c_grupo }}
                            <span>({{ grupo.gpr_i_num_produtos }})</span>
                          </p>
                        </ion-slide>
                      </ion-slides>
                    </ion-toolbar>
                    <ion-row>
                      <!-- <p>{{ gruSel | json }}</p> -->
                      <ion-col
                        size-xs="12"
                        size-md="6"
                        *ngFor="let produto of produtos"
                      >
                        <po-produto-item
                          [produto]="produto"
                          [lojaFechada]="loja.loj_b_fechada"
                          (onImgClick)="onZoomImgClick($event)"
                          (onSelect)="onProdutoSelClick($event)"
                        ></po-produto-item>
                      </ion-col>
                      <!-- <p>{{ produtos | json }}</p> -->
                    </ion-row>
                  </ion-col>
                  <!-- <ion-col
                    size="4"
                    class="carrinho"
                    *ngIf="devWidth > 1140"
                    no-padding
                  >
                    <ion-toolbar class="carrinho">
                      <ion-title text-center>Seu pedido</ion-title>
                    </ion-toolbar>
                    <p>{{ devWidth }}</p>
                  </ion-col> -->
                </ion-row>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="(conta || local) && (loja && footerOn)" no-padding>
  <ion-toolbar>
    <po-conta-info [conta]="conta" *ngIf="conta || local"></po-conta-info>
  </ion-toolbar>
</ion-footer>
