<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Parceiros</li>
    <li class="breadcrumb-item active" aria-current="page">Participar</li>
  </ol>
</nav>
