<ion-toolbar no-padding
  ><ng-container *ngIf="jwt; else noJwt">
    <!-- <p>filter: {{ filter }}</p> -->
    <ion-toolbar color="light" class="search">
      <ion-button slot="start" (click)="onNovoClick()">
        <span class="icon-plus"></span>&nbsp;Novo
      </ion-button>
      <ion-searchbar
        placeholder="Logradouro?"
        [(ngModel)]="filter"
        showCancelButton="false"
        (ionClear)="onLimpaProcura()"
        (keyup.enter)="onRefresh()"
        text-start
      ></ion-searchbar>
    </ion-toolbar>
    <!-- <p>enderecos: {{ enderecos | json }}</p> -->
    <div *ngIf="enderecos">
      <ion-label text-center padding *ngIf="enderecos.length == 0"
        ><p>Nenhum endereço encontrado.</p></ion-label
      >
      <ion-list lines="full">
        <ion-item button *ngFor="let endereco of enderecos">
          <ion-button
            color="light"
            [disabled]="endereco.end_b_favorito"
            (click)="onFavoritoClick(endereco)"
            slot="start"
          >
            <span
              [ngClass]="{
                'icon-heart': endereco.end_b_favorito,
                'icon-heart-empty': !endereco.end_b_favorito
              }"
            ></span>
          </ion-button>
          <ion-label (click)="onEnderecoClick(endereco)"
            ><h2>
              {{ endereco.end_c_logradouro }}, {{ endereco.end_i_nro }}
              {{ endereco.end_c_complemento }}
            </h2>
            <p>{{ endereco.end_c_bairro }} {{ endereco.end_c_referencia }}</p>
            <p>
              <strong>{{ endereco.end_c_cep | cep }}</strong> -
              {{ endereco.end_c_localidade }},
              {{ endereco.end_c_uf }}
            </p>
          </ion-label>
          <!-- <span class="icon-vdots" (click)="onMenuClick(endereco)"></span> -->
          <ion-button color="light" slot="end" (click)="onMenuClick(endereco)"
            ><span class="icon-vdots"></span>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
    <!-- <p>{{ enderecos | json }}</p> -->
  </ng-container>
  <ng-template #noJwt>
    <po-login (onLogin)="onLogin($event)"></po-login>
  </ng-template>
</ion-toolbar>
