/* ion-toolbar */
ion-toolbar ion-button {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

/* ion-item */
ion-item ion-label h2 {
  color: var(--po-color-title);
}

ion-item ion-label p {
  color: var(--po-color-text);
}

ion-item ion-button span {
  color: var(--po-color-custom);
}

/* ion-item ion-button span.icon-heart {
  color: tomato;
} */