<ion-header>
  <ion-toolbar text-center>
    <ion-title>Seus endereços</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()" color="light"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button [value]="Tab.armazenados"
      >Armazenados</ion-segment-button
    >
    <ion-segment-button [value]="Tab.conta">Conta</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="Tab.armazenados">
      <po-local-armazenados (onSel)="onSelClick($event)"></po-local-armazenados>
    </div>
    <div *ngSwitchDefault>
      <po-enderecos-conta (onSel)="onSelClick($event)"></po-enderecos-conta>
    </div>
  </div>
</ion-content>
