ion-toolbar {
  background-color: var(--ion-color-warning);
}

h5 {
  color: var(--ion-color-warning);
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

/* ion-grid ion-row {
  border-bottom: 1px solid silver;
}

ion-grid ion-col {
  color: gray;
} */

ion-grid ion-row ion-col {
  color: gray; // var(--ion-color-warning-shade);
}

ion-grid ion-row.today ion-col {
  font-weight: bold;
  color: var(--ion-color-warning-shade);
}

pre {
  margin: 0px;
  padding: 0px;
}

img {
  height: 32px;
}