<!-- <p>Loja: {{ loja | json }}</p> -->
<!-- <p *ngIf="horarios">horarios: {{ horarios.days | json }}</p> -->
<div *ngIf="loja && horarios">
  <po-loja-item [loja]="loja" [border]="false"></po-loja-item>

  <h5 class="strike" text-center><span>Horários de funcionamento</span></h5>

  <ion-grid>
    <ion-row
      *ngFor="let int of [0, 1, 2, 3, 4, 5, 6]"
      [class.today]="horarios.days[int].dshort == horarios.today.dshort"
    >
      <ion-col size="2" text-end
        ><pre>{{ horarios.days[int].dshort }}</pre></ion-col
      >
      <ion-col text-center
        ><pre>{{ horarios.days[int].str || "NÃO ABRE" }}</pre></ion-col
      >
    </ion-row>
  </ion-grid>

  <h5 class="strike" text-center><span>Formas de pagamento</span></h5>

  <ion-grid>
    <ion-row>
      <ion-col size="4" size-sm="3" *ngFor="let forma of formas">
        <ion-toolbar text-center>
          <img
            src="{{ url_imgs }}/formas-pgto/{{ forma.fpg_c_img }}"
            alt=""
            cache="true"
          />
          <p>{{ forma.fpg_c_legenda }}</p>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
