<ion-header *ngIf="loja">
  <ion-toolbar color="warning" text-center>
    <ion-title>{{ loja.loj_c_loja }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()" color="light"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <p>{{ loja | json }}</p> -->
<ion-content #content *ngIf="loja">
  <ion-segment [(ngModel)]="tab" color="warning">
    <ion-segment-button [value]="Tab.detalhes">Detalhes</ion-segment-button>
    <ion-segment-button [value]="Tab.avaliacoes">Avaliações</ion-segment-button>
  </ion-segment>

  <!-- tab: {{ tab }} -->

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="Tab.avaliacoes">
      <po-loja-info-avaliacoes [loja]="loja"></po-loja-info-avaliacoes>
    </div>
    <div *ngSwitchDefault>
      <po-loja-info-detalhes [loja]="loja"></po-loja-info-detalhes>
    </div>
  </div>
</ion-content>
