<div class="container-fluid">
  <!-- {{ projetos | json }} -->

  <div class="row tiles">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let projeto of projetos">
      <div
        class="carousel slide tile one"
        [ngStyle]="{ 'background-color': '#' + projeto.prj_c_bg_color }"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3>
              <img
                src="assets/img/{{projeto.prj_c_icone}}"
                class="img-fluid icon"
              />
              <p class="caption">{{ projeto.prj_c_projeto }}</p>
            </h3>
          </div>
          <div class="carousel-item">
            <img src="assets/img/{{projeto.prj_c_logo}}" class="img-fluid" />
            <h3 class="caption">
              <p>{{ projeto.prj_c_descricao }}</p>
            </h3>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--
    <div class="row tiles">
      <div class="col-md-2">
        <div
          class="carousel slide tile one"
          [ngStyle]="{ 'background-color': '#' + corTema }"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h3>
                <img
                  src="assets/img/icon_descontante.png"
                  class="img-fluid icon"
                />
                <p class="caption">Descontante</p>
              </h3>
            </div>
            <div class="carousel-item">
              <img src="assets/img/logo_descontante.png" class="img-fluid" />
              <h3 class="caption"><p>Plataforma de descontos.</p></h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="carousel slide tile red" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h3>
                <img
                  src="assets/img/icon_frigolabel.png"
                  class="img-fluid icon"
                />
                <p class="caption">Frigolabel</p>
              </h3>
            </div>
            <div class="carousel-item">
              <img src="assets/img/logo_frigolabel.png" class="img-fluid" />
              <h3 class="caption">
                <p>Etiquetas testeiras para frigoríficos.</p>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="carousel slide tile green" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h3>
                <img src="assets/img/icon_pedeon.png" class="img-fluid icon" />
                <p class="caption">Pede On</p>
              </h3>
            </div>
            <div class="carousel-item">
              <img src="assets/img/logo_pedeon.png" class="img-fluid" />
              <h3 class="caption"><p>Delivery online.</p></h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="carousel slide tile blue" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h3>
                <img src="assets/img/icon_pointplus.png" class="img-fluid icon" />
                <p class="caption">Point Plus</p>
              </h3>
            </div>
            <div class="carousel-item">
              <img src="assets/img/logo_pointplus.png" class="img-fluid" />
              <h3 class="caption">
                <p>Plataforma de avaliação de profissionais.</p>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
</div>
