<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Config</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>
  <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="onModalClose()" fill="clear">
      <ion-icon name="close" slot="start"></ion-icon>
      Fechar
    </ion-button>
    <ion-button (click)="onZoomClick(true)" fill="clear">
      <ion-icon name="add" slot="start"></ion-icon>
      Ampliar
    </ion-button>
    <ion-button (click)="onZoomClick()" fill="clear">
      <ion-icon name="remove" slot="start"></ion-icon>
      Reduzir
    </ion-button>
  </ion-item>
  <!-- <p>img: {{ img }}</p>
  <p>url_imgs: {{ url_imgs }}</p> -->

  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img [src]="img" alt="" />
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
