/* ion-toolbar {
  background-color: var(--ion-color-primary);
} */

ion-button {
  --color: var(--po-color-custom);
}

.close-fake {
  --background: transparent;
  ion-icon {
    font-size: 2rem;
  }
  margin-top: 40px;
}

ion-content {
  // --background: rgba(44, 39, 45, 0.5);
  --background: rgba(255, 255, 255, 0.5);
}

ion-slides {
  height: 80%;
}
