/*ion-toolbar */
ion-toolbar {
  padding: 5px;
  --background: white;
  border-bottom: #e1e1e1 solid 1px;
  /* border-radius: 10px; */
  /* box-shadow: 1px 1px 5px #e1e1e1; */
}

ion-toolbar ion-avatar {
  --border-radius: 10px;
  margin-right: 10px;
}

ion-toolbar ion-avatar ion-img {
  height: 64px;
  width: 64px;
}

ion-toolbar ion-avatar ion-img.off {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.fav {
  color: tomato !important;
}
