<ion-toolbar>
  <ion-avatar slot="start">
    <ion-img
      [src]="pro_img(produto.pro_c_img)"
      alt=""
      [class.off]="produto.pro_b_loja_fechada"
      (click)="onZoomImgClick(produto.pro_c_img)"
      cache="true"
      tappable
    ></ion-img>
  </ion-avatar>
  <ion-label text-start>
    <h2>
      <span class="icon-heart fav" *ngIf="produto.pro_b_favorito"></span>
      <p>
        <strong>{{ produto.pro_c_produto }}</strong>
      </p>
      <p>{{ produto.pro_c_loja }}&nbsp;•&nbsp;{{ produto.pro_c_grupo }}</p>
      <!-- <p>{{ produto | json }}</p> -->
      <po-preco-produto [produto]="produto"></po-preco-produto>
    </h2>
  </ion-label>
  <ion-button color="warning" [disabled]="produto.pro_b_loja_fechada" slot="end"
    ><span class="icon-plus"></span
  ></ion-button>
</ion-toolbar>
