<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Perguntas frequentes</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> Perguntas frequentes </ion-content>
