<ion-item *ngIf="loja">
  <ion-avatar slot="start">
    <ion-img
      src="{{ url_imgs }}/lojas/{{ loja.loj_pk }}.jpg"
      alt=""
      cache="true"
    ></ion-img>
  </ion-avatar>
  <ion-label text-start>
    <h2>
      <strong>{{ loja.loj_c_loja }}</strong>
    </h2>
    <p>{{ loja.loj_c_tipo }}</p>
  </ion-label>
  <ion-button color="danger" (click)="onSelClick(loja)" slot="end" *ngIf="delBtn">
    <span class="icon-trash"></span>
  </ion-button>
  <ion-button color="warning" (click)="onSelClick(loja)" slot="end" *ngIf="!delBtn">
    <span class="icon-chevron-r"></span>
  </ion-button>
</ion-item>
