/* ion-item */
ion-item ion-avatar {
  --border-radius: 10px;
  border-radius: 10px;
  height: 64px;
  width: 64px;
}

ion-item ion-label h2 {
  font-family: "Oswald", sans-serif;
  color: var(--po-color-title);
}

ion-item ion-label p {
  color: var(--po-color-text);
}
