<ion-header>
  <ion-toolbar text-center>
    <ion-title>{{ caption }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <p>novo: {{ novo }}</p> -->
<!-- <p>jwt: {{ jwt }}</p> -->
<!-- <p>setor: {{ setor | json }}</p> -->

<ion-content>
  <form novalidate [formGroup]="setorForm" (ngSubmit)="onSubmit()" padding>
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <ion-item
            [class.ion-invalid]="
              fv.error(setorForm.controls.setor, 'setor') &&
              setorForm.controls.setor.dirty
            "
          >
            <ion-label position="floating">Nome*</ion-label>
            <ion-input type="text" formControlName="setor"></ion-input>
          </ion-item>
          <small class="form-error">{{
            fv.error(setorForm.controls.setor, "setor")
          }}</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item
            [class.ion-invalid]="
              fv.error(setorForm.controls.taxaEntrega, 'taxaEntrega') &&
              setorForm.controls.taxaEntrega.dirty
            "
          >
            <ion-label position="floating">Taxa entrega</ion-label>
            <ion-input
              type="number"
              formControlName="taxaEntrega"
              text-right
            ></ion-input>
          </ion-item>
          <small class="form-error">{{
            fv.error(setorForm.controls.taxaEntrega, "taxaEntrega")
          }}</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <input type="checkbox" formControlName="ativo" />&nbsp;Ativo
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-sm="6" offset-sm="3">
          <ion-button expand="full" type="submit" [disabled]="!setorForm.valid"
            >Confirmar&nbsp;<span class="icon-check"></span
          ></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
