/* ion-header */
ion-header ion-toolbar {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

ion-button {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}
