<ion-label [class.off]="!produto.pro_b_ativo || lojaFechada" *ngIf="produto">
  <span [ngSwitch]="tipo">
    <p *ngSwitchCase="Tipo.promocional">
      <strong>{{
        produto.pro_f_preco_prom | currency: "BRL":true:"1.2-2"
      }}</strong
      >&nbsp;<span class="cut">{{
        produto.pro_f_preco | currency: "BRL":true:"1.2-2"
      }}</span>
    </p>
    <p *ngSwitchCase="Tipo.inicial">
      a partir de &nbsp;<strong>{{
        produto.menor_preco | currency: "BRL":true:"1.2-2"
      }}</strong>
    </p>
    <p *ngSwitchDefault>
      <strong>{{ produto.pro_f_preco | currency: "BRL":true:"1.2-2" }}</strong>
    </p>
  </span>
</ion-label>
