ion-label p {
  color: var(--po-color-text);
}

ion-label p strong {
  font-size: 1rem;
  font-weight: bold;
  color: var(--po-color-custom);
}

/* off */
ion-label.off p,
ion-label.off p strong {
  color: var(--po-color-text-off);
}

/* .cut */
ion-label p span.cut {
  text-decoration: line-through;
}
