<ion-toolbar [class.off]="loja.loj_b_fechada" [class.border]="border">
  <ion-avatar slot="start">
    <ion-img
      src="{{ url_imgs }}/lojas/{{ loja.loj_pk }}.jpg"
      alt=""
      cache="true"
    ></ion-img>
  </ion-avatar>
  <ion-label text-start>
    <h2>
      <span class="icon-heart fav" *ngIf="loja.loj_b_favorita"></span>
      <strong>{{ loja.loj_c_loja }}</strong>
    </h2>
    <p>{{ loja.loj_c_tipo }}</p>
    <p>
      <span class="icon-time"></span>&nbsp;{{
        loja.loj_f_media_despacho | number
      }}
      min&nbsp;&nbsp;•&nbsp;<span class="icon-money"></span>&nbsp;{{
        loja.taxa_entrega | number: "1.2-2"
      }}
    </p>
    <!--  <p *ngIf="loja.loj_b_fechada" class="loja-aberta" text-center>
      <strong> Loja aberta </strong>
    </p> -->
    <p *ngIf="loja.loj_b_fechada" class="loja-fechada" text-center>
      Fechada - <strong> {{ msgAbertura }} </strong>
    </p>
  </ion-label>
  <ion-label slot="end">
    <p *ngIf="loja.loj_b_nova" text-end>Novo</p>
    <p *ngIf="!loja.loj_b_nova" text-end>
      <span class="icon-star"></span>{{ loja.loj_f_media_avaliacoes | number }}
    </p>
  </ion-label>
</ion-toolbar>
