/* ion-toolbar */
ion-toolbar {
  padding: 5px;
  --background: white;
  cursor: pointer;
}

/* .border */
ion-toolbar.border {
  border: #e1e1e1 solid 1px;
  border-radius: 10px;
  /* box-shadow: 1px 1px 5px #e1e1e1; */
}

/* ion-avatar */
ion-toolbar ion-avatar {
  --border-radius: 10px;
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

/* icons */
[class^="icon-"] {
  color: var(--po-color-custom);
}

/* .fav */
ion-toolbar ion-label h2 .fav {
  color: tomato;
}

/* ion-label */
ion-toolbar ion-label h2 {
  font-family: "Oswald", sans-serif;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ion-toolbar ion-label p {
  color: gray;
}

/* .loja-fechada
ion-toolbar ion-label p.loja-fechada {
  color: tomato;
} */

/* .off
ion-toolbar.off,
ion-toolbar.off ion-label h2,
ion-toolbar.off ion-label h2 .fav,
ion-toolbar.off ion-label p,
ion-toolbar.off [class^="icon-"] {
  // opacity: 0.5;
  color: silver;
}

ion-toolbar.off ion-avatar ion-img {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
 */