/* .panel */
ion-toolbar.panel {
  --background: var(--po-color-panel-bg);
  // --color: var(--po-color-panel-text);
  // color: var(--po-color-panel-text);
  border-radius: 4px;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-color: var(--po-color-custom-light); // #aaa;
  --border-style: solid;
  --border-width: 1px;
  margin-top: 5px;
  margin-bottom: 0px;
}

ion-toolbar.panel ion-text span,
ion-toolbar.panel ion-button span {
  color: var(--po-color-panel-icons);
}

ion-toolbar.panel ion-label h2 {
  color: var(--po-color-panel-title);
}

ion-toolbar.panel ion-text p {
  color: var(--po-color-panel-icons);
  margin-right: 15px;
}

/* expanded */
ion-toolbar.panel.expanded {
  --background: var(--po-color-panel-bg-active);
}

ion-toolbar.panel.expanded ion-text span,
ion-toolbar.panel.expanded ion-button span {
  --color: var(--po-color-panel-icons-active);
  color: var(--po-color-panel-icons-active);
}

ion-toolbar.panel.expanded ion-label h2,
ion-toolbar.panel.expanded ion-label p {
  color: var(--po-color-panel-text-active);
}

ion-toolbar.panel.expanded ion-text p {
  color: var(--po-color-panel-icons-active);
  margin-right: 15px;
}

/* .blocked */
ion-toolbar.panel ion-text p.blocked {
  // color: red !important;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

/* .off */
.off {
  text-decoration: line-through;
  color: var(--po-panel-text);
}

/* expanded 
ion-toolbar.panel.expanded,
ion-toolbar.panel.expanded ion-label p {
  --background: var(--po-panel-bg-active);
  // --color: var(--po-panel-text-active);
  // color: var(--po-panel-text-active);
}

ion-toolbar.panel.expanded ion-text p,
ion-toolbar.panel.expanded ion-button span {
  --color: var(--po-panel-icons-active);
  color: var(--po-panel-icons-active);
}

ion-toolbar.panel.expanded ion-label p {
  --color: var(--po-panel-text-active);
  color: var(--po-panel-text-active);
}
*/

/* .blocked */
ion-toolbar.panel ion-text p.blocked {
  // color: red !important;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

/* .off */
ion-toolbar.expanded .off {
  text-decoration: line-through;
  color: var(--po-panel-text-active);
}
