/* ion-segment  */
ion-segment ion-segment-button {
  --color: var(--po-color-text);
  --color-checked: var(--po-color-custom);
}

/* ion-button */
ion-button {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}
