<!-- <p>detalhes: {{ detalhes | json }}</p> -->
<div *ngIf="detalhes">
  <ion-label padding *ngIf="detalhes.length == 0" text-center>
    <p>Nenhum detalhe encontrado.</p>
  </ion-label>

  <div *ngFor="let detalhe of detalhes">
    <ion-toolbar class="panel" [class.expanded]="detalhe.expanded">
      <ion-text slot="start" text-center>
        <p
          class="icon-chevron-u"
          [class.blocked]="detalhe.prior == 0"
          (click)="onSwapPosClick(detalhe)"
        ></p>
        <p
          class="icon-chevron-d"
          [class.blocked]="detalhe.next == 0"
          (click)="onSwapPosClick(detalhe, false)"
        ></p>
      </ion-text>
      <ion-label [class.off]="!detalhe.det_b_ativo">
        <h2>
          {{ detalhe.det_c_detalhe }}
          <span>({{ detalhe.det_i_num_itens }})</span>
        </h2>
        <p>
          {{ detalhe.det_f_valor | currency: "BRL":true:"1.2-2" }}
        </p>
        <p>
          min: {{ detalhe.det_i_min }}&nbsp;•&nbsp; max:
          {{ detalhe.det_i_max }}
        </p>
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="onMenuDetalheClick(detalhe)">
        <span class="icon-vdots"></span>
      </ion-button>
    </ion-toolbar>

    <div *ngIf="detalhe.itens.length != 0; else vazio">
      <ion-toolbar>
        <ion-label text-center>
          <p>
            {{ detalhe.itens.length }} ite{{
              detalhe.itens.length == 1 ? "m" : "ns"
            }}
          </p>
        </ion-label>
        <ion-button
          fill="clear"
          color="warning"
          slot="end"
          (click)="detalhe.expanded = !detalhe.expanded"
        >
          {{ detalhe.expanded ? "Ocultar" : "Ver" }}
        </ion-button>
      </ion-toolbar>
      <div *ngIf="detalhe.expanded">
        <ion-list lines="none">
          <ion-item *ngFor="let item of detalhe.itens">
            <ion-label [class.off]="!item.idp_b_ativo">
              <p>
                {{ item.idp_c_item }}&nbsp;•&nbsp;{{
                  item.idp_f_valor | currency: "BRL":true:"1.2-2"
                }}
              </p>
            </ion-label>
            <ion-button
              slot="end"
              fill="clear"
              (click)="onMenuItemClick(detalhe, item)"
              ><span class="icon-vdots"></span
            ></ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <ng-template #vazio>
      <ion-label padding text-center>
        <p>Nenhum item encontrado.</p>
      </ion-label>
    </ng-template>
  </div>
</div>
