<!-- <p>idProduto: {{ idProduto }}</p> -->
<!-- <p>jwt: {{ jwt }}</p> -->
<!-- <p>detalhes: {{ detalhes | json }}</p> -->
<div *ngIf="detalhes">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button
          class="ion-margin-top"
          expand="block"
          (click)="onNovoDetalheClick()"
        >
          <span class="icon-plus"></span>&nbsp;Novo
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          class="ion-margin-top"
          expand="block"
          (click)="onNovoDetalheClick()"
        >
          <span class="icon-copy"></span>&nbsp;Buscar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment [(ngModel)]="tab">
    <ion-segment-button [value]="Tab.obrigatorios"
      >Obrigatórios ({{ detalhes.obrigatorios.length }})</ion-segment-button
    >
    <ion-segment-button [value]="Tab.opcionais"
      >Opcionais ({{ detalhes.opcionais.length }})</ion-segment-button
    >
  </ion-segment>

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="Tab.opcionais">
      <po-detalhes-list
        [idLoja]="idLoja"
        [idProduto]="idProduto"
        [detalhes]="detalhes.opcionais"
        (onChanged)="onDetalhesChanged()"
      ></po-detalhes-list>
    </div>
    <div *ngSwitchDefault>
      <po-detalhes-list
        [idLoja]="idLoja"
        [idProduto]="idProduto"
        [detalhes]="detalhes.obrigatorios"
        (onChanged)="onDetalhesChanged()"
      ></po-detalhes-list>
    </div>
  </div>
</div>
