<!-- <p>produto: {{ produto | json }}</p> -->
<ion-header *ngIf="produto">
  <ion-toolbar text-center>
    <ion-title>{{ caption }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <p>tab: {{ tab }}</p> -->
<!-- <p>produto: {{ produto | json }}</p> -->
<ion-content padding *ngIf="produto">
  <ion-segment [(ngModel)]="tab" *ngIf="!this.novo">
    <ion-segment-button [value]="Tab.produto">Produto</ion-segment-button>
    <ion-segment-button [value]="Tab.detalhes"
      >Detalhes ({{ produto.num_detalhes }})</ion-segment-button
    >
  </ion-segment>

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="Tab.detalhes">
      <po-produto-form-detalhes
        [idLoja]="idLoja"
        [idProduto]="produto.pro_pk"
        (onChanged)="onDetalhesChanged()"
        *ngIf="produto"
      ></po-produto-form-detalhes>
      <!-- <po-detalhes
        (onFalhaproduto)="tab = Tab.produto"
      ></po-detalhes> -->
    </div>
    <div *ngSwitchDefault>
      <po-produto-form-produto
        [idLoja]="idLoja"
        [produto]="produto"
      ></po-produto-form-produto>
      <!-- <po-produto (onproduto)="onproduto($event)"></po-produto> -->
    </div>
  </div>
</ion-content>
