<!-- <p>{{ idLoja }}</p> -->
<!-- <p>{{ produto | json }}</p> -->
<form [formGroup]="produtoForm" novalidate (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.error(produtoForm.controls.produto, 'produto') &&
            produtoForm.controls.produto.dirty
          "
        >
          <ion-label position="fixed">Nome*</ion-label>
          <ion-input type="text" formControlName="produto"></ion-input>
        </ion-item>
        <small class="form-error">{{
          fv.error(produtoForm.controls.produto, "produto")
        }}</small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            !produtoForm.controls.idGrupo.valid &&
            produtoForm.controls.idGrupo.dirty
          "
        >
          <!-- <p>{{ produtoForm.controls.idGrupo.value }}</p> -->
          <ion-label position="fixed">Grupo*</ion-label>
          <ion-select
            formControlName="idGrupo"
            interface="alert"
            okText="Ok"
            cancelText="Cancelar"
          >
            <!-- <ion-select-option value="">-- Selecione grupo --</ion-select-option> -->
            <ion-select-option
              *ngFor="let grupo of grupos"
              [value]="grupo.gpr_pk"
              [selected]="produto && grupo.gpr_pk == produto.pro_fk_grupo"
              >{{ grupo.gpr_c_grupo }}
              <!-- {{ grupo.gpr_pk }}&nbsp;==&nbsp;{{ produto.pro_fk_grupo }} -->
            </ion-select-option>
          </ion-select>
        </ion-item>
        <small class="form-error">{{
          fv.error(produtoForm.controls.idGrupo)
        }}</small>
      </ion-col>
    </ion-row>

    <!-- <ion-label>Preços</ion-label> -->
    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-item
          [class.ion-invalid]="
            fv.error(produtoForm.controls.preco, 'preco') &&
            produtoForm.controls.preco.dirty
          "
        >
          <ion-label position="floating">Preço normal*</ion-label>
          <ion-input type="number" formControlName="preco" text-end></ion-input>
        </ion-item>
        <small class="form-error">{{
          fv.error(produtoForm.controls.preco, "preco")
        }}</small>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <ion-item>
          <ion-label position="floating">Preço promocional</ion-label>
          <ion-input
            type="number"
            formControlName="precoProm"
            text-end
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.error(produtoForm.controls.barcode, 'barcode') &&
            produtoForm.controls.barcode.dirty
          "
        >
          <ion-label position="fixed">Barcode</ion-label>
          <ion-input type="tel" formControlName="barcode"></ion-input>
        </ion-item>
        <small class="form-error">{{
          fv.error(produtoForm.controls.barcode, "barcode")
        }}</small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-label position="stacked">Imagem</ion-label>
        <ion-item lines="none" *ngIf="produto && produto.pro_c_img">
          <ion-img
            [src]="pro_img(produto.pro_c_img)"
            alt=""
            (click)="onZoomImgClick(produto.pro_c_img)"
            cache="true"
            tappable
          ></ion-img>
        </ion-item>
        <!-- <ion-row>
          <ion-col>
            <ion-button expand="block" fill="solid" color="light"
              ><span class="icon-upload"></span
            ></ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" fill="solid" color="light"
              ><span class="icon-search"></span
            ></ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" fill="solid" color="light"
              ><span class="icon-barcode"></span
            ></ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" fill="solid" color="danger">
              <span class="icon-trash"></span>
            </ion-button>
          </ion-col>
        </ion-row> -->
        <!-- <ion-col no-padding>
          <ion-button expand="block" fill="clear" color="dark"
            ><span class="icon-search"></span
          ></ion-button>
        </ion-col>
        <ion-col no-padding>
          <ion-button expand="block" fill="clear" color="danger">
            <span class="icon-trash"></span>
          </ion-button>
        </ion-col> -->
      </ion-col>

      <ion-col size="12" size-sm="6">
        <ion-item lines="none">
          <ion-label position="stacked">Descrição</ion-label>
          <ion-textarea formControlName="descricao" rows="10"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <ion-toolbar>
          <ion-item>
            <ion-label id="profile_image" color="primary" fixed
              >Imagem</ion-label
            >
            <ion-input
              type="file"
              accept="image/*"
              (change)="changeListener($event)"
            ></ion-input>
          </ion-item>

          <ion-item slot="end">
            <ion-button expand="block" fill="clear" color="dark"
              ><span class="icon-search"></span
            ></ion-button>

            <ion-button expand="block" fill="clear" color="danger">
              <span class="icon-trash"></span>
            </ion-button>
          </ion-item>
        </ion-toolbar>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <input type="checkbox" formControlName="ativo" />&nbsp;Ativo
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="4" offset-sm="4">
        <ion-button expand="full" type="submit" [disabled]="!produtoForm.valid"
          >Confirmar &nbsp;<span class="icon-check"></span
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
