<ion-header>
  <ion-toolbar>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-toolbar text-center>
          <ion-back-button
            color="light"
            defaultHref="sel-local"
            slot="start"
          ></ion-back-button>
          <ion-title>Seleção de loja</ion-title>
          <!-- <ion-menu-toggle slot="end">
            <ion-button fill="clear" color="light">
              <span class="icon-menu"></span>
            </ion-button>
          </ion-menu-toggle> -->
          <ion-button
            fill="clear"
            color="light"
            slot="end"
            (click)="onCarrinhoClick()"
          >
            <ion-badge>1</ion-badge>
            <span class="icon-cart"></span>
          </ion-button>
        </ion-toolbar>

        <!-- <ion-col size-xs="2" size-sm="1">
          <ion-back-button defaultHref="sel-local"></ion-back-button>
        </ion-col>
        <ion-col> <ion-title> Seleção de loja </ion-title> </ion-col>
        <ion-col size-xs="2" size-sm="1">
          <ion-menu-toggle>
            <ion-button fill="clear">
              <span class="icon-menu"></span>
            </ion-button>
          </ion-menu-toggle>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar class="subheader" *ngIf="categoriasLojas && categoriasOn">
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col>
          <ion-slides [options]="slideOpts">
            <ion-slide
              *ngFor="let ctl of categoriasLojas"
              (click)="onSelCatClick(ctl)"
              [class.active]="catSel?.ctl_pk === ctl.ctl_pk"
            >
              <p>{{ ctl.ctl_c_categoria }}</p>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content
  [scrollEvents]="scrollEvents"
  (ionScroll)="onScroll($event)"
  (ionScrollEnd)="onScrollEnd($event)"
>
  <ion-toolbar color="light">
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col>
          <ion-toolbar color="light">
            <ion-button
              slot="start"
              (click)="onOrderByClick()"
              class="order-by"
            >
              <span
                [ngClass]="{
                  'icon-star': orderBy.tag == 'ava',
                  'icon-money': orderBy.tag == 'tax',
                  'icon-time': orderBy.tag == 'tem'
                }"
              >
              </span>
              <span id="order-caption">&nbsp;{{ orderBy.caption }}</span>
              &nbsp;<span class="icon-chevron-d"></span>
            </ion-button>
            <ion-searchbar
              text-center
              [(ngModel)]="buff"
              placeholder="Procurando?"
              text-start
              (keyup.enter)="onProcuraSubmit()"
              showCancelButton="false"
            ></ion-searchbar>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-grid fixed no-padding>
    <ion-row>
      <ion-col>
        <ion-row *ngIf="lojas && lojas.all">
          <ion-col *ngIf="lojas.all.length == 0">
            <ion-label text-center> <p>Nenhuma loja encontrada.</p> </ion-label>
          </ion-col>

          <ion-col
            size-xs="12"
            size-md="6"
            size-xl="4"
            *ngFor="let loja of lojas.all"
          >
            <po-loja-item
              [loja]="loja"
              [routerLink]="['/loja', loja.loj_pk]"
              [border]="true"
              routerDirection="forward"
            ></po-loja-item>
          </ion-col>

          <ion-infinite-scroll
            threshold="100px"
            (ionInfinite)="onLoadData($event)"
          >
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Carregando..."
            >
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="categoriasOn" no-padding>
  <po-conta-info [conta]="conta" *ngIf="conta || local"></po-conta-info>
</ion-footer>
