/* ion-header */
ion-header ion-toolbar {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

ion-header ion-toolbar .icon-cart {
  // --color: var(--po-color-custom-contrast);
  color: var(--po-color-custom-contrast);
  font-size: 1.3rem;
}

ion-header ion-toolbar ion-badge {
  border-radius: 40%;
  --color: var(--po-color-custom);
  color: var(--po-color-custom);
  --background-color: var(--po-color-custom-contrast);
  background-color: var(--po-color-custom-contrast);
}

/* .subheader */
ion-header ion-toolbar.subheader {
  --background: var(--po-color-custom-dark);
  --color: var(--po-color-custom-tint);
}

ion-header ion-toolbar.subheader .active {
  color: var(--po-color-custom-contrast);
  font-weight: bold;
  border-bottom: 2px solid var(--po-color-custom-contrast);
}

ion-header ion-toolbar ion-slide {
  cursor: pointer;
}

/* .order-by */
ion-content ion-label.sort p span {
  color: var(--po-color-custom-tint);
}

ion-button.order-by {
  --background: var(--po-color-custom-tint);
  --color: var(--po-color-custom-contrast);
  margin-right: 10px;
}

#order-caption {
  display: block;
}

@media only screen and (max-width: 540px) {
  #order-caption {
    display: none;
  }
}

span.icon-down,
span.icon-chevron-d {
  margin-top: 3px;
  font-size: 0.5rem;
}

/* content */
/* ion-content ion-searchbar {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  -webkit-padding-end: 0px;
  padding-inline-end: 0px;
} */

/* 
ion-toolbar span.icon-cart {
  font-size: 1.3rem;
}

ion-toolbar ion-badge {
  border-radius: 40%;
  --color: var(--po-color-custom);
  color: var(--po-color-custom);
  --background-color: var(--po-color-custom-contrast);
  background-color: var(--po-color-custom-contrast);
}

/* subheader 
ion-toolbar.subheader {
  --background: var(--po-color-custom-dark);
  --color: var(--po-color-custom-tint);
}

ion-toolbar.subheader .active {
  color: var(--po-color-custom-contrast);
  font-weight: bold;
  border-bottom: 2px solid var(--po-color-custom-contrast);
}

ion-toolbar ion-slide {
  cursor: pointer;
}


ion-content ion-label.sort {
  cursor: pointer;
}

ion-content ion-label.sort p {
  margin-top: 20px;
}


ion-content po-loja-item {
  cursor: pointer;
}
 */

/* ion-footer */
ion-footer ion-toolbar {
  --background: var(--po-color-custom);
}
