/* ion-item */
ion-item {
  padding: 10px;
}

ion-item ion-avatar {
  height: 64px;
  width: 64px;
  --border-radius: 10px;
  border-radius: 10px;
}

ion-item ion-img {
  height: 64px;
  width: 64px;
  padding-right: 15px;
}

ion-item ion-label h2 {
  font-family: "Oswald", sans-serif;
  color: var(--po-color-title);
}

/* ion-item ion-label h2 .fav {
  color: tomato !important;
} */

ion-item ion-label p {
  color: var(--po-color-text);
  font-style: italic;
}

/* .off */
ion-item.off ion-label h2,
ion-item.off ion-label p {
  // opacity: 0.5;
  color: silver;
}

ion-item.off ion-img {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* ion-item 
ion-item {
  --background: white;
}


ion-item ion-label h2 {
  color: #444;
}

ion-label p {
  // padding-right: 8px;
  font-style: italic; 
}
*/
