<ion-item *ngIf="produto" [class.off]="!produto.pro_b_ativo">
  <ion-avatar slot="start">
    <ion-img
      [src]="pro_img(produto.pro_c_img)"
      alt=""
      (click)="onZoomImgClick(produto.pro_c_img)"
      cache="true"
      tappable
    ></ion-img>
  </ion-avatar>
  <ion-label text-start>
    <h2>
      <strong>{{ produto.pro_c_produto }}</strong>
    </h2>
    <p>{{ produto.pro_c_descricao }}</p>
    <po-preco-produto [produto]="produto"></po-preco-produto>
  </ion-label>
  <ion-button
    color="danger"
    (click)="onSelClick(produto)"
    slot="end"
    *ngIf="delBtn"
  >
    <span class="icon-trash"></span>
  </ion-button>
  <ion-button (click)="onSelClick(produto)" slot="end" *ngIf="!delBtn">
    <span class="icon-chevron-r"></span>
  </ion-button>
</ion-item>
