<ion-header *ngIf="produto">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="onToggleFavClick()">
        <span
          [ngClass]="{
            'icon-heart': produto.pro_b_favorito,
            'icon-heart-empty': !produto.pro_b_favorito
          }"
        ></span>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>{{ produto.pro_c_produto }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <p>jwt: {{ jwt }}</p> -->
<!-- <p>{{ idProduto }}</p> -->
<!-- <p>{{ produto | json }}</p> -->
<!-- <p>{{ loja | json }}</p> -->
<ion-content *ngIf="produto">
  <ion-grid no-padding class="subheader">
    <ion-row>
      <ion-col size="4" offset="2" text-center>
        <img
          src="{{ url_imgs }}/lojas/{{ loja.loj_pk }}.jpg"
          alt=""
          cache="true"
          class="loja"
          tappable
        />
      </ion-col>
      <ion-col size="4" text-center>
        <img
          [src]="pro_img(produto.pro_c_img)"
          alt=""
          (click)="onZoomImgClick(produto.pro_c_img)"
          cache="true"
          class="produto"
          tappable
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
