ion-toolbar {
  background-color: var(--ion-color-primary);
}

ion-header ion-toolbar [class^="icon-heart"] {
  font-size: 1.3rem;
}

/* .subheader */
.subheader {
  // background-color: white;
  position: relative;
  top: -10px;
  z-index: 99999;
}

.subheader img.loja {
  // width: 100px;
  height: 100px;
  border-radius: 0px 0px 8px 8px;
  // box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  // border: 1px solid silver;
  box-shadow: -5px 10px 18px #888888;
  /* padding: 10px 0px; */
  cursor: default;
}

.subheader img.produto {
  // width: 100px;
  height: 100px;
  border-radius: 0px 0px 8px 8px;
  // box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  // border: 1px solid silver;
  box-shadow: 5px 10px 18px #888888;
  padding: 10px 0px;
  cursor: pointer;
}
