<ion-header>
  <ion-toolbar text-center>
    <ion-title>{{ caption }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <p>idLoja: {{ idLoja }}</p> -->
  <!-- <p>idProduto: {{ idProduto }}</p> -->
  <!-- <p>detalhe: {{ detalhe | json }}</p> -->
  <!-- <p>grupos: {{ grupos | json }}</p> -->

  <form [formGroup]="detalheForm" novalidate (ngSubmit)="onSubmit()">
    <h5 class="strike" text-center><span>Detalhe</span></h5>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item
            [class.ion-invalid]="
              fv.error(detalheForm.controls.detalhe, 'detalhe') &&
              detalheForm.controls.detalhe.dirty
            "
          >
            <ion-label position="fixed">Nome*</ion-label>
            <ion-input type="text" formControlName="detalhe"></ion-input>
          </ion-item>
          <small class="form-error">{{
            fv.error(detalheForm.controls.detalhe, "detalhe")
          }}</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-sm="6">
          <ion-item
            [class.ion-invalid]="
              fv.error(detalheForm.controls.valor, 'valor') &&
              detalheForm.controls.valor.dirty
            "
          >
            <ion-label position="fixed">Valor</ion-label>
            <ion-input
              type="number"
              formControlName="valor"
              text-end
            ></ion-input>
          </ion-item>
          <small class="form-error">{{
            fv.error(detalheForm.controls.valor, "valor")
          }}</small>
        </ion-col>

        <ion-col size="12" size-sm="6">
          <ion-item lines="none">
            <input type="checkbox" formControlName="ativo" />&nbsp;Ativo
          </ion-item>
        </ion-col>
      </ion-row>

      <h5 class="strike" text-center><span>Itens</span></h5>

      <ion-row>
        <ion-col size="12" size-sm="6">
          <ion-item
            [class.ion-invalid]="
              fv.error(detalheForm.controls.min, 'min') &&
              detalheForm.controls.min.dirty
            "
          >
            <ion-label position="floating">Qtde mínima</ion-label>
            <ion-input type="number" formControlName="min" text-end></ion-input>
          </ion-item>
          <small class="form-error">{{
            fv.error(detalheForm.controls.min, "min")
          }}</small>
        </ion-col>

        <ion-col size="12" size-sm="6">
          <ion-item
            [class.ion-invalid]="
              fv.error(detalheForm.controls.max, 'max') &&
              detalheForm.controls.max.dirty
            "
          >
            <ion-label position="floating">Qtde máxima</ion-label>
            <ion-input type="number" formControlName="max" text-end></ion-input>
          </ion-item>
          <small class="form-error">{{
            fv.error(detalheForm.controls.max, "max")
          }}</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item
            [class.ion-invalid]="
              !detalheForm.controls.idGrupo.valid &&
              detalheForm.controls.idGrupo.dirty
            "
          >
            <!-- <p>{{ detalheForm.controls.idGrupo.value }}</p> -->
            <ion-label position="stacked"
              >Importar produtos do grupo como itens</ion-label
            >
            <ion-select
              formControlName="idGrupo"
              interface="alert"
              okText="Ok"
              cancelText="Cancelar"
            >
              <!-- <ion-select-option value="">-- Selecione grupo --</ion-select-option> -->
              <ion-select-option
                *ngFor="let grupo of grupos"
                [value]="grupo.gpr_pk"
                [selected]="produto && grupo.gpr_pk == produto.pro_fk_grupo"
                >{{ grupo.gpr_c_grupo }}
                <!-- {{ grupo.gpr_pk }}&nbsp;==&nbsp;{{ produto.pro_fk_grupo }} -->
              </ion-select-option>
            </ion-select>
          </ion-item>
          <small class="form-error">{{
            fv.error(detalheForm.controls.idGrupo)
          }}</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-button
            expand="full"
            type="submit"
            [disabled]="!detalheForm.valid"
            >Confirmar &nbsp;<span class="icon-check"></span
          ></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
