/* ion-toolbar */
ion-header ion-toolbar {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

/* ion-button */
ion-button {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}
