<div id="main">
  <!-- ***** Header Area Start ***** -->
  <header class="header_area">
    <div class="container-fluid">
      <div class="row align-items-center">
        <!-- Menu Area Start -->
        <div class="col-12 col-lg-10">
          <div class="menu_area">
            <nav class="navbar navbar-expand-lg navbar-light">
              <!-- Logo -->
              <a class="navbar-brand" (click)="onScrollTo('#home')">
                <img
                  id="logo"
                  src="assets/img/logo_pp_white.png"
                  alt=""
                  class="d-block d-md-none d-xl-block"
                />
                <img
                  id="logo"
                  src="assets/img/logo_pp_icon.png"
                  alt=""
                  class="d-none d-md-block d-xl-none"
                />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#ca-navbar"
                aria-controls="ca-navbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Menu Area -->
              <div class="collapse navbar-collapse" id="ca-navbar">
                <ul class="navbar-nav ml-auto" id="nav">
                  <li class="nav-item active">
                    <a class="nav-link" (click)="onScrollTo('#home')">
                      <span class="icon-home"></span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="onScrollTo('#sobre')">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="onScrollTo('#como_funciona')"
                      >Como&nbsp;funciona&nbsp;?</a
                    >
                  </li>
                  <!--
                    <li class="nav-item"><a class="nav-link" (click)="onScrollTo('#cliente')">Cliente</a></li>
                  -->
                  <!--
                    <li class="nav-item"><a class="nav-link" (click)="onScrollTo('#contate_nos')">Contate-nos</a></li>
                  -->
                </ul>
                <div class="login-button d-lg-none">
                  <a (click)="onScrollTo('#login')"> LOGIN </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <!-- Login btn -->
        <div class="col-12 col-lg-2">
          <div class="login-button d-none d-lg-block">
            <!-- <a href="#login">LOGIN</a> -->
            <a (click)="onScrollTo('#login')">LOGIN</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Welcome Area Start ***** -->
  <section class="vh-100 bg-white">
    <section class="welcome_area" id="home">
      <div class="container mt-100">
        <div class="row">
          <!-- align-items-center -->
          <div class="col-xs-12">
            <div class="welcome-heading">
              <h2>
                Plataforma especializada na avaliação de profissionais
                cadastrados.
              </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <img
              src="assets/img/tablet.png"
              alt=""
              class="img-fluid d-none d-lg-block"
            />
          </div>
          <div class="col-md-7">
            <ul>
              <li>
                Feedback voluntário dos participantes por um atendimento cada
                vez mais qualificado&nbsp;!
              </li>
              <li>
                Pontos que incentivam a melhora profissional constante&nbsp;!
              </li>
              <li>Avaliou, GANHOU&nbsp;!!!</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ***** Special Area Start ***** -->
  <section class="vh-100 bg-light">
    <section class="cards-area section_padding_100" id="sobre">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading Area -->
            <div class="section-heading text-center">
              <h2>Sobre</h2>
              <div class="line-shape"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Single Special Area -->
          <div class="col-12 col-md-3">
            <div
              class="single-card text-center wow fadeInUp profissionais"
              data-wow-delay="0.2s"
            >
              <div class="single-icon">
                <img src="assets/img/profissionais.png" alt="" />
              </div>
              <h4>Profissionais</h4>
              <p>
                Especialistas das áreas de saúde, humanas e exatas que desejam
                feedback de seus <strong>clientes</strong> com foco em melhoria
                de desenvolvimento contínuos.
              </p>
              <div class="btn def-btn mt-15">
                <span class="icon-search"></span>&nbsp; Procurar
              </div>
            </div>
          </div>
          <!-- Single Special Area -->
          <div class="col-12 col-md-3">
            <div
              class="single-card text-center wow fadeInUp parceiros"
              data-wow-delay="0.4s"
            >
              <div class="single-icon">
                <img src="assets/img/parceiros.png" alt="" />
              </div>
              <h4>Parceiros</h4>
              <p>
                Empresas especializadas em produtos dos diversos segmentos
                comerciais e que atendam diretamente às necessidades dos
                <strong>clientes</strong> dos <strong>profissionais</strong>.
              </p>
              <div class="btn def-btn mt-15">
                <span class="icon-search"></span>&nbsp; Procurar
              </div>
            </div>
          </div>
          <!-- Single Special Area -->
          <div class="col-12 col-md-3">
            <div
              class="single-card text-center wow fadeInUp representantes"
              data-wow-delay="0.6s"
            >
              <div class="single-icon">
                <img src="assets/img/representantes.png" alt="" />
              </div>
              <h4>Representantes</h4>
              <p>
                Empresas colaboradoras situadas nas diversas regiões atendidas
                pela plataforma para atendimento local à
                <strong>profissionais</strong> e <strong>parceiros</strong>.
              </p>
              <div class="btn def-btn mt-15">
                <span class="icon-search"></span>&nbsp; Procurar
              </div>
            </div>
          </div>
          <!-- Single Special Area -->
          <div class="col-12 col-md-3">
            <div
              class="single-card text-center wow fadeInUp clientes"
              data-wow-delay="0.6s"
            >
              <div class="single-icon">
                <img src="assets/img/clientes.png" alt="" />
              </div>
              <h4>Clientes</h4>
              <p>
                Consumidores que buscam produtos específicos nos
                estabelecimentos comerciais <strong>parceiros</strong> que
                adquirem pontos de participação dos
                <strong>profissionais</strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <!-- ***** Special Area End ***** -->

  <!-- ***** CTA Area Start ***** -->
  <section class="banner section_padding_100 vh-100" id="como_funciona">
    <div class="container">
      <div class="row text-center">
        <div class="align-items-center">
          <h2>Como funciona ?</h2>
          <div class="line-shape"></div>
          <div class="row">
            <div class="col-sm-3">
              <p>
                O <strong>Point Plus</strong> é um programa em que todos
                participantes pontuam e se beneficiam com o objetivo de melhoria
                e desenvolvimento contínuos.
              </p>
            </div>
            <div class="line-shape d-block d-sm-none"></div>
            <div class="col-sm-3">
              <p>
                O <strong>cliente</strong> pode participar voluntariamente de
                uma avaliação do atendimento de seu
                <strong>profissional</strong> e acumular pontos que podem ser
                resgatados em compras nos estabelecimentos
                <strong>parceiros</strong>.
              </p>
            </div>
            <div class="line-shape d-block d-sm-none"></div>
            <div class="col-sm-3">
              <p>
                Os <strong>profissionais</strong> participantes do programa são
                avaliados por métricas de satisfação de seus
                <strong>clientes</strong> e passam também a integrar a rede de
                pontuação.
              </p>
            </div>
            <div class="line-shape d-block d-sm-none"></div>
            <div class="col-sm-3">
              <p>
                Os estabelecimentos <strong>parceiros</strong> da rede
                credenciada que desejarem também podem ser avaliados por
                métricas específicas de qualidade e assim também passam a
                integrar a rede de pontuação.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CTA Area End ***** -->

  <!-- ***** Form Area Start ***** -->
  <section class="bg-white section_padding_100 vh-100" id="login">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-heading">
            <h2>Login</h2>
            <div class="line-shape d-block d-sm-none"></div>
          </div>
        </div>
        <div class="col-md-6">
          <!--
            <form novalidate #f="ngForm" (ngSubmit)="onContactSubmit(f)">
              <div class="contact_input_area">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        #suaId="ngModel"
                        type="text"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': fv.badTouch(suaId),
                          'is-valid': suaId.valid
                        }"
                        name="id"
                        placeholder="Sua ID"
                        [(ngModel)]="auth.id"
                        [focus]="onLoginFocusEvent"
                        required
                        onReturn
                      />
                    </div>
                    <!--
                      <pp-form-control-error
                        [is-error]="fv.badTouch(suaId)"
                        [is-valid]="suaId.valid"
                      ></pp-form-control-error>

                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        #senha="ngModel"
                        type="password"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': fv.badTouch(senha),
                          'is-valid': senha.valid
                        }"
                        name="senha"
                        placeholder="Sua senha"
                        [(ngModel)]="auth.senha"
                        required
                        onReturn
                      />
                    </div>
                    <!--
                      <pp-form-control-error
                        [is-error]="fv.badTouch(senha)"
                        [is-valid]="senha.valid"
                      ></pp-form-control-error>

                  </div>
                  <div class="form-group form-check ml-15">
                    <input
                      #lembrarId="ngModel"
                      type="checkbox"
                      class="form-check-input"
                      name="lembrarId"
                      [(ngModel)]="auth.lembrarId"
                      onReturn
                    />
                    <label class="form-check-label" for="lembrarId"
                      >Lembrar ID</label
                    >
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn submit-btn"
                      [disabled]="f.invalid"
                    >
                      <span class="icon-check"></span>&nbsp; Confirmar
                    </button>
                  </div>
                </div>
              </div>
              <!--
                <pp-form-debug [form]="f">
                </pp-form-debug>
            </form>
          -->
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Form Area End ***** -->

  <!-- ***** Footer Area Start ***** -->
  <footer class="text-center">
    <img src="assets/img/logo_pp_white.png" alt="" />
    <!-- social icon -->
    <!--
      <div class="footer-social-icon">
          <ul>
              <li>
                  <a href="#"><span class="icon-youtube"></span></a>
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-google-plus"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                  <a href="#"><span class="icon-linkedin"></span></a>
              </li>
          </ul>
      </div>
    -->
    <!-- Foooter Text -->
    <div class="copyright-text">
      <p>
        Copyright ©2018
        <a href="https://mixsistemas.com.br" target="_blank">Mix sistemas</a>
      </p>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->
</div>
