@import "../../../assets/styles/_mix.scss";
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Michroma");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* --------------------------
:: 3.0 Colorlib template - welcome Area CSS
-------------------------- */

.welcome_area {
  text-align: center;
  background-color: white;
  background-image: url(../../../assets/img/welcome-bg.png);
  height: 550px;
  position: relative;
  z-index: 1;
  background-position: bottom center;
  background-size: cover;
  display: block;
  font-family: "Cabin", sans-serif;
}

.welcome_area img {
  width: 100%; // 80%;
  z-index: 10;
  animation-name: showTablet;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.welcome_area .welcome-heading {
  text-align: center !important;
}

.welcome_area .welcome-heading h2 {
  font-size: 180%;
  color: #ffffff;
  z-index: 3;
  font-family: "Michroma", sans-serif;
}

.welcome_area ul {
  text-align: right;
}

.welcome_area ul li {
  font-size: 160%;
  margin-top: 15px;
  opacity: 0.8;
  color: #ffffff;
  font-weight: bold;
  // position: relative;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
}

.welcome_area ul li:nth-child(odd) {
  color: yellow;
}

@keyframes showTablet {
  from {
    opacity: 0;
    // transform: translateY(-200px);
  }
  to {
    opacity: 1;
    // transform: translate(50px, 200px);
    // transform: translateY(50px);
  }
}

@media (max-width: 576px) {
  .welcome_area .welcome-heading,
  .welcome_area {
    padding-left: 20px;
    padding-right: 20px;
  }

  .welcome_area .welcome-heading h2 {
    font-size: 1.6rem;
  }

  .welcome_area ul li {
    font-size: 1.3rem;
  }
}
