<span *ngIf="lojas">
  <!-- <p>{{ lojas | json }}</p> -->
  <ion-toolbar *ngIf="lojas.length == 0">
    <ion-label text-center>
      <p>Nenhuma loja encontrada.</p>
    </ion-label>
  </ion-toolbar>

  <ion-list lines="full">
    <div *ngFor="let loja of lojas">
      <po-loja-item-sel
        [loja]="loja"
        (onSelected)="onSelClick($event)"
        [delBtn]="true"
      ></po-loja-item-sel>
    </div>
  </ion-list>
</span>
