@import "_mix";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.sidemenu {
  visibility: hidden;
  min-width: $sidebar_width;
  max-width: $sidebar_width;
  background-color: $sidebar_bg_content_color;
  color: $sidebar_fg_content_color;
  font-family: "Montserrat", sans-serif;
  transition: visibility 0s 0.6s;
}

.sidemenu.sidemenu--is-visible {
  visibility: visible;
  transition: visibility 0s 0s;
}

.sidemenu--from-right .sidemenu__container {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.sidemenu--from-left .sidemenu__container {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.sidemenu--is-visible .sidemenu__container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.sidemenu__container {
  position: fixed;
  top: 0;
  height: 100%;
  // width: 265px; /* 40%; */
  min-width: $sidebar_width;
  max-width: $sidebar_width;
  background-color: $sidebar_bg_content_color;
  color: $sidebar_fg_content_color;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.3s 0.3s;
  // background-color: red;
  // color: white;
}

/* .sidemenu__content {
  background: #8596e4;
  color: white;
  height: 100%;
} */

.sidemenu__content header {
  height: $nav_header_height;
  padding: 5px;
  background-color: $sidebar_bg_header_color;
  color: $sidebar_fg_header_color;
  // padding: 20px;
  // background: #6d7fcc;
  // color: yellow;
}

.sidemenu__content header img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidemenu__content .heading {
  padding: 15px;
  color: $sidebar_heading_text;
}

.sidemenu__content [class^="icon-"] {
  color: $sidebar_icon_color;
  margin-right: 10px;
}

.sidemenu__content ul p {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sidemenu__content ul p {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sidemenu__content ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  border-top: 1px solid $sidebar_item_border_bottom_color;
}

.sidemenu__content li a small {
  color: $sidebar_item_small;
}

.sidemenu__content ul li a,
.sidemenu__content ul li a:hover,
.sidemenu__content ul li a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.sidemenu__content ul li a:hover {
  background-color: $sidebar_bg_hover_color;
  color: $sidebar_fg_hover_color;
}

.sidemenu__content ul li a:hover [class^="icon-"] {
  color: $sidebar_icon_hover_color;
}

.sidemenu__content ul li.active > a,
a[aria-expanded="true"] {
  background-color: $sidebar_bg_hover_color;
  color: $sidebar_fg_hover_color;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidemenu__content ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: $sidebar_bg_item_color;
  color: $sidebar_fg_item_color;
}

.sidemenu__content ul.CTAs {
  padding: 20px;
}

.sidemenu__content ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid $sidebar_button_border_color;
}
