@import "_mix";
@import url("https://fonts.googleapis.com/css?family=Paytone+One");

/* --------------------------
:: 11.0 Colorlib template - CTA Area CSS Start
-------------------------- */

.banner {
  background: $nav_bg_color;
  /*
    background: -webkit-linear-gradient(to left, #7873ed, #a865e1);
    background: -webkit-linear-gradient(right, #7873ed, #a865e1);
    background: -webkit-gradient(linear, right top, left top, from(#7873ed), to(#a865e1));
    background: -o-linear-gradient(right, #7873ed, #a865e1);
    background: linear-gradient(to left, #7873ed, #a865e1);
    */
}

.banner h2 {
  /* font-family: 'Anton', sans-serif; */
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Archivo Black', sans-serif; */
  font-family: "Paytone One", sans-serif;
  color: $heading_color;
  font-size: 2.5rem;
}

.banner p {
  color: $nav_fg_color;
  padding: 15px;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.banner p strong {
  color: $nav_hover_color;
  text-transform: uppercase;
}
