// nav
/* nav dark */
$nav_bg_color: #1976d2;
$nav_bg_sticky_color: #1565c0;
$nav_fg_color: #fff;
$nav_hover_color: #e6ee9c;
$nav_btn_border_color: #fff9c4;
$nav_header_height: 100px;
$nav_header_height_fixed: 70px;
$nav_footer_height_fixed: 150px;

/* nav blue
$nav_bg_color: #1976d2;
$nav_bg_sticky_color: #1565c0;
$nav_fg_color: #fff;
$nav_hover_color: #e6ee9c;
$nav_btn_border_color: #fff9c4;
$nav_header_height: 100px;
$nav_header_height_fixed: 70px;
$nav_footer_height_fixed: 150px;
*/

// heading
$heading_color: #82b1ff;

// transitions
$def_transition_duration: 500ms;

// sidebars
$sidebar_width: 270px;
$sidebar_bg_header_color: $nav_bg_color;
$sidebar_fg_header_color: $nav_fg_color;
/* sidebar dark 
$sidebar_bg_content_color: #333;
$sidebar_fg_content_color: white;
$sidebar_bg_hover_color: #222;
$sidebar_fg_hover_color: yellow;
$sidebar_bg_item_color: #444;
$sidebar_fg_item_color: white;
$sidebar_item_small: rgb(235, 246, 185);
$sidebar_heading_text: silver;
$sidebar_item_border_bottom_color: gray;
$sidebar_button_border_color: gray;
$sidebar_icon_color: rgb(108, 123, 138);
$sidebar_icon_hover_color: white;
*/
/* sidebar light 
$sidebar_bg_content_color: whitesmoke;
$sidebar_fg_content_color: rgb(117, 114, 114);
$sidebar_bg_hover_color: rgb(226, 214, 214);
$sidebar_fg_hover_color: black;
$sidebar_bg_item_color: white;
$sidebar_fg_item_color: white;
$sidebar_item_small: black;
$sidebar_heading_text: rgb(117, 114, 114);
$sidebar_item_border_bottom_color: silver;
$sidebar_button_border_color: silver;
$sidebar_icon_color: #ccc;
$sidebar_icon_hover_color: gray;
*/
/* sidebar blue */
$sidebar_bg_content_color: $nav_bg_sticky_color; // #1976d2;
$sidebar_fg_content_color: white;
$sidebar_bg_hover_color: #125da8;
$sidebar_fg_hover_color: yellow;
$sidebar_bg_item_color: #3985d1;
$sidebar_fg_item_color: white;
$sidebar_item_small: rgb(235, 246, 185);
$sidebar_heading_text: white;
$sidebar_item_border_bottom_color: white;
$sidebar_button_border_color: white;
$sidebar_icon_color: rgb(75, 195, 235);
$sidebar_icon_hover_color: white;

