@import "_mix";
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Paytone+One");

/* --------------------------
:: Template Name: Colorlib App - App Landing Page 
:: Template Author: Colorlib
:: Template Author URI: https://colorlib.com/
:: Description: Colorlib is a One Page based App Landing Template. It's very clean, creative & beautiful. It's super responsive & ultra light.
:: Tags: Colorlib, App Landing, Apps, Responsive App Landing, Bootstrap 4, Free Theme, Free HTML Template, HTML5 Template etc.
:: Version: v1.0
:: Created: 11/03/2017
-------------------------- */

/* --- [Master Stylesheet] ----
:: 1.0 Base CSS Start
:: 2.0 Header Area CSS
:: 3.0 Wellcome Area CSS
:: 4.0 Special Area CSS
:: 5.0 Features Area CSS
:: 6.0 Video Area CSS
:: 7.0 Cool Facts Area CSS
:: 8.0 Screenshots Area CSS
:: 9.0 Pricing Plan Area CSS
:: 10.0 Testimonials Area CSS
:: 11.0 CTA Area CSS Start
:: 12.0 Team Area CSS Start
:: 13.0 Contact Area CSS Start
:: 14.0 Footer Area CSS Start
-------------------------- */

/* --------------------------
:: 1.0 Colorlib template - Base CSS Start
-------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", sans-serif;
  background-color: $nav_bg_color;
}

/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.2;
} 
*/

.section_padding_100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_padding_100_50 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.section_padding_100_70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

.section_padding_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_padding_50_20 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.section_padding_150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.section_padding_200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section_padding_0_100 {
  padding-top: 0;
  padding-bottom: 100px;
}

.section_padding_70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section_padding_0_50 {
  padding-top: 0;
  padding-bottom: 50px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-150 {
  margin-top: 150px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-100 {
  margin-left: 100px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  -webkit-transition-duration: $def_transition_duration;
  -o-transition-duration: $def_transition_duration;
  transition-duration: $def_transition_duration;
}

li {
  list-style: none;
}

p {
  color: gray; // #726a84;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
}

.heading-text > p {
  font-size: 16px;
}

.section-heading h2 {
  /* font-family: 'Anton', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Baloo Bhaijaan', cursive; */
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Archivo Black', sans-serif; */
  font-family: "Paytone One", sans-serif;
  color: $heading_color; // #5b32b4;
  font-size: 36px;
  /*
      font-weight: 300;
      color: red; // #5b32b4;
      font-size: 48px;
      */
  margin: 0;
}
/* 
  .section-heading {
      margin-bottom: 60px;
  }
  */

.line-shape-white,
.line-shape {
  width: 80px;
  height: 2px;
  background-color: silver; // #fb397d;
  margin-top: 15px;
  margin-bottom: 15px;
}

.line-shape {
  margin-left: calc(50% - 40px);
}

.table {
  display: table;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}
/*
  #preloader {
      overflow: hidden;
      background-color: $nav_fg_color;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999999;
  }
  
  .colorlib-load {
      -webkit-animation: 2000ms linear 0s normal none infinite running colorlib-load;
      animation: 2000ms linear 0s normal none infinite running colorlib-load;
      background: transparent none repeat scroll 0 0;
      border-color: #dddddd #dddddd #fb397d;
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      height: 40px;
      left: calc(50% - 20px);
      position: relative;
      top: calc(50% - 20px);
      width: 40px;
      z-index: 9;
  }
  */

.btn.def-btn {
  height: 48px;
  min-width: 185px;
  font-weight: 500;
  border-radius: 22px 25px 22px 0;
  padding-top: 10px;
  text-transform: uppercase;
  background: white;
  color: gray;
  border: 1px solid silver;
}

.btn.def-btn:hover {
  background: #82b1ff; // #1e88e5; // #1976d2;
  color: #fff;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.vh-100 {
  height: 100vh;
}

@-webkit-keyframes colorlib-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes colorlib-load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
