/* --------------------------
:: 4.0 Colorlib template - Special Area CSS
-------------------------- */

.cards-area {
  display: flex;
}

.cards-area .single-card {
  height: 100%;
}

.cards-area .single-icon {
  margin-bottom: 25px;
}

.cards-area .single-icon img {
  width: 128px;
  // color: #fb397d;
}

.cards-area .single-card > h4 {
  font-size: 22px;
  color: #0277bd;
  margin-bottom: 15px;
}

.cards-area .single-card {
  border: 1px solid #eff2f6;
  padding: 40px;
  border-radius: 40px 40px 40px 0px;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  margin-bottom: 30px;
  position: relative;
  top: 0px;
  left: 0px;
}

.cards-area .special_description_content h2 {
  color: #5b32b4;
  font-size: 48px;
  margin-bottom: 30px;
}

.cards-area .single-card:hover {
  -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
}

.cards-area .single-card p {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

.cards-area .single-card .btn {
  position: absolute;
  bottom: 10px;
  left: calc(50%);
  transform: translateX(-50%);
}

.cards-area .app-download-area {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1;
  flex-basis: 1;
  margin-top: 50px;
}

.cards-area .app-download-btn a {
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 30px 30px 30px 0;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cards-area .app-download-btn.active a,
.cards-area .app-download-btn a:hover {
  border-color: transparent;
  background-color: #fb397d;
}

.cards-area .app-download-btn a i {
  color: #47425d;
  font-size: 24px;
  margin-right: 15px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.cards-area .app-download-btn a p {
  font-size: 16px;
  line-height: 1;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.cards-area .app-download-btn a p span {
  font-size: 12px;
  display: block;
}

.cards-area .app-download-btn:first-child {
  margin-right: 20px;
}

.cards-area .app-download-btn a:hover i,
.cards-area .app-download-btn.active a i,
.cards-area .app-download-btn.active a p,
.cards-area .app-download-btn a:hover p {
  color: #fff;
}

.cards-area .profissionais {
  flex: 1;
}

.cards-area .parceiros {
  flex: 1;
}

.cards-area .representantes {
  flex: 1;
}

.cards-area .clientes {
  flex: 1;
}
