<ion-header>
  <ion-toolbar color="warning" text-center>
    <ion-title>Novo horário</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="horarioForm" (ngSubmit)="onSubmit()" padding>
    <ion-grid no-padding text-center>
      <ion-row>
        <ion-col>
          <ion-label>
            <h2>Início</h2>
          </ion-label>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Horas</ion-label>
                <ion-select
                  formControlName="iHoras"
                  (ngModelChange)="onChanges()"
                >
                  <ion-select-option value="0">00</ion-select-option>
                  <ion-select-option value="1">01</ion-select-option>
                  <ion-select-option value="2">02</ion-select-option>
                  <ion-select-option value="3">03</ion-select-option>
                  <ion-select-option value="4">04</ion-select-option>
                  <ion-select-option value="5">05</ion-select-option>
                  <ion-select-option value="6">06</ion-select-option>
                  <ion-select-option value="7">07</ion-select-option>
                  <ion-select-option value="8">08</ion-select-option>
                  <ion-select-option value="9">09</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                  <ion-select-option value="11">11</ion-select-option>
                  <ion-select-option value="12">12</ion-select-option>
                  <ion-select-option value="13">13</ion-select-option>
                  <ion-select-option value="14">14</ion-select-option>
                  <ion-select-option value="15">15</ion-select-option>
                  <ion-select-option value="16">16</ion-select-option>
                  <ion-select-option value="17">17</ion-select-option>
                  <ion-select-option value="18">18</ion-select-option>
                  <ion-select-option value="19">19</ion-select-option>
                  <ion-select-option value="20">20</ion-select-option>
                  <ion-select-option value="21">21</ion-select-option>
                  <ion-select-option value="22">22</ion-select-option>
                  <ion-select-option value="23">23</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Minutos</ion-label>
                <ion-select
                  formControlName="iMinutos"
                  (ngModelChange)="onChanges()"
                >
                  <ion-select-option value="0">00</ion-select-option>
                  <ion-select-option value="1">01</ion-select-option>
                  <ion-select-option value="2">02</ion-select-option>
                  <ion-select-option value="3">03</ion-select-option>
                  <ion-select-option value="4">04</ion-select-option>
                  <ion-select-option value="5">05</ion-select-option>
                  <ion-select-option value="6">06</ion-select-option>
                  <ion-select-option value="7">07</ion-select-option>
                  <ion-select-option value="8">08</ion-select-option>
                  <ion-select-option value="9">09</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                  <ion-select-option value="11">11</ion-select-option>
                  <ion-select-option value="12">12</ion-select-option>
                  <ion-select-option value="13">13</ion-select-option>
                  <ion-select-option value="14">14</ion-select-option>
                  <ion-select-option value="15">15</ion-select-option>
                  <ion-select-option value="16">16</ion-select-option>
                  <ion-select-option value="17">17</ion-select-option>
                  <ion-select-option value="18">18</ion-select-option>
                  <ion-select-option value="19">19</ion-select-option>
                  <ion-select-option value="20">20</ion-select-option>
                  <ion-select-option value="21">21</ion-select-option>
                  <ion-select-option value="22">22</ion-select-option>
                  <ion-select-option value="23">23</ion-select-option>
                  <ion-select-option value="24">24</ion-select-option>
                  <ion-select-option value="25">25</ion-select-option>
                  <ion-select-option value="26">26</ion-select-option>
                  <ion-select-option value="27">27</ion-select-option>
                  <ion-select-option value="28">28</ion-select-option>
                  <ion-select-option value="29">29</ion-select-option>
                  <ion-select-option value="30">30</ion-select-option>
                  <ion-select-option value="31">31</ion-select-option>
                  <ion-select-option value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option value="35">35</ion-select-option>
                  <ion-select-option value="36">36</ion-select-option>
                  <ion-select-option value="37">37</ion-select-option>
                  <ion-select-option value="38">38</ion-select-option>
                  <ion-select-option value="39">39</ion-select-option>
                  <ion-select-option value="40">40</ion-select-option>
                  <ion-select-option value="41">41</ion-select-option>
                  <ion-select-option value="42">42</ion-select-option>
                  <ion-select-option value="43">43</ion-select-option>
                  <ion-select-option value="44">44</ion-select-option>
                  <ion-select-option value="45">45</ion-select-option>
                  <ion-select-option value="46">46</ion-select-option>
                  <ion-select-option value="47">47</ion-select-option>
                  <ion-select-option value="48">48</ion-select-option>
                  <ion-select-option value="49">49</ion-select-option>
                  <ion-select-option value="50">50</ion-select-option>
                  <ion-select-option value="51">51</ion-select-option>
                  <ion-select-option value="52">50</ion-select-option>
                  <ion-select-option value="53">53</ion-select-option>
                  <ion-select-option value="54">54</ion-select-option>
                  <ion-select-option value="55">55</ion-select-option>
                  <ion-select-option value="56">56</ion-select-option>
                  <ion-select-option value="57">57</ion-select-option>
                  <ion-select-option value="58">58</ion-select-option>
                  <ion-select-option value="59">59</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <h2>Final</h2>
          </ion-label>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Horas</ion-label>
                <ion-select
                  formControlName="fHoras"
                  (ngModelChange)="onChanges()"
                >
                  <ion-select-option value="0">00</ion-select-option>
                  <ion-select-option value="1">01</ion-select-option>
                  <ion-select-option value="2">02</ion-select-option>
                  <ion-select-option value="3">03</ion-select-option>
                  <ion-select-option value="4">04</ion-select-option>
                  <ion-select-option value="5">05</ion-select-option>
                  <ion-select-option value="6">06</ion-select-option>
                  <ion-select-option value="7">07</ion-select-option>
                  <ion-select-option value="8">08</ion-select-option>
                  <ion-select-option value="9">09</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                  <ion-select-option value="11">11</ion-select-option>
                  <ion-select-option value="12">12</ion-select-option>
                  <ion-select-option value="13">13</ion-select-option>
                  <ion-select-option value="14">14</ion-select-option>
                  <ion-select-option value="15">15</ion-select-option>
                  <ion-select-option value="16">16</ion-select-option>
                  <ion-select-option value="17">17</ion-select-option>
                  <ion-select-option value="18">18</ion-select-option>
                  <ion-select-option value="19">19</ion-select-option>
                  <ion-select-option value="20">20</ion-select-option>
                  <ion-select-option value="21">21</ion-select-option>
                  <ion-select-option value="22">22</ion-select-option>
                  <ion-select-option value="23">23</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Minutos</ion-label>
                <ion-select
                  formControlName="fMinutos"
                  (ngModelChange)="onChanges()"
                >
                  <ion-select-option value="0">00</ion-select-option>
                  <ion-select-option value="1">01</ion-select-option>
                  <ion-select-option value="2">02</ion-select-option>
                  <ion-select-option value="3">03</ion-select-option>
                  <ion-select-option value="4">04</ion-select-option>
                  <ion-select-option value="5">05</ion-select-option>
                  <ion-select-option value="6">06</ion-select-option>
                  <ion-select-option value="7">07</ion-select-option>
                  <ion-select-option value="8">08</ion-select-option>
                  <ion-select-option value="9">09</ion-select-option>
                  <ion-select-option value="10">10</ion-select-option>
                  <ion-select-option value="11">11</ion-select-option>
                  <ion-select-option value="12">12</ion-select-option>
                  <ion-select-option value="13">13</ion-select-option>
                  <ion-select-option value="14">14</ion-select-option>
                  <ion-select-option value="15">15</ion-select-option>
                  <ion-select-option value="16">16</ion-select-option>
                  <ion-select-option value="17">17</ion-select-option>
                  <ion-select-option value="18">18</ion-select-option>
                  <ion-select-option value="19">19</ion-select-option>
                  <ion-select-option value="20">20</ion-select-option>
                  <ion-select-option value="21">21</ion-select-option>
                  <ion-select-option value="22">22</ion-select-option>
                  <ion-select-option value="23">23</ion-select-option>
                  <ion-select-option value="24">24</ion-select-option>
                  <ion-select-option value="25">25</ion-select-option>
                  <ion-select-option value="26">26</ion-select-option>
                  <ion-select-option value="27">27</ion-select-option>
                  <ion-select-option value="28">28</ion-select-option>
                  <ion-select-option value="29">29</ion-select-option>
                  <ion-select-option value="30">30</ion-select-option>
                  <ion-select-option value="31">31</ion-select-option>
                  <ion-select-option value="32">32</ion-select-option>
                  <ion-select-option value="33">33</ion-select-option>
                  <ion-select-option value="34">34</ion-select-option>
                  <ion-select-option value="35">35</ion-select-option>
                  <ion-select-option value="36">36</ion-select-option>
                  <ion-select-option value="37">37</ion-select-option>
                  <ion-select-option value="38">38</ion-select-option>
                  <ion-select-option value="39">39</ion-select-option>
                  <ion-select-option value="40">40</ion-select-option>
                  <ion-select-option value="41">41</ion-select-option>
                  <ion-select-option value="42">42</ion-select-option>
                  <ion-select-option value="43">43</ion-select-option>
                  <ion-select-option value="44">44</ion-select-option>
                  <ion-select-option value="45">45</ion-select-option>
                  <ion-select-option value="46">46</ion-select-option>
                  <ion-select-option value="47">47</ion-select-option>
                  <ion-select-option value="48">48</ion-select-option>
                  <ion-select-option value="49">49</ion-select-option>
                  <ion-select-option value="50">50</ion-select-option>
                  <ion-select-option value="51">51</ion-select-option>
                  <ion-select-option value="52">50</ion-select-option>
                  <ion-select-option value="53">53</ion-select-option>
                  <ion-select-option value="54">54</ion-select-option>
                  <ion-select-option value="55">55</ion-select-option>
                  <ion-select-option value="56">56</ion-select-option>
                  <ion-select-option value="57">57</ion-select-option>
                  <ion-select-option value="58">58</ion-select-option>
                  <ion-select-option value="59">59</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- <p>
        idLoja: {{ idLoja }} - diaSemana: {{ diaSemana }} - intervalos:
        {{ intervalos | json }}
      </p> -->

      <ion-toolbar color="danger" *ngIf="inverted">
        <ion-label text-center>
          <h1>Valor final inferior ao inicial.</h1>
        </ion-label>
      </ion-toolbar>

      <ion-row>
        <ion-col size="12" size-sm="6" offset-sm="3">
          <ion-button
            expand="full"
            type="submit"
            color="warning"
            [disabled]="!horarioForm.valid || inverted"
            >Confirmar&nbsp;<span class="icon-check"></span
          ></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
