<!-- <p>activeSlide: {{ activeSlide }}</p> -->
<!-- <p>tab: {{ tab }}</p> -->
<ion-slides #sliderCadastro (ionSlideDidChange)="OnSlideChanged()">
  <ion-slide>
    <ion-list no-lines>
      <form [formGroup]="infoForm" #f="ngForm" novalidate>
        <h1 text-center>Informações pessoais</h1>
        <!-- <p>{{ infoForm.value | json }}</p> -->
        <!-- <p>{{ infoForm.controls.fone.error | json }}</p> -->
        <!-- <p>{{ infoForm.controls.cpf.error | json }}</p> -->
        <!-- <p>{{ infoForm.controls.sobrenome.error | json }}</p> -->

        <ion-grid>
          <!-- <ion-row>
            <ion-col>
              <p>{{ f.submitted }}</p>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  fv.serror(f.submitted, infoForm.controls.nome, 'nome') &&
                  (infoForm.controls.nome.dirty || f.submitted)
                "
              >
                <ion-label position="stacked">Primeiro nome*</ion-label>
                <ion-input
                  type="text"
                  formControlName="nome"
                  placeholder="Ex: James"
                ></ion-input>
              </ion-item>
              <small class="form-error">{{
                fv.serror(f.submitted, infoForm.controls.nome, "nome")
              }}</small>
            </ion-col>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  fv.serror(
                    f.submitted,
                    infoForm.controls.sobrenome,
                    'sobrenome'
                  ) &&
                  (infoForm.controls.sobrenome.dirty || f.submitted)
                "
              >
                <ion-label position="stacked">Sobrenome*</ion-label>
                <ion-input
                  type="text"
                  formControlName="sobrenome"
                  placeholder="Ex: Bond"
                ></ion-input>
              </ion-item>
              <small class="form-error">{{
                fv.serror(f.submitted, infoForm.controls.sobrenome, "sobrenome")
              }}</small>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  fv.serror(
                    f.submitted,
                    infoForm.controls.nascimento,
                    'nascimento'
                  ) &&
                  (infoForm.controls.nascimento.dirty || f.submitted)
                "
              >
                <ion-label position="stacked">Data nascimento*</ion-label>
                <ion-datetime
                  formControlName="nascimento"
                  doneText="OK"
                  cancelText="Cancelar"
                  displayFormat="DD MM YYYY"
                ></ion-datetime>
              </ion-item>
              <small class="form-error">{{
                fv.serror(
                  f.submitted,
                  infoForm.controls.nascimento,
                  "nascimento"
                )
              }}</small>
            </ion-col>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  fv.serror(f.submitted, infoForm.controls.genero, 'genero') &&
                  (infoForm.controls.genero.dirty || f.submitted)
                "
              >
                <ion-label position="stacked">Gênero*</ion-label>
                <ion-select
                  cancelText="Cancelar"
                  interface="popover"
                  formControlName="genero"
                >
                  <!--
                    <ion-select-option value="">-- Selecione --</ion-select-option>
                  -->
                  <ion-select-option value="F">Feminino</ion-select-option>
                  <ion-select-option value="M">Masculino</ion-select-option>
                </ion-select>
              </ion-item>
              <small class="form-error">{{
                fv.serror(f.submitted, infoForm.controls.genero, "genero")
              }}</small>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  fv.serror(f.submitted, infoForm.controls.fone, 'fone') &&
                  (infoForm.controls.fone.dirty || f.submitted)
                "
              >
                <ion-label position="stacked">Telefone*</ion-label>
                <ion-input
                  type="tel"
                  formControlName="fone"
                  placeholder="Ex: 99 99999 9999"
                  [brmasker]="{
                    form: infoForm.get('fone'),
                    phone: true
                  }"
                ></ion-input>

                <!-- type: 'num',
                    mask: '\(00\)00000\-0000',
                    len: 14,
                    userCaracters: true --> </ion-item
              ><small class="form-error">{{
                fv.serror(f.submitted, infoForm.controls.fone, "fone")
              }}</small>
            </ion-col>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  fv.serror(f.submitted, infoForm.controls.cpf, 'cpf') &&
                  (infoForm.controls.cpf.dirty || f.submitted)
                "
              >
                <ion-label position="stacked">CPF</ion-label>
                <ion-input
                  type="text"
                  formControlName="cpf"
                  placeholder="Ex: 999 999 999 99"
                  [brmasker]="{
                    form: infoForm.get('cpf'),
                    mask: '000\.000\.000\-00',
                    len: 14,
                    type: 'num',
                    userCaracters: true
                  }"
                ></ion-input>
              </ion-item>
              <small class="form-error">{{
                fv.serror(f.submitted, infoForm.controls.cpf, "cpf")
              }}</small>
            </ion-col>
          </ion-row>
          <!-- {{ infoForm.controls.fone.errors | json }} -->

          <ion-row>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  fv.serror(f.submitted, infoForm.controls.email, 'email') &&
                  (infoForm.controls.email.dirty || f.submitted)
                "
              >
                <ion-label position="stacked">E-mail*</ion-label>
                <ion-input
                  type="email"
                  formControlName="email"
                  placeholder="Ex: james.bond@gmail.uk"
                ></ion-input> </ion-item
              ><small class="form-error">{{
                fv.serror(f.submitted, infoForm.controls.email, "email")
              }}</small>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  fv.serror(f.submitted, infoForm.controls.senha, 'senha') &&
                  (infoForm.controls.senha.dirty || f.submitted)
                "
              >
                <ion-label position="stacked">Senha*</ion-label>
                <ion-input
                  type="password"
                  formControlName="senha"
                ></ion-input> </ion-item
              ><small class="form-error">{{
                fv.serror(f.submitted, infoForm.controls.senha, "senha")
              }}</small>
            </ion-col>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  fv.serror(
                    f.submitted,
                    infoForm.controls.confirmacao,
                    'confirmacao'
                  ) &&
                  (infoForm.controls.confirmacao.dirty || f.submitted)
                "
              >
                <ion-label position="stacked">Repetir senha*</ion-label>
                <ion-input
                  type="password"
                  formControlName="confirmacao"
                ></ion-input> </ion-item
              ><small class="form-error">{{
                fv.serror(
                  f.submitted,
                  infoForm.controls.confirmacao,
                  "confirmacao"
                )
              }}</small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-list>
  </ion-slide>

  <ion-slide>
    <ion-list no-lines>
      <form [formGroup]="enderecoForm" novalidate>
        <h1 text-center>Endereço</h1>
        <!-- {{ enderecoForm.value | json }} -->
        <ion-row>
          <ion-col>
            <ion-item
              [class.ion-invalid]="
                fv.serror(f.submitted, enderecoForm.controls.cep, 'cep') &&
                (enderecoForm.controls.cep.dirty || f.submitted)
              "
            >
              <ion-label position="stacked">CEP*</ion-label>
              <ion-input
                type="tel"
                formControlName="cep"
                placeholder="Ex: 99999 999"
                [brmasker]="{
                  form: enderecoForm.get('cep'),
                  mask: '00000\-000',
                  len: 9,
                  type: 'num',
                  userCaracters: false
                }"
                (keyup.enter)="onCepSel()"
                (ionBlur)="onCepSel()"
              ></ion-input> </ion-item
            ><small class="form-error">{{
              fv.serror(f.submitted, enderecoForm.controls.cep, "cep")
            }}</small>
          </ion-col>
          <ion-col>
            <ion-item
              [class.ion-invalid]="
                fv.serror(f.submitted, enderecoForm.controls.uf) &&
                (enderecoForm.controls.uf.dirty || f.submitted)
              "
            >
              <ion-label position="stacked" readonly>Estado*</ion-label>
              <ion-input
                type="text"
                formControlName="uf"
                placeholder="Ex: MG, SP, RJ"
                readonly
              ></ion-input>
            </ion-item>
            <small class="form-error">{{
              fv.serror(f.submitted, enderecoForm.controls.uf, "uf")
            }}</small>
          </ion-col>
        </ion-row>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item
                [class.ion-invalid]="
                  !enderecoForm.controls.localidade.valid &&
                  (enderecoForm.controls.localidade.dirty || f.submitted)
                "
              >
                <ion-label position="stacked" readonly>Cidade*</ion-label>
                <ion-input
                  type="text"
                  formControlName="localidade"
                  placeholder="Ex: Uberaba, São Paulo"
                  readonly
                ></ion-input>
              </ion-item>
              <small class="form-error">{{
                fv.serror(
                  f.submitted,
                  enderecoForm.controls.localidade,
                  "localidade"
                )
              }}</small>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-row>
          <ion-col>
            <ion-item
              [class.ion-invalid]="
                !enderecoForm.controls.logradouro.valid &&
                (enderecoForm.controls.logradouro.dirty || f.submitted)
              "
            >
              <ion-label position="stacked" readonly>Endereço*</ion-label>
              <ion-input
                type="text"
                formControlName="logradouro"
                placeholder="Ex: Av. Paulista"
                readonly
              ></ion-input>
            </ion-item>
            <small class="form-error">{{
              fv.serror(
                f.submitted,
                enderecoForm.controls.logradouro,
                "logradouro"
              )
            }}</small>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item
              [class.ion-invalid]="
                !enderecoForm.controls.bairro.valid &&
                (enderecoForm.controls.bairro.dirty || f.submitted)
              "
            >
              <ion-label position="stacked" readonly>Bairro*</ion-label>
              <ion-input
                type="text"
                formControlName="bairro"
                placeholder="Ex: Centro"
                readonly
              ></ion-input>
            </ion-item>
            <small class="form-error">{{
              fv.serror(f.submitted, enderecoForm.controls.bairro, "bairro")
            }}</small>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item
              [class.ion-invalid]="
                !enderecoForm.controls.nro.valid &&
                (enderecoForm.controls.nro.dirty || f.submitted)
              "
            >
              <ion-label position="stacked">Número*</ion-label>
              <ion-input
                type="number"
                formControlName="nro"
                placeholder="Ex: 124"
                required
              ></ion-input>
            </ion-item>
            <small class="form-error">{{
              fv.serror(f.submitted, enderecoForm.controls.nro, "nro")
            }}</small>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Complemento</ion-label>
              <ion-input
                type="text"
                formControlName="complemento"
                placeholder="Ex: apto 101, fundos, loja 5, etc..."
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Referência</ion-label>
              <ion-input
                type="text"
                formControlName="referencia"
                placeholder="Ex: Próx. ao shopping, etc..."
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  </ion-slide>

  <ion-slide class="termos">
    <ion-toolbar>
      <form [formGroup]="termosForm" novalidate>
        <h1 text-center>Termos e condições</h1>
        <!-- <p>{{ termosForm.controls.termos.value }}</p>
        <p>{{ termosForm.controls.termos.valid }}</p> -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <p text-justify>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
                maiores officia, at provident dignissimos ab sequi doloribus,
                obcaecati quis harum pariatur commodi. Odit possimus rem
                asperiores nesciunt, laudantium nulla voluptatum, quae eligendi
                voluptates odio maiores iste quia libero. Consequatur placeat,
                neque consequuntur non cupiditate doloribus eligendi. Debitis
                dolorem deleniti placeat quam libero ullam error quod aut ipsam.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
                maiores officia, at provident dignissimos ab sequi doloribus,
                obcaecati quis harum pariatur commodi. Odit possimus rem
                asperiores nesciunt, laudantium nulla voluptatum, quae eligendi
                voluptates odio maiores iste quia libero. Consequatur placeat,
                neque consequuntur non cupiditate doloribus eligendi. Debitis
                dolorem deleniti placeat quam libero ullam error quod aut ipsam.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
                maiores officia, at provident dignissimos ab sequi doloribus,
                obcaecati quis harum pariatur commodi. Odit possimus rem
                asperiores nesciunt, laudantium nulla voluptatum, quae eligendi
                voluptates odio maiores iste quia libero. Consequatur placeat,
                neque consequuntur non cupiditate doloribus eligendi. Debitis
                dolorem deleniti placeat quam libero ullam error quod aut ipsam.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
                maiores officia, at provident dignissimos ab sequi doloribus,
                obcaecati quis harum pariatur commodi. Odit possimus rem
                asperiores nesciunt, laudantium nulla voluptatum, quae eligendi
                voluptates odio maiores iste quia libero. Consequatur placeat,
                neque consequuntur non cupiditate doloribus eligendi. Debitis
                dolorem deleniti placeat quam libero ullam error quod aut ipsam.
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <input
                [class.ion-invalid]="
                  termosForm.controls.termos.value == false && f.submitted
                "
                type="checkbox"
                formControlName="termos"
                class="mt-15"
              />&nbsp;Concordo com os <strong>Termos e condições</strong>.
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-toolbar>
  </ion-slide>
</ion-slides>

<footer>
  <ion-toolbar color="light" [ngSwitch]="activeSlide">
    <section *ngSwitchCase="Tab.endereco">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              expand="full"
              type="button"
              color="light"
              (click)="onPrevSlide()"
              ><span class="icon-chevron-l"></span>&nbsp;Info</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              expand="full"
              type="button"
              color="light"
              (click)="onNextSlide()"
            >
              Termos&nbsp;<span class="icon-chevron-r"></span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <section *ngSwitchCase="Tab.termos">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              expand="full"
              type="button"
              color="light"
              (click)="onPrevSlide()"
              >&nbsp;<span class="icon-chevron-l">Endereço</span></ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              expand="full"
              type="button"
              class="submit"
              [disabled]="termosForm.controls.termos.value == false"
              >Confirmar &nbsp;<span class="icon-check"></span
            ></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <section *ngSwitchDefault>
      <ion-grid>
        <ion-row>
          <ion-col size="6"></ion-col>
          <ion-col>
            <ion-button
              expand="full"
              type="button"
              color="light"
              (click)="onNextSlide()"
              >Endereço &nbsp;<span class="icon-chevron-r"></span
            ></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </ion-toolbar>
</footer>
