h1 {
  margin: 10px 0px;
  color: var(--po-color-custom);
}

form ion-button {
  margin-top: 20px;
}

.swiper-slide {
  display: block;
}

ion-slide {
  margin-bottom: 58px;
}

ion-button.submit {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

footer {
  width: 100%;
  height: 58px;
  // background-color: red;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 99999;
}
