<ion-header>
  <ion-toolbar text-center>
    <ion-title>Seleção de conta</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()" color="light"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button [value]="Tab.login">Já tenho conta</ion-segment-button>
    <ion-segment-button [value]="Tab.cadastro">Cadastro</ion-segment-button>
  </ion-segment>

  <!-- tab: {{ tab }} -->

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="Tab.cadastro">
      <po-cadastro
        (onChanged)="onCadastroPageChanged()"
        (onFalhaLogin)="tab = Tab.login"
      ></po-cadastro>
    </div>
    <div *ngSwitchDefault>
      <po-login (onLogin)="onLogin($event)"></po-login>
    </div>
  </div>
</ion-content>
