.promocoes ul {
  list-style-type: none;
}

.promocoes ul .thumb-container {
  padding: 1px;
}

.promocoes ul li {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  background-color: whitesmoke;
  border: 1px solid silver;
}

.promocoes ul li img {
  float: left;
  position: relative;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.promocoes ul li .de {
  display: block;
  color: gray;
}

.promocoes ul li .de strong {
  text-decoration: line-through;
  color: tomato;
}

.promocoes ul li .por {
  display: block;
  color: gray;
}

.promocoes ul li .por strong {
  color: green;
}

.promocoes ul li .discount {
  position: relative;
  // display: block;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: rgb(17, 155, 35);
}

.promocoes .col-3.tag {
  border-left: 2px dashed silver;
}
