<!--
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" *ngIf="!isMobile">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      <img
        class="img-fluid"
        src="assets/img/banners/lojas-americanas.jpg"
        alt="Lojas Americanas"
      />
    </div>
    <div class="carousel-item">
      <img
        class="img-fluid"
        src="assets/img/banners/walmart.jpg"
        alt="Walmart"
      />
    </div>
    <div class="carousel-item">
      <img
        class="img-fluid"
        src="assets/img/banners/casas-bahia.jpg"
        alt="Casas Bahia"
      />
    </div>
    <div class="carousel-item">
      <img
        class="img-fluid"
        src="assets/img/banners/carrefour.jpg"
        alt="Carrefour"
      />
    </div>
  </div>
  <div *ngIf="isMobile">
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container-fluid mt-3 promocoes">
  <ul class="thumbs">
    <!-- <li class="list-group-item active">Eletrônicos > Smartphones</li> -->

    <div class="thumb-container" *ngFor="let promocao of promocoes">
      <li>
        <div class="row">
          <div class="col-4">
            <img
              src="assets/img/parceiros/{{ promocao.pro_c_img }}"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-5">
            <div class="promocao-content">
              <h6>{{ promocao.pro_c_promocao }}</h6>
              <span class="de"
                >De <strong>{{ promocao.pro_f_de }}</strong></span
              >
              <span class="por"
                >Por <strong>{{ promocao.pro_f_por }}</strong></span
              >
            </div>
          </div>
          <div class="col-3 tag">
            <div class="discount">-{{ promocao.pro_f_desconto }}%</div>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>
