.thumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.thumb-container {
  display: inline-block;
  width: 50%;
}

@media all and (min-width: 1300px) {
  .thumbs .thumb-container {
    width: 25%;
  }
}

@media all and (max-width: 1299px) {
  .thumbs .thumb-container {
    width: 33.33%;
  }
}

@media all and (max-width: 992px) {
  .thumbs .thumb-container {
    width: 50%;
  }
}

@media all and (max-width: 768px) {
  .thumbs .thumb-container {
    width: 100%;
  }
}
