<ion-header>
  <ion-toolbar  text-center>
    <ion-title>{{ caption }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <p>idLoja: {{ idLoja }}</p> -->
<!-- <p>detalhe: {{ detalhe | json }}</p> -->
<!-- <p>item: {{ item | json }}</p> -->
<!-- <p>jwt: {{ jwt }}</p> -->
<ion-content padding *ngIf="detalhe && idLoja > 0">
  <ion-item>
    <ion-label position="fixed" readonly>Detalhe</ion-label>
    <ion-input [value]="detalhe.det_c_detalhe" readonly></ion-input>
  </ion-item>

  <form [formGroup]="itemForm" novalidate (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item
            [class.ion-invalid]="
              fv.error(itemForm.controls.item, 'item') &&
              itemForm.controls.item.dirty
            "
          >
            <ion-label position="fixed">Nome item*</ion-label>
            <ion-input type="text" formControlName="item"></ion-input>
          </ion-item>
          <small class="form-error">{{
            fv.error(itemForm.controls.item, "item")
          }}</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-sm="6">
          <ion-item
            [class.ion-invalid]="
              fv.error(itemForm.controls.valor, 'valor') &&
              itemForm.controls.valor.dirty
            "
          >
            <ion-label position="fixed">Valor</ion-label>
            <ion-input
              type="number"
              formControlName="valor"
              text-end
            ></ion-input>
          </ion-item>
          <small class="form-error">{{
            fv.error(itemForm.controls.valor, "valor")
          }}</small>
        </ion-col>

        <ion-col size="12" size-sm="6">
          <ion-item lines="none">
            <input type="checkbox" formControlName="ativo" />&nbsp;Ativo
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-button
            expand="full"
            type="submit"
            [disabled]="!itemForm.valid"
            >Confirmar &nbsp;<span class="icon-check"></span
          ></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
