<!-- armazenados: {{ armazenados | json }} -->
<div *ngIf="armazenados">
  <div *ngIf="armazenados.length == 0" padding>
    <ion-label padding text-center><p>Nenhum local armazenado.</p></ion-label>
  </div>
  <ion-list lines="full">
    <ion-item button *ngFor="let local of armazenados">
      <ion-label (click)="onLocalClick(local)">
        <h2>{{ local.logradouro }}, {{ local.nro }} {{ local.complemento }}</h2>
        <p>{{ local.bairro }} {{ local.referencia }}</p>
        <p>
          <strong>{{ local.cep }}</strong> - {{ local.localidade }},
          {{ local.uf }}
        </p>
      </ion-label>
      <ion-button (click)="onMenuClick(local)" color="light" slot="end">
        <span class="icon-vdots"></span>
      </ion-button>
    </ion-item>
  </ion-list>
</div>
