<main class="main-content">
  <!-- your main content here -->
  <header class="py-2">
    <div class="logo">
      <img
        id="logo"
        src="assets/img/logo_mix.png"
        alt=""
        [routerLink]="['/home']"
      />
    </div>
    <div class="search mt-2">
      <form>
        <div class="input-group">
          <input
            type="text"
            class="form-control border border-right-0"
            placeholder="Projeto"
          />
          <span class="input-group-append">
            <button
              class="btn btn-outline-light border border-left-0"
              type="button"
            >
              <span class="icon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="menu">
      <a>
        <i (click)="onToggleSidemenuClick()" class="icon-menu"></i
        ><!-- [ngClass]="{ 'icon-cancel': !active, 'icon-menu': active }" -->
      </a>
    </div>
  </header>

  <!-- <div class="text-center">sidemenu: {{ sidemenu }}</div> -->
  <router-outlet></router-outlet>
  <!-- <button (click)="toggle()">toggle</button> -->
</main>

<div class="sidemenu sidemenu--from-right">
  <!-- sidemenu--is-visible -->

  <div class="sidemenu__container">
    <div class="sidemenu__content">
      <header>
        <!--
          <img
            id="logo"
            src="assets/img/logo_mix.png"
            class="img-fluid"
            alt=""
            [routerLink]="['/home']"
          />
        -->
        <h3>Adm</h3>
        <span class="icon-cancel" (click)="onCloseSidemenuClick()"></span>
      </header>
      <!-- your side panel content here -->
      <ul class="list-unstyled">
        <!--
          <div class="heading text-center">Encontre descontos próximos</div>
        -->
        <!-- <li>
          <a (click)="onCloseSidemenuClick()">
            <span class="icon-chevron-l"></span> Fechar menu</a
          >
        </li> -->
        <li>
          <a [routerLink]="['/home']"><span class="icon-home"></span>Início</a>
        </li>
        <li>
          <a [routerLink]="['/como-funciona']"
            ><span class="icon-question"></span>Como funciona?</a
          >
        </li>
        <li>
          <a href="#"><span class="icon-user"></span>Entrar</a>
        </li>
        <li>
          <a href="#">
            <span class="icon-logout"></span>Sair
            <small class="float-right">Operador</small>
          </a>
        </li>
        <li>
          <a
            href="#parceirosSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span class="icon-store"></span>Empresas parceiras
          </a>
          <ul class="collapse list-unstyled" id="parceirosSubmenu">
            <li>
              <a [routerLink]="['/parceiros-procurar']">
                <span class="icon-search"></span>Procurar</a
              >
            </li>
            <li>
              <a [routerLink]="['/parceiros-participar']">
                <span class="icon-plus"></span>Participar</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#socialSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span class="icon-handshake"></span>Redes sociais
          </a>
          <ul class="collapse list-unstyled" id="socialSubmenu">
            <li>
              <a href="#"> <span class="icon-youtube"></span>Youtube</a>
            </li>
            <li>
              <a href="#"> <span class="icon-facebook"></span>Facebook</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#compartilharSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span class="icon-share"></span>Compartilhar
          </a>
          <ul class="collapse list-unstyled" id="compartilharSubmenu">
            <li>
              <a href="#"> <span class="icon-mail"></span>E-mail</a>
            </li>
            <li>
              <a href="#"> <span class="icon-facebook"></span>Facebook</a>
            </li>
            <li>
              <a href="#"> <span class="icon-twitter"></span>Twitter</a>
            </li>
            <li>
              <a href="#"> <span class="icon-linkedin"></span>Linked In</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/contato']">
            <span class="icon-chat-o"></span>Contato</a
          >
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <li>
          <a href="#" class="download"
            ><span class="icon-download"></span>Download code</a
          >
        </li>
        <li>
          <a href="#" class="article"><span class="icon-edit"></span>Article</a>
        </li>
      </ul>
    </div>
    <!-- sidemenu__content -->
  </div>
  <!-- sidemenu__container -->
</div>
<!-- sidemenu -->
