<ion-header>
  <ion-toolbar color="warning">
    <ion-title text-center>Procurando {{ filter }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="subheader" *ngIf="lojas && produtos">
    <ion-segment [(ngModel)]="tab" color="warning">
      <ion-segment-button [value]="'loj'"
        >Lojas ({{ lojas.length }})</ion-segment-button
      >
      <ion-segment-button [value]="'pro'">
        Produtos ({{ produtos.length }})</ion-segment-button
      >
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="lojas && produtos">
  <ion-toolbar>
    <div [ngSwitch]="tab">
      <ng-container *ngSwitchCase="'loj'">
        <ion-col *ngIf="lojas.length == 0">
          <ion-label text-center> <p>Nenhuma loja encontrada.</p> </ion-label>
        </ion-col>

        <ion-virtual-scroll [items]="lojas" approxItemHeight="90px">
          <ng-container *virtualItem="let loja">
            <po-loja-item-procura
              [loja]="loja"
              (onSel)="onLojaSel($event)"
            ></po-loja-item-procura>
          </ng-container>
        </ion-virtual-scroll>
        <!-- {{ lojas | json }} -->
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ion-col *ngIf="produtos.length == 0">
          <ion-label text-center> <p>Nenhum produto encontrado.</p> </ion-label>
        </ion-col>

        <ion-virtual-scroll [items]="produtos" approxItemHeight="90px">
          <ng-container *virtualItem="let produto">
            <po-produto-item-procura
              [produto]="produto"
              (onImgClick)="onZoomImgClick($event)"
            ></po-produto-item-procura>
          </ng-container>
        </ion-virtual-scroll>
        <!-- <p>{{ produtos | json }}</p> -->
      </ng-container>
    </div>
  </ion-toolbar>
</ion-content>
