@import url("https://fonts.googleapis.com/css?family=Montserrat");

.tiles .tile {
  // position: relative;
  // padding: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  padding: 20px;
}

/* Responsiveness */
.tiles .col-sm-6,
.tiles .col-md-4,
.tiles .col-lg-3,
.tiles .col-xl-2 {
  /* background-color: red; */
  margin: 5px 0px 5px 0px;
}

/* Colors */
.tiles .tile.orange {
  background: orange;
}

.tiles .tile.blue {
  background: blue;
}

.tiles .tile.darkred {
  background: rgb(146, 28, 28);
}

.tiles .tile.red {
  background: red;
}

.tiles .tile.tomato {
  background: tomato;
}

.tiles .tile.lightblue {
  background: #1e90ff;
}

.tiles .tile.black {
  background: black;
}

.tiles .tile.green {
  background: green;
}

.tiles .tile.accent {
  background: #8cbf26;
}

.tiles .tile.brown {
  background: #a05000;
}

.tiles .tile.lime {
  background: #8cbf26;
}

.tiles .tile.magenta {
  background: #ff0097;
}

.tiles .tile.darkorange {
  background: #f09609;
}

.tiles .tile.pink {
  background: #e671b8;
}

.tiles .tile.purple {
  background: #a200ff;
}

.tiles .tile.red {
  background: #e51400;
}

.tiles .tile.teal {
  background: #00aba9;
}

.tiles .tile.coral {
  background: #ff7f50;
}

.tiles .tile.darkcyan {
  background: #008b8b;
}

.tiles .tile.salmon {
  background: #fa8072;
}

.tiles .tile.slateblue {
  background: #6a5acd;
}

.tiles .tile.darkolivegreen {
  background: #556b2f;
}

.tiles .tile.gray {
  background: #708090;
}

// Módulos
.tiles .tile.comandas {
  background: #a200ff;
}

.tiles .tile.mesas {
  background: #8cbf26;
}

.tiles .tile.senhas {
  background: #1ba1e2;
}

.tiles .tile.balcao {
  // background: #ff6347;
  background: #708090;
}

.tiles .tile.delivery {
  background: #ffa500;
}

/* Tile size and cursor */
/* 
.tiles .tile,
.tiles .carousel.tile {
  // height: 20vh;
  height: 180px;
  cursor: pointer;
}
 */
/* Highlight selected tile */

.tiles .tile:hover {
  /* position: relative; */
  // top: -10px;
  opacity: 0.6;
}

.tiles .tile:hover i {
  text-shadow: 4px 4px #333;
}

[class^="icon-"] {
  margin-top: 10px;
  // color: red;
}

.tiles .tile img.icon {
  height: 64px;
}

.tiles .carousel-inner {
  margin: auto;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  // -webkit-transform: translateY(-50%);
  // -ms-transform: translateY(-50%);
}

.tiles .tile .caption {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  // color: yellow;
  // text-shadow: 2px 2px #333;
}
/* 
.tiles .tile .note {
  font-family: "Segoe UI", Verdana, Geneva, sans-serif;
  position: absolute;
  bottom: 5px;
  right: 10px; 
  font-size: 1.5em;
  font-weight: normal;
  color: white;
  text-shadow: 2px 2px #333;
}
 */
.tiles .tile .highlight {
  color: yellow;
  font-weight: bold;
}

/* Big icon in tile */
/* 
.tiles .tile .caption.bigicon {
  font-size: 300%;
}
 */
