// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css?family=Oswald');

// misc
.mr-12 {
  margin-right: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.pt-15 {
  padding-top: 15px;
}

/* 
  // actionsheet
  .ion-md-shipping:before,
  .ion-ios-shipping:before {
    font-family: "pedeon";
    content: "\e854" !important;
    color: red;
  }
  .ion-md-shipping {
    background: url("/assets/icon/icons.svg#icon-shipping") 50% 50% no-repeat;
  }
   */

// strike
.strike {
  color: gray;
  position: relative;
  z-index: 1;
}

.strike span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: white;
  padding: 0 15px;
}

.strike::before {
  border-top: 1px solid silver;
  // width: 100%;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

// forms
[type="checkbox"].ion-invalid,
.ion-invalid ion-label {
  --color: red !important; // #ea6153;
  color: red !important; // #ea6153;
  font-weight: bold;
}

small.form-error {
  // text-align: left !important;
  --color: red !important; // #ea6153;
  color: red !important; // #ea6153;
  font-size: 0.7rem;
}

[readonly] {
  --color: gray;
  color: gray;
}

// grid
ion-grid {
  --ion-grid-width-xs: 1024px;
}

/* .hide-xs, .hide-sm, .hide-md, .hide-lg, .hide-xl */
@each $size, $size-value in (xs: 0, sm: 540px, md: 720px, lg: 960px, xl: 1140px)
{
  .hide-#{$size} {
    @media (min-width: $size-value) {
      display: none;
    }
  }
}
