<ion-header>
  <ion-toolbar color="warning">
    <ion-title text-center>Complete seu endereço</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{ cepInfo | json }} -->
  <ion-list no-lines>
    <form [formGroup]="enderecoForm" #f="ngForm" (submit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" readonly>CEP*</ion-label>
              <ion-input type="text" formControlName="cep" readonly></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item
              [class.invalid]="
                !enderecoForm.controls.uf.valid &&
                (enderecoForm.controls.uf.dirty || f.submitted)
              "
            >
              <ion-label position="floating" readonly>Estado*</ion-label>
              <ion-input
                type="text"
                formControlName="uf"
                placeholder="Ex: MG, SP, RJ"
                readonly
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item
              [class.invalid]="
                !enderecoForm.controls.localidade.valid &&
                (enderecoForm.controls.localidade.dirty || f.submitted)
              "
            >
              <ion-label position="floating" readonly>Cidade*</ion-label>
              <ion-input
                type="text"
                formControlName="localidade"
                placeholder="Ex: Uberaba, São Paulo"
                readonly
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item
              [class.invalid]="
                !enderecoForm.controls.bairro.valid &&
                (enderecoForm.controls.bairro.dirty || f.submitted)
              "
            >
              <ion-label position="floating" readonly>Bairro*</ion-label>
              <ion-input
                type="text"
                formControlName="bairro"
                placeholder="Ex: Centro"
                readonly
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item
              [class.invalid]="
                !enderecoForm.controls.logradouro.valid &&
                (enderecoForm.controls.logradouro.dirty || f.submitted)
              "
            >
              <ion-label position="floating" readonly>Endereço*</ion-label>
              <ion-input
                type="text"
                formControlName="logradouro"
                placeholder="Ex: Av. Paulista"
                readonly
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-item
              [class.invalid]="
                !enderecoForm.controls.nro.valid &&
                (enderecoForm.controls.nro.dirty || f.submitted)
              "
            >
              <ion-label position="floating">Número*</ion-label>
              <ion-input
                type="number"
                formControlName="nro"
                placeholder="Ex: 123"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Complemento</ion-label>
              <ion-input
                type="text"
                formControlName="complemento"
                placeholder="Ex: apto 101, fundos, loja 5, etc..."
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Referência</ion-label>
              <ion-input
                type="text"
                formControlName="referencia"
                placeholder="Ex: Próx. ao shopping, etc..."
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-xs="12" size-sm="6" offset-sm="3">
            <ion-button expand="full" type="submit" color="warning"
              ><span class="icon-check"></span>&nbsp;Confirmar</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
</ion-content>
