/* ion-header */
ion-header ion-toolbar {
  --background: var(--po-color-custom);
}

ion-header ion-button {
  --background: var(--po-color-custom-tint);
}

ion-header [class^="icon-"] {
  color: var(--po-color-custom-tint);
  font-size: 1rem;
}

ion-toolbar ion-label strong {
  color: yellow;
  text-shadow: 1px 1px black;
}

ion-header p.pontos [class^="icon-"] {
  color: white;
}

/* ion-list */
ion-list ion-item [class^="icon-"] {
  color: var(--po-color-custom);
}

ion-list ion-item h2 {
  color: var(--po-color-title);
}
