<ion-app>
  <ion-menu side="start" type="overlay">
    <ion-header>
      <ion-menu-toggle>
        <ion-toolbar>
          <ion-button
            expand="block"
            fill="solid"
            (click)="onLoginCadastroClick(Tab.login)"
            *ngIf="!conta"
            ><!-- <span class="icon-person"></span>&nbsp; -->Entrar ou
            cadastrar</ion-button
          >
          <!-- <po-conta-info [conta]="conta" *ngIf="conta"></po-conta-info> -->
          <ion-toolbar *ngIf="conta" no-padding>
            <ion-button
              slot="start"
              fill="clear"
              color="light"
              (click)="onSuaContaClick()"
              ><span class="icon-person login"></span
            ></ion-button>
            <ion-label>
              <h2>
                <strong>{{ conta.nome }} {{ conta.sobrenome }}</strong>
              </h2>
              <p class="pontos"><span class="icon-coin">45,90</span></p>
            </ion-label>
            <ion-button
              slot="end"
              fill="clear"
              color="light"
              (click)="onLogoutClick()"
              ><span class="icon-logout"></span
            ></ion-button>
          </ion-toolbar>
        </ion-toolbar>
      </ion-menu-toggle>
      <!-- (click)="onLoginCadastroClick(Tab.cadastro)" -->
    </ion-header>

    <ion-content>
      <ion-menu-toggle>
        <ion-list lines="full">
          <ion-item
            button
            class="local"
            (click)="onSeusEnderecosClick()"
            detail
          >
            <ion-text slot="start" class="start">
              <span class="icon-pin"></span>
            </ion-text>
            <ion-label>
              <h2>Seus endereços</h2>
              <!-- <p *ngIf="!local; else localOk">Nenhum local</p>
              <ng-template #localOk>
                <p>
                  {{ local.logradouro }}, {{ local.nro }}
                  {{ local.complemento }}
                </p>
                <p>
                  {{ local.cep }} - {{ local.bairro }} - {{ local.localidade }},
                  {{ local.uf }}
                </p>
              </ng-template> -->
            </ion-label>
          </ion-item>
          <ion-item button (click)="onLojasFavoritasClick()" detail>
            <ion-text slot="start">
              <span class="icon-heart"></span>
            </ion-text>
            <ion-label text-start><h2>Suas lojas favoritas</h2></ion-label>
            <!-- <ion-icon name="home" slot="end"></ion-icon> -->
          </ion-item>
          <ion-item button (click)="onProdutosFavoritosClick()" detail>
            <ion-text slot="start" class="start">
              <span class="icon-barcode"></span>
            </ion-text>
            <ion-label text-start><h2>Seus produtos favoritos</h2></ion-label>
            <!-- <ion-icon name="home" slot="end"></ion-icon> -->
          </ion-item>
          <ion-item button (click)="onAreaLojistaClick()" detail>
            <ion-text slot="start" class="start">
              <span class="icon-store"></span>
            </ion-text>
            <ion-label text-start><h2>Área lojista</h2></ion-label>
            <!-- <ion-icon name="home" slot="end"></ion-icon> -->
          </ion-item>
          <!-- <ion-item (click)="onEditarPerfilClick()" detail *ngIf="conta">
            <div slot="start" class="start">
              <span class="icon-key"></span>
            </div>
            <ion-label text-start><h2>Modificar senha</h2></ion-label>
          </ion-item> -->
          <ion-item button (click)="onEditarPerfilClick()" detail *ngIf="conta">
            <ion-text slot="start" class="start">
              <span class="icon-list"></span>
            </ion-text>
            <ion-label text-start><h2>Seus pedidos</h2></ion-label>
            <!-- <ion-icon name="home" slot="end"></ion-icon> -->
          </ion-item>
          <ion-item button (click)="onEditarPerfilClick()" detail *ngIf="conta">
            <ion-text slot="start" class="start">
              <span class="icon-star"></span>
            </ion-text>
            <ion-label text-start><h2>Suas avaliações</h2></ion-label>
            <!-- <ion-icon name="home" slot="end"></ion-icon> -->
          </ion-item>
          <ion-item button (click)="onSuaContaClick()" detail *ngIf="conta">
            <ion-text slot="start" class="start">
              <span class="icon-person"></span>
            </ion-text>
            <ion-label text-start><h2>Sua conta</h2></ion-label>
            <!-- <ion-icon name="home" slot="end"></ion-icon> -->
          </ion-item>
          <ion-item button (click)="onIntroClick()" detail>
            <ion-text slot="start" class="start">
              <span class="icon-info"></span>
            </ion-text>
            <ion-label text-start><h2>Introdução</h2></ion-label>
            <!-- <ion-icon name="home" slot="end"></ion-icon> -->
          </ion-item>
          <ion-item button (click)="onLogoutClick()" detail *ngIf="conta">
            <ion-text slot="start" class="start">
              <span class="icon-logout"></span>
            </ion-text>
            <ion-label text-start><h2>Sair da conta</h2></ion-label>
            <!-- <ion-icon name="home" slot="end"></ion-icon> -->
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
