* {
  margin: 0;
  padding: 0;
}

/* ion-toolbar */
ion-toolbar {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
  --padding-bottom: 0;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 0;
}

ion-toolbar [class^="icon-"] {
  // --color: var(--po-color-custom-contrast);
  color: var(--po-color-custom-contrast);
  // font-size: 1.3rem;
}

ion-toolbar ion-label h2 {
  color: var(--po-color-custom-contrast);
  margin: 0px;
  padding: 0px;
}

ion-toolbar ion-text p,
ion-toolbar ion-label p {
  color: var(--po-color-custom-contrast);
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

ion-toolbar ion-text span.icon-coin {
  color: var(--po-color-custom-tint);
  font-size: 1rem;
}

ion-toolbar ion-button {
  --background: var(--po-color-custom-tint);
  --color: var(--po-color-custom-contrast);
}

/* content */
ion-toolbar ion-label strong {
  color: yellow;
  text-shadow: 1px 1px black;
}

/* 
ion-icon,
[class^="icon-"] {
  color: var(--po-color-custom-tint);
  font-size: 1rem;
}

/*  pontos 
ion-text span {
  margin-left: 10px;
  margin-bottom: 10px;
  color: white; // yellow;
}

ion-text p {
  margin: 5px 0px 0px 0px;
  padding: 0px;
  color: white;
}


ion-toolbar ion-label p {
  font-style: italic;
  color: var(--po-color-custom-contrast);
}

/* .sem-conta 
.sem-conta {
  --padding-start: 10px;
  --padding-end: 10px;
}

.sem-conta ion-button {
  --background: var(--po-color-custom-tint);
}

.sem-conta ion-button.alternative-color {
  --background: tomato;
}
 */
