<ion-toolbar *ngIf="conta">
  <ion-text slot="start" padding text-center>
    <span class="icon-coin"></span>
    <p>45,90</p>
  </ion-text>
  <ion-label text-center no-padding>
    <!-- <p>{{ conta | json }}</p> -->
    <h2>
      <strong>{{ conta.nome }} {{ conta.sobrenome }}</strong>
    </h2>
    <p *ngIf="local">
      {{ local.logradouro }} {{ local.nro }} {{ local.complemento }}
    </p>
  </ion-label>
  <ion-button slot="end" fill="clear" (click)="onLogoutClick()"
    ><span class="icon-logout"></span
  ></ion-button>
</ion-toolbar>
<ion-toolbar class="sem-conta" *ngIf="!conta && local">
  <ion-label text-start no-padding>
    <p>{{ local.logradouro }} {{ local.nro }} {{ local.complemento }}</p>
  </ion-label>
  <ion-button slot="end" fill="solid" (click)="onEntrarClick(Tab.login)"
    >Entrar
  </ion-button>
</ion-toolbar>
