<!-- <p>produtos: {{ produtos | json }}</p> -->
<span *ngIf="produtos">
  <ion-toolbar *ngIf="produtos.length == 0">
    <ion-label padding text-center>
      <p>Nenhum produto encontrado.</p>
    </ion-label>
  </ion-toolbar>

  <ion-list lines="full">
    <div *ngFor="let produto of produtos">
      <po-produto-item-sel
        [produto]="produto"
        (onSelected)="onSelClick($event)"
        (onImgClick)="onZoomImgClick($event)"
        [delBtn]="true"
      ></po-produto-item-sel>
    </div>
  </ion-list>
</span>
