<ion-toolbar
  ><ng-container *ngIf="jwt; else noJwt">
    <span *ngIf="produtos">
      <!-- <p>{{ produtos | json }}</p> -->
      <ion-toolbar *ngIf="produtos.length == 0">
        <ion-label text-center>
          <p>Nenhum produto encontrado.</p>
        </ion-label>
      </ion-toolbar>
      <ion-list lines="full">
        <div *ngFor="let produto of produtos">
          <po-produto-item-sel
            [produto]="produto"
            (onSelected)="onSelClick($event)"
            (onImgClick)="onZoomImgClick($event)"
            [delBtn]="true"
          ></po-produto-item-sel>
        </div>
      </ion-list>
    </span>
  </ng-container>
  <ng-template #noJwt>
    <po-login (onLogin)="onLogin($event)"></po-login>
  </ng-template>
</ion-toolbar>
