<ion-header>
  <ion-toolbar>
    <ion-title text-center>Seus produtos favoritos</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button [value]="Tab.armazenados"
      >Armazenados</ion-segment-button
    >
    <ion-segment-button [value]="Tab.conta">Conta</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="Tab.armazenados">
      <po-produtos-fav-armazenados></po-produtos-fav-armazenados>
    </div>
    <div *ngSwitchDefault>
      <po-produtos-fav-conta></po-produtos-fav-conta>
    </div>
  </div>
</ion-content>
