<form [formGroup]="perfilForm" novalidate (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.error(perfilForm.controls.nome, 'nome') &&
            perfilForm.controls.nome.dirty
          "
        >
          <ion-label position="stacked">Primeiro nome*</ion-label>
          <ion-input
            [focus]="onPerfilFocusEvent"
            type="text"
            formControlName="nome"
            placeholder="Ex: James"
          ></ion-input>
        </ion-item>
        <small class="form-error">{{
          fv.error(perfilForm.controls.nome, "nome")
        }}</small>
      </ion-col>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.error(perfilForm.controls.sobrenome, 'sobrenome') &&
            perfilForm.controls.sobrenome.dirty
          "
        >
          <ion-label position="stacked">Sobrenome*</ion-label>
          <ion-input
            type="text"
            formControlName="sobrenome"
            placeholder="Ex: Bond"
          ></ion-input>
        </ion-item>
        <small class="form-error">{{
          fv.error(perfilForm.controls.sobrenome, "sobrenome")
        }}</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.error(perfilForm.controls.fone, 'fone') &&
            perfilForm.controls.fone.dirty
          "
        >
          <ion-label position="stacked">Telefone*</ion-label>
          <ion-input
            type="tel"
            formControlName="fone"
            placeholder="Ex: 99 99999 9999"
            [brmasker]="{
              form: perfilForm.get('fone'),
              phone: true
            }"
          ></ion-input> </ion-item
        ><small class="form-error">{{
          fv.error(perfilForm.controls.fone, "fone")
        }}</small>
      </ion-col>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.error(perfilForm.controls.cpf, 'cpf') &&
            perfilForm.controls.cpf.dirty
          "
        >
          <ion-label position="stacked">CPF</ion-label>
          <ion-input
            type="text"
            formControlName="cpf"
            placeholder="Ex: 999 999 999 99"
            [brmasker]="{
              form: perfilForm.get('cpf'),
              mask: '000\.000\.000\-00',
              len: 14,
              type: 'num',
              userCaracters: true
            }"
          ></ion-input>
        </ion-item>
        <small class="form-error">{{
          fv.error(perfilForm.controls.cpf, "cpf")
        }}</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.error(perfilForm.controls.email, 'email') &&
            perfilForm.controls.email.dirty
          "
        >
          <ion-label position="stacked" readonly>E-mail</ion-label>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="Ex: james.bond@gmail.uk"
            readonly
          ></ion-input> </ion-item
        ><small class="form-error">{{
          fv.error(perfilForm.controls.email, "email")
        }}</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="4" offset-sm="4">
        <ion-button
          expand="full"
          type="submit"
          [disabled]="!perfilForm.valid"
          >Confirmar &nbsp;<span class="icon-check"></span
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
