<form
  novalidate
  [formGroup]="mudarSenhaForm"
  #f="ngForm"
  (ngSubmit)="onSubmit()"
>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6">
        <ion-item
          [class.ion-invalid]="
            fv.serror(
              f.submitted,
              mudarSenhaForm.controls.senhaAtual,
              'senhaAtual'
            ) &&
            (mudarSenhaForm.controls.senhaAtual.dirty || f.submitted)
          "
        >
          <ion-label position="stacked">Senha atual*</ion-label>
          <ion-input
            [focus]="onMudarSenhaFocusEvent"
            type="password"
            formControlName="senhaAtual"
          ></ion-input> </ion-item
        ><small class="form-error">{{
          fv.serror(f.submitted, mudarSenhaForm.controls.senhaAtual, "senhaAtual")
        }}</small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.serror(
              f.submitted,
              mudarSenhaForm.controls.novaSenha,
              'novaSenha'
            ) &&
            (mudarSenhaForm.controls.novaSenha.dirty || f.submitted)
          "
        >
          <ion-label position="stacked">Nova senha*</ion-label>
          <ion-input
            type="password"
            formControlName="novaSenha"
          ></ion-input> </ion-item
        ><small class="form-error">{{
          fv.serror(f.submitted, mudarSenhaForm.controls.novaSenha, "novaSenha")
        }}</small>
      </ion-col>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.serror(
              f.submitted,
              mudarSenhaForm.controls.confirmacao,
              'confirmacao'
            ) &&
            (mudarSenhaForm.controls.confirmacao.dirty || f.submitted)
          "
        >
          <ion-label position="stacked">Repetir senha*</ion-label>
          <ion-input
            type="password"
            formControlName="confirmacao"
          ></ion-input> </ion-item
        ><small class="form-error">{{
          fv.serror(
            f.submitted,
            mudarSenhaForm.controls.confirmacao,
            "confirmacao"
          )
        }}</small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="4" offset-sm="4">
        <ion-button
          expand="full"
          type="submit"
          [disabled]="!mudarSenhaForm.valid"
          >Confirmar &nbsp;<span class="icon-check"></span
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
