<ion-header>
  <ion-toolbar>
    <ion-title text-center>Sua conta</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button [value]="Tab.perfil">Editar perfil</ion-segment-button>
    <ion-segment-button [value]="Tab.senha">Mudar senha</ion-segment-button>
  </ion-segment>

  <!-- tab: {{ tab }} -->

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="Tab.senha">
      <po-mudar-senha></po-mudar-senha>
    </div>
    <div *ngSwitchDefault>
      <po-editar-perfil></po-editar-perfil>
    </div>
  </div>
</ion-content>
