/* ion-header
ion-header ion-toolbar {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

ion-header ion-toolbar img {
  height: 36px;
} */

/* ion-slides */
ion-content ion-slides {
  height: 100%;
  width: 100%;
  background-color: var(--po-color-custom-tint);
  color: var(--po-color-custom-contrast);
  --bullet-background: yellow;
  --bullet-background-active: yellow;
}

/* .flex-container */
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // border: 4px solid pink;
}

.flex-container .header {
  // background-color: blue;
  flex-grow: 1;
  padding-top: 50px;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: var(--po-color-custom-contrast);
}

.flex-container .content {
  // background-color: red;
  flex-grow: 1;
  padding-top: 10px;
}

.flex-container .footer {
  // background-color: green;
  flex-grow: 1;
  padding-top: 10px;
  color: var(--po-color-custom-contrast);
  font-weight: normal;
  font-size: 0.9em;
  font-family: "Montserrat", sans-serif;
  padding: 0px 15px;
}

ion-footer ion-toolbar {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}
