<div id="splash" [style.display]="splash ? 'flex' : 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/img/slogan_pedeon.png" />
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<!-- <ion-header *ngIf="!splash">
  <ion-toolbar text-center>
    <img src="assets/img/logo_pedeon.png" />
  </ion-toolbar>
</ion-header> -->

<ion-content *ngIf="!splash">
  <ion-slides
    pager="true"
    (ionSlideDidChange)="onSlideChanged($event)"
    [options]="slideOpts"
    #slides
  >
    <ion-slide>
      <div class="flex-container">
        <div class="header">Diversidade</div>
        <div class="content">
          <img src="assets/img/slide01.png" alt="" />
        </div>
        <div class="footer">
          Além de alimentos, você pode pedir medicamentos, bebidas, água, gás,
          flores, produtos para seu pet e muito mais...
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="flex-container">
        <div class="header">Bonificação</div>
        <div class="content">
          <img src="assets/img/slide02.png" alt="" />
        </div>
        <div class="footer">
          A cada pedido avaliado, você acumula pontos que se tornam descontos em
          pedidos futuros.
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer *ngIf="!splash">
  <ion-toolbar text-center>
    <ion-button
      color="light"
      fill="clear"
      (click)="onPrevClick()"
      slot="start"
      [disabled]="atBeginning"
    >
      <span class="icon-chevron-l"></span>
    </ion-button>

    <ion-button color="light" fill="clear" (click)="onConcluirClick()">{{
      atEnd ? "Concluir" : "Pular"
    }}</ion-button>

    <ion-button
      color="light"
      fill="clear"
      (click)="onNextClick()"
      slot="end"
      [disabled]="atEnd"
    >
      <span class="icon-chevron-r"></span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
