ion-content {
  background-color: var(--po-color-custom);
}

#splash {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  // background-color: var(--po-color-custom-light);
  background-color: var(--po-color-custom);
}

.flb {
  background-color: var(--po-color-custom);
  height: 100%;
  width: 100%;
  animation: pulse 1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
#splash img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  animation: animation 3100ms linear both;
  animation-delay: 1s;
}
@media only screen and (min-width: 540px) {
  #splash img {
    width: 250px;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-target {
  -webkit-animation: animation 2800ms linear infinite both;
  animation: animation 2800ms linear infinite both;
}
@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -300,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  2.92% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -135.218,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
  }
  3.37% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -114.871,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1);
  }
  3.47% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -110.596,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1);
  }
  4.58% {
    -webkit-transform: matrix3d(
      2.061,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -68.65,
      0,
      0,
      1
    );
    transform: matrix3d(
      2.061,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -68.65,
      0,
      0,
      1
    );
  }
  5.69% {
    -webkit-transform: matrix3d(
      2.321,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -36.551,
      0,
      0,
      1
    );
    transform: matrix3d(
      2.321,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -36.551,
      0,
      0,
      1
    );
  }
  5.76% {
    -webkit-transform: matrix3d(
      2.32,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -34.768,
      0,
      0,
      1
    );
    transform: matrix3d(
      2.32,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -34.768,
      0,
      0,
      1
    );
  }
  7.41% {
    -webkit-transform: matrix3d(
      1.99,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -3.804,
      0,
      0,
      1
    );
    transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1);
  }
  7.51% {
    -webkit-transform: matrix3d(
      1.961,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -2.454,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.961,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -2.454,
      0,
      0,
      1
    );
  }
  7.88% {
    -webkit-transform: matrix3d(
      1.771,
      0,
      0,
      0,
      0,
      1.062,
      0,
      0,
      0,
      0,
      1,
      0,
      2.008,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.771,
      0,
      0,
      0,
      0,
      1.062,
      0,
      0,
      0,
      0,
      1,
      0,
      2.008,
      0,
      0,
      1
    );
  }
  8.68% {
    -webkit-transform: matrix3d(
      1.408,
      0,
      0,
      0,
      0,
      1.181,
      0,
      0,
      0,
      0,
      1,
      0,
      9.646,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.408,
      0,
      0,
      0,
      0,
      1.181,
      0,
      0,
      0,
      0,
      1,
      0,
      9.646,
      0,
      0,
      1
    );
  }
  10.03% {
    -webkit-transform: matrix3d(
      0.982,
      0,
      0,
      0,
      0,
      1.333,
      0,
      0,
      0,
      0,
      1,
      0,
      16.853,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.982,
      0,
      0,
      0,
      0,
      1.333,
      0,
      0,
      0,
      0,
      1,
      0,
      16.853,
      0,
      0,
      1
    );
  }
  10.85% {
    -webkit-transform: matrix3d(
      0.822,
      0,
      0,
      0,
      0,
      1.398,
      0,
      0,
      0,
      0,
      1,
      0,
      18.613,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.822,
      0,
      0,
      0,
      0,
      1.398,
      0,
      0,
      0,
      0,
      1,
      0,
      18.613,
      0,
      0,
      1
    );
  }
  11.53% {
    -webkit-transform: matrix3d(
      0.732,
      0,
      0,
      0,
      0,
      1.439,
      0,
      0,
      0,
      0,
      1,
      0,
      18.992,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.732,
      0,
      0,
      0,
      0,
      1.439,
      0,
      0,
      0,
      0,
      1,
      0,
      18.992,
      0,
      0,
      1
    );
  }
  12.22% {
    -webkit-transform: matrix3d(
      0.672,
      0,
      0,
      0,
      0,
      1.469,
      0,
      0,
      0,
      0,
      1,
      0,
      18.618,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.672,
      0,
      0,
      0,
      0,
      1.469,
      0,
      0,
      0,
      0,
      1,
      0,
      18.618,
      0,
      0,
      1
    );
  }
  14.18% {
    -webkit-transform: matrix3d(
      0.612,
      0,
      0,
      0,
      0,
      1.501,
      0,
      0,
      0,
      0,
      1,
      0,
      15.054,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.612,
      0,
      0,
      0,
      0,
      1.501,
      0,
      0,
      0,
      0,
      1,
      0,
      15.054,
      0,
      0,
      1
    );
  }
  14.37% {
    -webkit-transform: matrix3d(
      0.612,
      0,
      0,
      0,
      0,
      1.501,
      0,
      0,
      0,
      0,
      1,
      0,
      14.604,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.612,
      0,
      0,
      0,
      0,
      1.501,
      0,
      0,
      0,
      0,
      1,
      0,
      14.604,
      0,
      0,
      1
    );
  }
  19.23% {
    -webkit-transform: matrix3d(
      0.737,
      0,
      0,
      0,
      0,
      1.371,
      0,
      0,
      0,
      0,
      1,
      0,
      3.855,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.737,
      0,
      0,
      0,
      0,
      1.371,
      0,
      0,
      0,
      0,
      1,
      0,
      3.855,
      0,
      0,
      1
    );
  }
  20.01% {
    -webkit-transform: matrix3d(
      0.763,
      0,
      0,
      0,
      0,
      1.338,
      0,
      0,
      0,
      0,
      1,
      0,
      2.724,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.763,
      0,
      0,
      0,
      0,
      1.338,
      0,
      0,
      0,
      0,
      1,
      0,
      2.724,
      0,
      0,
      1
    );
  }
  23.05% {
    -webkit-transform: matrix3d(
      0.856,
      0,
      0,
      0,
      0,
      1.211,
      0,
      0,
      0,
      0,
      1,
      0,
      0.036,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.856,
      0,
      0,
      0,
      0,
      1.211,
      0,
      0,
      0,
      0,
      1,
      0,
      0.036,
      0,
      0,
      1
    );
  }
  25.75% {
    -webkit-transform: matrix3d(
      0.923,
      0,
      0,
      0,
      0,
      1.114,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.709,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.923,
      0,
      0,
      0,
      0,
      1.114,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.709,
      0,
      0,
      1
    );
  }
  26.94% {
    -webkit-transform: matrix3d(
      0.947,
      0,
      0,
      0,
      0,
      1.078,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.76,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.947,
      0,
      0,
      0,
      0,
      1.078,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.76,
      0,
      0,
      1
    );
  }
  31.58% {
    -webkit-transform: matrix3d(
      1.009,
      0,
      0,
      0,
      0,
      0.987,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.406,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.009,
      0,
      0,
      0,
      0,
      0.987,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.406,
      0,
      0,
      1
    );
  }
  31.73% {
    -webkit-transform: matrix3d(
      1.01,
      0,
      0,
      0,
      0,
      0.986,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.392,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.01,
      0,
      0,
      0,
      0,
      0.986,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.392,
      0,
      0,
      1
    );
  }
  37.32% {
    -webkit-transform: matrix3d(
      1.029,
      0,
      0,
      0,
      0,
      0.958,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.03,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.029,
      0,
      0,
      0,
      0,
      0.958,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.03,
      0,
      0,
      1
    );
  }
  38.15% {
    -webkit-transform: matrix3d(
      1.029,
      0,
      0,
      0,
      0,
      0.958,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.008,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.029,
      0,
      0,
      0,
      0,
      0.958,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.008,
      0,
      0,
      1
    );
  }
  42.35% {
    -webkit-transform: matrix3d(
      1.022,
      0,
      0,
      0,
      0,
      0.969,
      0,
      0,
      0,
      0,
      1,
      0,
      0.03,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.022,
      0,
      0,
      0,
      0,
      0.969,
      0,
      0,
      0,
      0,
      1,
      0,
      0.03,
      0,
      0,
      1
    );
  }
  48.9% {
    -webkit-transform: matrix3d(
      1.007,
      0,
      0,
      0,
      0,
      0.99,
      0,
      0,
      0,
      0,
      1,
      0,
      0.009,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.007,
      0,
      0,
      0,
      0,
      0.99,
      0,
      0,
      0,
      0,
      1,
      0,
      0.009,
      0,
      0,
      1
    );
  }
  57.77% {
    -webkit-transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      1.003,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.001,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      1.003,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.001,
      0,
      0,
      1
    );
  }
  60.47% {
    -webkit-transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      1.004,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.001,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      1.004,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.001,
      0,
      0,
      1
    );
  }
  69.36% {
    -webkit-transform: matrix3d(
      0.999,
      0,
      0,
      0,
      0,
      1.001,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.61% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -300,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  2.92% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -135.218,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
  }
  3.37% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -114.871,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1);
  }
  3.47% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -110.596,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1);
  }
  4.58% {
    -webkit-transform: matrix3d(
      2.061,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -68.65,
      0,
      0,
      1
    );
    transform: matrix3d(
      2.061,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -68.65,
      0,
      0,
      1
    );
  }
  5.69% {
    -webkit-transform: matrix3d(
      2.321,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -36.551,
      0,
      0,
      1
    );
    transform: matrix3d(
      2.321,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -36.551,
      0,
      0,
      1
    );
  }
  5.76% {
    -webkit-transform: matrix3d(
      2.32,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -34.768,
      0,
      0,
      1
    );
    transform: matrix3d(
      2.32,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -34.768,
      0,
      0,
      1
    );
  }
  7.41% {
    -webkit-transform: matrix3d(
      1.99,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -3.804,
      0,
      0,
      1
    );
    transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1);
  }
  7.51% {
    -webkit-transform: matrix3d(
      1.961,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -2.454,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.961,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -2.454,
      0,
      0,
      1
    );
  }
  7.88% {
    -webkit-transform: matrix3d(
      1.771,
      0,
      0,
      0,
      0,
      1.062,
      0,
      0,
      0,
      0,
      1,
      0,
      2.008,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.771,
      0,
      0,
      0,
      0,
      1.062,
      0,
      0,
      0,
      0,
      1,
      0,
      2.008,
      0,
      0,
      1
    );
  }
  8.68% {
    -webkit-transform: matrix3d(
      1.408,
      0,
      0,
      0,
      0,
      1.181,
      0,
      0,
      0,
      0,
      1,
      0,
      9.646,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.408,
      0,
      0,
      0,
      0,
      1.181,
      0,
      0,
      0,
      0,
      1,
      0,
      9.646,
      0,
      0,
      1
    );
  }
  10.03% {
    -webkit-transform: matrix3d(
      0.982,
      0,
      0,
      0,
      0,
      1.333,
      0,
      0,
      0,
      0,
      1,
      0,
      16.853,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.982,
      0,
      0,
      0,
      0,
      1.333,
      0,
      0,
      0,
      0,
      1,
      0,
      16.853,
      0,
      0,
      1
    );
  }
  10.85% {
    -webkit-transform: matrix3d(
      0.822,
      0,
      0,
      0,
      0,
      1.398,
      0,
      0,
      0,
      0,
      1,
      0,
      18.613,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.822,
      0,
      0,
      0,
      0,
      1.398,
      0,
      0,
      0,
      0,
      1,
      0,
      18.613,
      0,
      0,
      1
    );
  }
  11.53% {
    -webkit-transform: matrix3d(
      0.732,
      0,
      0,
      0,
      0,
      1.439,
      0,
      0,
      0,
      0,
      1,
      0,
      18.992,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.732,
      0,
      0,
      0,
      0,
      1.439,
      0,
      0,
      0,
      0,
      1,
      0,
      18.992,
      0,
      0,
      1
    );
  }
  12.22% {
    -webkit-transform: matrix3d(
      0.672,
      0,
      0,
      0,
      0,
      1.469,
      0,
      0,
      0,
      0,
      1,
      0,
      18.618,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.672,
      0,
      0,
      0,
      0,
      1.469,
      0,
      0,
      0,
      0,
      1,
      0,
      18.618,
      0,
      0,
      1
    );
  }
  14.18% {
    -webkit-transform: matrix3d(
      0.612,
      0,
      0,
      0,
      0,
      1.501,
      0,
      0,
      0,
      0,
      1,
      0,
      15.054,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.612,
      0,
      0,
      0,
      0,
      1.501,
      0,
      0,
      0,
      0,
      1,
      0,
      15.054,
      0,
      0,
      1
    );
  }
  14.37% {
    -webkit-transform: matrix3d(
      0.612,
      0,
      0,
      0,
      0,
      1.501,
      0,
      0,
      0,
      0,
      1,
      0,
      14.604,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.612,
      0,
      0,
      0,
      0,
      1.501,
      0,
      0,
      0,
      0,
      1,
      0,
      14.604,
      0,
      0,
      1
    );
  }
  19.23% {
    -webkit-transform: matrix3d(
      0.737,
      0,
      0,
      0,
      0,
      1.371,
      0,
      0,
      0,
      0,
      1,
      0,
      3.855,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.737,
      0,
      0,
      0,
      0,
      1.371,
      0,
      0,
      0,
      0,
      1,
      0,
      3.855,
      0,
      0,
      1
    );
  }
  20.01% {
    -webkit-transform: matrix3d(
      0.763,
      0,
      0,
      0,
      0,
      1.338,
      0,
      0,
      0,
      0,
      1,
      0,
      2.724,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.763,
      0,
      0,
      0,
      0,
      1.338,
      0,
      0,
      0,
      0,
      1,
      0,
      2.724,
      0,
      0,
      1
    );
  }
  23.05% {
    -webkit-transform: matrix3d(
      0.856,
      0,
      0,
      0,
      0,
      1.211,
      0,
      0,
      0,
      0,
      1,
      0,
      0.036,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.856,
      0,
      0,
      0,
      0,
      1.211,
      0,
      0,
      0,
      0,
      1,
      0,
      0.036,
      0,
      0,
      1
    );
  }
  25.75% {
    -webkit-transform: matrix3d(
      0.923,
      0,
      0,
      0,
      0,
      1.114,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.709,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.923,
      0,
      0,
      0,
      0,
      1.114,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.709,
      0,
      0,
      1
    );
  }
  26.94% {
    -webkit-transform: matrix3d(
      0.947,
      0,
      0,
      0,
      0,
      1.078,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.76,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.947,
      0,
      0,
      0,
      0,
      1.078,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.76,
      0,
      0,
      1
    );
  }
  31.58% {
    -webkit-transform: matrix3d(
      1.009,
      0,
      0,
      0,
      0,
      0.987,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.406,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.009,
      0,
      0,
      0,
      0,
      0.987,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.406,
      0,
      0,
      1
    );
  }
  31.73% {
    -webkit-transform: matrix3d(
      1.01,
      0,
      0,
      0,
      0,
      0.986,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.392,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.01,
      0,
      0,
      0,
      0,
      0.986,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.392,
      0,
      0,
      1
    );
  }
  37.32% {
    -webkit-transform: matrix3d(
      1.029,
      0,
      0,
      0,
      0,
      0.958,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.03,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.029,
      0,
      0,
      0,
      0,
      0.958,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.03,
      0,
      0,
      1
    );
  }
  38.15% {
    -webkit-transform: matrix3d(
      1.029,
      0,
      0,
      0,
      0,
      0.958,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.008,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.029,
      0,
      0,
      0,
      0,
      0.958,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.008,
      0,
      0,
      1
    );
  }
  42.35% {
    -webkit-transform: matrix3d(
      1.022,
      0,
      0,
      0,
      0,
      0.969,
      0,
      0,
      0,
      0,
      1,
      0,
      0.03,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.022,
      0,
      0,
      0,
      0,
      0.969,
      0,
      0,
      0,
      0,
      1,
      0,
      0.03,
      0,
      0,
      1
    );
  }
  48.9% {
    -webkit-transform: matrix3d(
      1.007,
      0,
      0,
      0,
      0,
      0.99,
      0,
      0,
      0,
      0,
      1,
      0,
      0.009,
      0,
      0,
      1
    );
    transform: matrix3d(
      1.007,
      0,
      0,
      0,
      0,
      0.99,
      0,
      0,
      0,
      0,
      1,
      0,
      0.009,
      0,
      0,
      1
    );
  }
  57.77% {
    -webkit-transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      1.003,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.001,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      1.003,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.001,
      0,
      0,
      1
    );
  }
  60.47% {
    -webkit-transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      1.004,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.001,
      0,
      0,
      1
    );
    transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      1.004,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.001,
      0,
      0,
      1
    );
  }
  69.36% {
    -webkit-transform: matrix3d(
      0.999,
      0,
      0,
      0,
      0,
      1.001,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.61% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
