<ion-header *ngIf="grupo">
  <ion-toolbar text-center>
    <ion-title>Modificando grupo {{ grupo.gpr_c_grupo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding *ngIf="grupo">
  <form [formGroup]="grupoForm" novalidate (ngSubmit)="onSubmit()">
    <ion-item
      [class.ion-invalid]="
        fv.error(grupoForm.controls.grupo, 'grupo') &&
        grupoForm.controls.grupo.dirty
      "
    >
      <ion-label position="stacked">Grupo*</ion-label>
      <ion-input type="text" formControlName="grupo"></ion-input>
    </ion-item>
    <small class="form-error">{{
      fv.error(grupoForm.controls.grupo, "grupo")
    }}</small>
    <ion-item lines="none">
      <input type="checkbox" formControlName="ativo" />&nbsp;Ativo
    </ion-item>
    <!-- <ion-checkbox formControlName="ativo" color="light"></ion-checkbox>Ativo -->

    <ion-grid>
      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-button expand="full" type="submit" [disabled]="!grupoForm.valid"
            >Confirmar &nbsp;<span class="icon-check"></span
          ></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <p>{{ grupo | json }}</p> -->
</ion-content>
