<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()" padding>
  <!-- <p>f.valid: {{ f.valid }}</p> -->
  <!-- <p>loginForm.valid: {{ loginForm.valid }}</p> -->
  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input formControlName="senha" type="password" required></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label
        color="warning"
        (click)="onEsqueciSenhaClick()"
        class="link"
        text-center
        >ESQUECEU SUA SENHA?</ion-label
      >
    </ion-item> -->

    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid"
      >Entrar</ion-button
    >

    <!-- <h5 class="strike" text-center><span>ou</span></h5>

    <ion-button expand="full" type="button" color="primary">
      <span class="icon-facebook"></span>&nbsp; Facebook</ion-button
    > -->
  </ion-list>
</form>
