/* ion-toolbar */
ion-toolbar {
  padding: 10px;
}

ion-toolbar ion-img {
  height: 64px;
  width: 64px;
  padding-right: 15px;
}

ion-toolbar ion-label h2 {
  font-family: "Oswald", sans-serif;
  color: var(--po-color-title);
}

ion-toolbar ion-label h2 .fav {
  color: tomato !important;
}

ion-toolbar ion-label p {
  color: var(--po-color-text);
  font-style: italic;
}

ion-toolbar.border {
  border: #e1e1e1 solid 1px;
  border-radius: 10px;
}

ion-toolbar ion-button {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

/* .off
ion-toolbar.off,
ion-toolbar.off ion-label h2,
ion-toolbar.off ion-label h2 .fav,
ion-toolbar.off ion-label p,
ion-toolbar.off [class^="icon-"] {
  // opacity: 0.5;
  color: silver;
}

ion-toolbar.off ion-img {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
} 
*/
