<ion-toolbar [class.border]="border" [class.off]="lojaFechada">
  <ion-img
    slot="start"
    [src]="pro_img(produto.pro_c_img)"
    alt=""
    (click)="onZoomImgClick(produto.pro_c_img)"
    cache="true"
    tappable
  ></ion-img>
  <ion-label text-start>
    <h2>
      <span class="icon-heart fav" *ngIf="produto.pro_b_favorito"></span>
      <strong>{{ produto.pro_c_produto }}</strong>
    </h2>
    <p>{{ produto.pro_c_descricao }}</p>
    <po-preco-produto
      [produto]="produto"
      [lojaFechada]="false"
    ></po-preco-produto>
  </ion-label>
  <ion-button
    [disabled]="lojaFechada"
    slot="end"
    (click)="onSelectClick(produto)"
    ><span class="icon-plus"></span
  ></ion-button>
</ion-toolbar>
