@import "_mix";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
// @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
} */
/* 
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
}
*/

.sidebar-wrapper {
  display: flex;
  align-items: stretch; 
  width: 100%;
}

#sidebar {
  min-width: $sidebar_width;
  max-width: $sidebar_width;
  background-color: $sidebar_bg_content_color;
  color: $sidebar_fg_content_color;
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif;
}

#sidebar.active {
  margin-left: -$sidebar_width;
}

#sidebar .sidebar-header {
  height: $nav_header_height;
  padding: 5px;
  background-color: $sidebar_bg_header_color;
  color: $sidebar_fg_header_color;
}

#sidebar .sidebar-header img {
  // height: 48px;
  margin-top: 8px;
}

#sidebar .heading {
  padding: 15px;
  color: $sidebar_heading_text;
}

#sidebar [class^="icon-"] {
  color: $sidebar_icon_color;
  margin-right: 10px;
}

/* #sidebar ul.items {
  padding: 20px 0px;
  border-bottom: 1px solid white;
} */

#sidebar ul p {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  border-top: 1px solid $sidebar_item_border_bottom_color;
}

#sidebar li a small {
  color: $sidebar_item_small;
}

#sidebar ul li a,
#sidebar ul li a:hover,
#sidebar ul li a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar ul li a:hover {
  background-color: $sidebar_bg_hover_color;
  color: $sidebar_fg_hover_color;
}

#sidebar ul li a:hover [class^="icon-"] {
  color: $sidebar_icon_hover_color;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  background-color: $sidebar_bg_hover_color;
  color: $sidebar_fg_hover_color;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: $sidebar_bg_item_color;
  color: $sidebar_fg_item_color;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid $sidebar_button_border_color;
}

/* 
a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
*/
.content {
  width: 100%;
  //   padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
/* 
@media (max-width: 768px) {
  #sidebar {
    margin-left: -$sidebar_width;
  }
  #sidebar.active {
    margin-left: 0px;
  }
}
 */
/* header */
header {
  height: $nav_header_height;
  background-color: $nav_bg_color;
  color: $nav_fg_color;
}

header img {
  height: 48px;
}

header form {
  /* class="mx-2 my-auto d-inline w-100" */
  margin-top: 8px;
}

header a.toggler i {
  // position: relative;
  // margin-top: 10px;
  font-size: 1.5rem;
}

/* 
header a.toggler i.ion-cancel::after {
  content: "\AFechar";
  white-space: pre; 
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: -15px;
  left: -5px;
}

header a.toggler i.ion-menu::after {
  content: "\AMenu";
  white-space: pre-wrap; 
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: -15px;
  left: -5px;
}
 */
/* 
.navbar {
  background-color: $nav_bg_color; // #884bdf;
  color: $nav_fg_color;
}
 */
