@import "_mix";

/* --------------------------
:: 13.0 Contact Area CSS Start
-------------------------- */
/* 
.address-text > p,
.phone-text > p,
.email-text > p {
    font-size: 18px;
    margin-bottom: 10px;
}

.address-text > p > span,
.phone-text > p > span,
.email-text > p > span {
    color: #5b32b4;
}

.footer-contact-area .line-shape {
    margin-left: 0;
}

.footer-contact-area .heading-text > p {
    margin-top: 50px;
}

.footer-contact-area .heading-text {
    margin-bottom: 50px;
}

#name {
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 0;
}

#email {
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 0;
}

#message {
    border-radius: 25px 25px 25px 0;
}
 */

.form-control {
  // border-radius: 25px 25px 25px 0;
}

form .btn.submit-btn {
//   background: $form_btn_bg_color;
  height: 48px;
  min-width: 185px;
//   color: $form_btn_fg_color;
  font-weight: 500;
  border-radius: 22px 25px 22px 0;
  text-transform: uppercase;
}

form .btn.submit-btn:hover {
//   background: $form_btn_bg_hover_color;
//   color: $form_btn_fg_hover_color;
  -webkit-transition-duration: $def_transition_duration;
  -o-transition-duration: $def_transition_duration;
  transition-duration: $def_transition_duration;
}
/* 
.footer-contact-area {
    background: #f5f9fc;
}

.footer-text > p {
    margin-bottom: 50px;
} */
