@import "_mix";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* --------------------------
:: 2.0 Colorlib template - Header Area CSS
-------------------------- */

.header_area {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 0;
  padding: 0 10%;
  background-color: $nav_bg_color;
  color: $nav_fg_color;
  height: $nav_header_height;
}

.header_area .menu_area .navbar-brand {
  margin: 0;
  padding: 0;
}

.header_area .menu_area .navbar-brand img {
  height: 72px;
}

.header_area .menu_area {
  position: relative;
  z-index: 2;
}

.header_area .menu_area #nav .nav-link {
  color: $nav_fg_color;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition-duration: $def_transition_duration;
  -o-transition-duration: $def_transition_duration;
  transition-duration: $def_transition_duration;
  // padding: 35px 15px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.header_area .menu_area #nav .nav-link:hover {
  color: $nav_hover_color;
  font-weight: bold;
  font-size: 125%;
}

.header_area .login-button {
  text-align: right;
  cursor: pointer;
}

.header_area .login-button > a {
  color: $nav_fg_color;
  font-weight: 500;
  display: inline-block;
  border: 2px solid $nav_btn_border_color;
  height: 50px;
  min-width: 178px;
  line-height: 46px;
  text-align: center;
  border-radius: 24px 24px 24px 0px;
}

.header_area .login-button > a:hover {
  background: $nav_fg_color;
  color: $nav_bg_color;
  border-color: transparent;
  -webkit-transition-duration: $def_transition_duration;
  -o-transition-duration: $def_transition_duration;
  transition-duration: $def_transition_duration;
}

/* sticky css */
.header_area.sticky {
  background-color: $nav_bg_sticky_color; // #884bdf;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* box-shadow: 5px 8px 18px #888888; */
  height: $nav_header_height_fixed;
  position: fixed;
  // top: 0;
  top: -$nav_header_height_fixed;
  z-index: 99;

  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 500ms;
  animation: slide 0.5s forwards;
  animation-delay: 500ms;
}

.header_area.sticky .menu_area .navbar-brand img {
  height: 48px;
}
/* 
.header_area.sticky .menu_area .navbar-brand {
    font-size: 50px;
}
*/
.header_area.sticky .menu_area #nav .nav-link {
  padding: 23px 15px;
}

.header_area.sticky .navbar {
  padding: 0;
}

.header_area .navbar-collapse.show * {
  background-color: $nav_bg_color;
}

.header_area .navbar-collapse.show .navbar-nav,
.header_area .navbar-collapse.show .login-button {
  padding: 20px;
}

@-webkit-keyframes slide {
  100% {
    top: 0;
  }
}

@keyframes slide {
  100% {
    top: 0;
  }
}

@media (max-width: 576px) {
  /* 
  .header_area .navbar-brand img {
    //   .menu_area .navbar-brand img {
        height: 36px;
    }
    */

  .header_area .welcome-heading {
    margin-top: 0px;
  }

  .header_area {
    padding-top: 10px;
  }

  .header_area #logo {
    height: 32px;
  }
}
