@import "_mix";

/* --------------------------
:: 14.0 Colorlib template - Footer Area CSS Start
-------------------------- */

footer {
  background-color: $nav_bg_color;
  position: fixed;
  z-index: -1;
  height: $nav_footer_height_fixed; /*This may to be adjusted depending on the content of your footer*/
  width: 100%;
  bottom: 0;
  color: white;
  padding: 10px;
}

footer img {
  height: 48px;
  margin: 10px;
}

footer p,
footer a {
  color: white;
}

footer .footer-social-icon {
  text-align: center;
}

footer .footer-social-icon ul li {
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
}

footer .footer-social-icon ul li a {
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  text-align: center;
  // display: inline-block;
  vertical-align: middle;
  background-color: white;
  color: $nav_bg_color;
  border-radius: 10px 10px 10px 0;
  margin-left: 5px;
  // overflow: hidden;
  transition: 700ms;
  padding: 6px;
}

footer .footer-social-icon ul li a:hover {
  color: white;
  background-color: $nav_bg_color;
  width: 64px;
  height: 64px;
  font-size: 48px;
}
