// nav
$nav_bg_color: #1976d2;
$nav_bg_sticky_color: #1968c2;
$nav_fg_color: #fff;
$nav_hover_color: #e6ee9c;
$nav_btn_border_color: #fff9c4;
$nav_header_height: 100px;
$nav_header_height_fixed: 70px;
$nav_footer_height_fixed: 150px;

// heading
$heading_color: #82b1ff;

// transitions
$def_transition_duration: 500ms;