<ion-header>
  <ion-toolbar>
    <ion-button
      icon-only
      fill="clear"
      color="light"
      (click)="idLoja = 0"
      slot="start"
      *ngIf="conta && conta.lojas && conta.lojas.length > 1 && idLoja > 0"
    >
      <span class="icon-chevron-l"></span>
    </ion-button>
    <ion-title text-center
      >Área lojista
      <span *ngIf="loja">de {{ loja.loj_c_loja }}</span></ion-title
    >
    <ion-buttons slot="end">
      <ion-button icon-only (click)="onModalClose()"
        ><ion-icon class="icon" name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="subheader" *ngIf="jwt && idLoja > 0">
    <ion-slides [options]="slideOpts">
      <ion-slide
        *ngFor="let tab of tabs"
        (click)="onSelTabClick(tab)"
        [class.active]="tabSel === tab.id"
      >
        <p>{{ tab.caption }}</p>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p>{{ tabSel }}</p> -->
  <!-- <p>jwt: {{ jwt }}</p>
  <p>idLoja: {{ idLoja }}</p>
  <p>conta: {{ conta | json }}</p> -->
  <ng-container *ngIf="jwt && idLoja > 0; else nenhumaLoja">
    <div [ngSwitch]="tabSel">
      <div *ngSwitchCase="'gpr'">
        <po-area-lojista-grupos-produtos
          [idLoja]="idLoja"
        ></po-area-lojista-grupos-produtos>
      </div>
      <div *ngSwitchCase="'loj'">
        <po-area-lojista-loja></po-area-lojista-loja>
      </div>
      <div *ngSwitchCase="'hor'">
        <po-area-lojista-horarios [idLoja]="idLoja"></po-area-lojista-horarios>
      </div>
      <div *ngSwitchCase="'fpg'">
        <po-area-lojista-formas-pgto
          [idLoja]="idLoja"
        ></po-area-lojista-formas-pgto>
      </div>
      <div *ngSwitchCase="'set'">
        <po-area-lojista-setores-entrega
          [idLoja]="idLoja"
        ></po-area-lojista-setores-entrega>
      </div>
      <div *ngSwitchDefault>
        <po-area-lojista-produtos [idLoja]="idLoja"></po-area-lojista-produtos>
      </div>
    </div>
  </ng-container>
  <ng-template #nenhumaLoja>
    <ion-toolbar *ngIf="!jwt; else jwtOk" padding>
      <div *ngIf="!incluirLoja">
        <po-login (onLogin)="onLogin($event)"></po-login>
        <h5 class="strike" text-center><span>ou</span></h5>
        <ion-button expand="block" color="light" (click)="incluirLoja = true"
          >Como incluir minha loja?</ion-button
        >
      </div>
      <div *ngIf="incluirLoja">
        <p>Como incluir sua loja?</p>
      </div>
    </ion-toolbar>
    <!-- <ion-grid *ngIf="!jwt; else jwtOk">
      <ion-row *ngIf="!incluirLoja">
        <ion-col>
          <ion-button expand="block" color="light" (click)="incluirLoja = true"
            >Como incluir minha loja?</ion-button
          >
        </ion-col>

        <ion-col>
          <h5 class="strike" text-center><span>ou</span></h5>
        </ion-col>

        <ion-col>
          <ion-button
            expand="block"
            color="warning"
            (click)="onLoginCadastroClick()"
            >Entrar</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row *ngIf="incluirLoja">Incluindo sua loja</ion-row>
    </ion-grid> -->
    <ng-template #jwtOk>
      <po-area-lojista-sel-loja
        [jwt]="jwt"
        (onSelected)="onSelClick($event)"
      ></po-area-lojista-sel-loja>
    </ng-template>
  </ng-template>
</ion-content>
