/* ion-header */
ion-header ion-toolbar {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

/* .subheader */
ion-header ion-toolbar.subheader {
  --background: var(--po-color-custom-dark);
  --color: var(--po-color-custom-tint);
}

ion-header ion-toolbar.subheader .active {
  color: var(--po-color-custom-contrast);
  font-weight: bold;
  border-bottom: 2px solid var(--po-color-custom-contrast);
}

ion-header ion-toolbar ion-slide {
  cursor: pointer;
}
