<div *ngIf="formas">
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button [value]="'D'">Débitos</ion-segment-button>
    <ion-segment-button [value]="'C'">Créditos</ion-segment-button>
    <ion-segment-button [value]="'O'">Outros</ion-segment-button>
  </ion-segment>

  <!-- <p>tab: {{ tab }}</p> -->
  <!-- <p>formas: {{ formas | json }}</p> -->

  <ion-label text-center padding *ngIf="formas.length == 0"
    ><p>Nenhuma forma encontrada.</p>
  </ion-label>

  <ion-virtual-scroll [items]="formas" approxItemHeight="50px">
    <ion-item lines="full" *virtualItem="let forma">
      <!-- <ion-avatar slot="start"> -->
      <ion-img
        slot="start"
        src="{{ url_imgs }}/formas-pgto/{{ forma.fpg_c_img }}"
        alt=""
        cache="true"
        tappable
      >
      </ion-img>
      <!-- </ion-avatar> -->
      <ion-label
        ><h2>
          {{ forma.fpg_c_forma }}
        </h2>
      </ion-label>
      <ion-toggle
        color="warning"
        slot="end"
        [(ngModel)]="forma.sel"
        (click)="onFormaClick(forma)"
        *ngIf="forma.fpg_pk != 1"
      ></ion-toggle>
    </ion-item>
  </ion-virtual-scroll>

  <!-- <div [ngSwitch]="tab">
    <div *ngSwitchCase="Tab.cadastro">
      <po-cadastro
        (onChanged)="onCadastroPageChanged()"
        (onFalhaLogin)="tab = Tab.login"
      ></po-cadastro>
    </div>
    <div *ngSwitchDefault>
      <po-login (onLogin)="onLogin($event)"></po-login>
    </div>
  </div> -->

  <!-- <ion-list>
    <ion-list-header>
      <ion-label>Débitos</ion-label>
    </ion-list-header>
    <ion-item>Item 1</ion-item>
    <ion-item>Item 2</ion-item>
    <ion-item>Item 3</ion-item>
    <ion-item>Item 4</ion-item>
    <ion-item>Item 5</ion-item>
  </ion-list>
--></div>
