/* ion-avatar */
/* ion-avatar {
  --border-radius: 0px;
  // padding: 0px;
  // margin: 0px;
} 
*/

ion-segment ion-segment-button {
  --color: var(--po-color-text);
  --color-checked: var(--po-color-custom);
}

/* ion-img */
ion-img {
  height: 64px;
  width: 64px;
}
