<ion-toolbar no-padding>
  <!-- <p>{{ idLoja }}</p> -->
  <!-- <p>grupos: {{ grupos | json }}</p> -->
  <ng-container *ngIf="jwt; else noJwt">
    <!-- <p>filter: {{ filter }}</p> -->
    <ion-toolbar color="light" class="search">
      <ion-button slot="start" (click)="onNovoClick()">
        <span class="icon-plus"></span>&nbsp;Novo
      </ion-button>
      <ion-searchbar
        placeholder="Grupo?"
        [(ngModel)]="filter"
        showCancelButton="false"
        (ionClear)="onLimpaProcura()"
        (keyup.enter)="onRefresh()"
        text-start
      ></ion-searchbar>
    </ion-toolbar>

    <div *ngIf="grupos">
      <ion-label text-center padding *ngIf="grupos.length == 0"
        ><p>Nenhum grupo encontrado.</p></ion-label
      >

      <ion-virtual-scroll [items]="grupos" approxItemHeight="50px">
        <ion-item
          class="panel"
          [class.off]="!grupo.gpr_b_ativo"
          lines="full"
          *virtualItem="let grupo"
        >
          <ion-buttons slot="start">
            <ion-button
              fill="clear"
              [disabled]="grupo.prior == 0"
              (click)="onSwapPosClick(grupo)"
            >
              <span class="icon-chevron-u"></span>
            </ion-button>
            <ion-button
              fill="clear"
              [disabled]="grupo.next == 0"
              (click)="onSwapPosClick(grupo, false)"
            >
              <span class="icon-chevron-d"></span>
            </ion-button>
          </ion-buttons>
          <ion-label (click)="ongrupoClick(grupo)"
            ><h2>
              <!-- ({{ grupo.prior }}/{{ grupo.next }})
                  {{ grupo.gpr_i_pos }}: {{ grupo.gpr_pk }} -->
              {{ grupo.gpr_c_grupo }} ({{ grupo.gpr_i_num_produtos }})
            </h2>
          </ion-label>
          <ion-button slot="end" fill="clear" (click)="onMenuClick(grupo)">
            <span class="icon-vdots"></span>
          </ion-button>
        </ion-item>
      </ion-virtual-scroll>
    </div>
  </ng-container>
  <ng-template #noJwt>
    <po-login (onLogin)="onLogin($event)"></po-login>
  </ng-template>
</ion-toolbar>
