/* search */
ion-toolbar.search ion-button {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

/* .panel */
ion-item.panel {
  --background: var(--po-color-panel-bg);
  --color: var(--po-color-title);
}

ion-item.panel ion-button {
  --color: var(--po-color-panel-icons);
  color: var(--po-color-panel-icons);
}

ion-item.panel.off h2 {
  text-decoration: line-through;
  color: var(--po-color-text-off);
}
