<!-- <p>idLoja: {{ idLoja }}</p> -->
<!-- <p>horarios: {{ horarios | json }}</p> -->
<ion-grid no-padding *ngIf="horarios">
  <ion-row>
    <ion-col>
      <ion-toolbar class="tools">
        <ion-buttons slot="end">
          <ion-button (click)="onExpandClick()">
            <span class="icon-plus"></span>&nbsp;Abre todos
          </ion-button>
          <ion-button (click)="onExpandClick(false)">
            <span class="icon-minus"></span>&nbsp;Fecha todos
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let hor of [0, 1, 2, 3, 4, 5, 6]">
    <ion-col>
      <ion-row>
        <ion-col>
          <ion-toolbar class="panel" [class.expanded]="horarios.days[hor].expanded">
            <ion-label>
              <h2>
                {{ horarios.days[hor].dlong }} ({{
                  horarios.days[hor].ints.length
                }})
              </h2>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button
                fill="clear"
                (click)="
                  horarios.days[hor].expanded = !horarios.days[hor].expanded
                "
              >
                <span
                  [ngClass]="{
                    'icon-chevron-d': !horarios.days[hor].expanded,
                    'icon-chevron-u': horarios.days[hor].expanded
                  }"
                ></span>
              </ion-button>

              <ion-button fill="clear" (click)="onNovoClick(hor)">
                <span class="icon-plus"></span>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="horarios.days[hor].expanded">
        <ion-col>
          <ion-label padding *ngIf="horarios.days[hor].ints.length == 0" text-center>
            <p>Não abre nesse dia.</p>
          </ion-label>
          <ion-list>
            <ion-item
              *ngFor="let intervalo of horarios.days[hor].ints; let i = index"
              align-items-center
              lines="none"
            >
              <ion-label>
                <p>{{ intervalo }}</p>
              </ion-label>
              <ion-button
                color="danger"
                size="small"
                slot="end"
                (click)="onIntervaloDelClick(horarios.days[hor].ids[i])"
              >
                <span class="icon-trash"></span>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
