<form [formGroup]="lojaForm" novalidate (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item
          [class.ion-invalid]="
            fv.error(lojaForm.controls.loja, 'loja') &&
            lojaForm.controls.loja.dirty
          "
        >
          <ion-label position="stacked">Nome*</ion-label>
          <ion-input
            type="text"
            formControlName="loja"
          ></ion-input>
        </ion-item>
        <small class="form-error">{{
          fv.error(lojaForm.controls.loja, "loja")
        }}</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="4" offset-sm="4">
        <ion-button
          expand="full"
          type="submit"
          color="warning"
          [disabled]="!lojaForm.valid"
          >Confirmar &nbsp;<span class="icon-check"></span
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
