/* ion-button */
ion-toolbar ion-button {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}

/* ion-item */
ion-item ion-label h2 {
  color: var(--po-color-title);
}

ion-item ion-label p {
  color: var(--po-color-text);
}

/* .off */
ion-item.off,
ion-item.off ion-label h2,
ion-item.off ion-label p,
ion-item.off [class^="icon-"] {
  // opacity: 0.5;
  color: silver;
}

ion-item.off ion-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
