<ion-toolbar no-padding>
  <!-- <p>{{ idLoja }}</p> -->
  <!-- <p>produtos: {{ produtos | json }}</p> -->
  <ng-container *ngIf="jwt; else noJwt">
    <!-- <p>filter: {{ filter }}</p> -->
    <ion-toolbar color="light" class="search">
      <ion-button slot="start" (click)="onNovoClick()">
        <span class="icon-plus"></span>&nbsp;Novo
      </ion-button>
      <ion-searchbar
        placeholder="Produto, barcode?"
        [(ngModel)]="filter"
        showCancelButton="false"
        (ionClear)="onLimpaProcura()"
        (keyup.enter)="onRefresh()"
        text-start
      ></ion-searchbar>
    </ion-toolbar>

    <div *ngIf="produtos">
      <ion-label text-center padding *ngIf="produtos.length == 0"
        ><p>Nenhum produto encontrado.</p></ion-label
      >

      <ion-virtual-scroll [items]="produtos" approxItemHeight="90px">
        <ion-item
          button
          lines="full"
          *virtualItem="let produto"
          detail
          [class.off]="!produto.pro_b_ativo"
        >
          <ion-avatar slot="start">
            <ion-img
              [src]="pro_img(produto.pro_c_img)"
              alt=""
              (click)="onZoomImgClick(produto.pro_c_img)"
              cache="true"
              tappable
            ></ion-img>
          </ion-avatar>
          <ion-label (click)="onProdutoEdit(produto)"
            ><h2 [class.off]="!produto.pro_b_ativo">
              <!-- ({{ produto.pro_i_prior }}/{{ produto.pro_i_next }})
                    {{ produto.pro_i_pos }}: {{ produto.pro_pk }} -->
              {{ produto.pro_c_produto }} ({{ produto.num_detalhes }})
            </h2>
            <p>{{ produto.pro_c_grupo }}</p>
            <po-preco-produto [produto]="produto"></po-preco-produto>
          </ion-label>
          <!-- <ion-button slot="end" color="light" (click)="onMenuClick(produto)">
            <span class="icon-vdots"></span>
          </ion-button> -->
        </ion-item>
      </ion-virtual-scroll>
    </div>
  </ng-container>
  <ng-template #noJwt>
    <po-login (onLogin)="onLogin($event)"></po-login>
  </ng-template>
</ion-toolbar>
