<div *ngIf="lojas">
  <ion-toolbar color="light">
    <ion-label text-center><h2>Selecione uma loja</h2></ion-label>
  </ion-toolbar>
  <!-- <p>lojas: {{ lojas | json }}</p> -->
  <!-- <p>jwt {{ jwt | json }}</p> -->
  <ion-toolbar *ngIf="lojas.length == 0">
    <ion-label text-center>
      <p>Nenhuma loja encontrada para essa conta.</p>
    </ion-label>
  </ion-toolbar>
  <ion-list lines="full">
    <div *ngFor="let loja of lojas">
      <po-loja-item-sel
        (onSelected)="onSelClick($event)"
        [loja]="loja"
      ></po-loja-item-sel>
    </div>
  </ion-list>
</div>
