/* .all */
.all ion-item ion-label p {
  color: var(--po-color-title);
}

/* .off */
.all ion-item ion-label.off p {
  color: var(--po-color-text);
  text-decoration: line-through;
}

/* .panel */
ion-toolbar.panel {
  --background: var(--po-color-panel-bg);
  // --color: var(--po-color-panel-text);
  // color: var(--po-color-panel-text);
  border-radius: 4px;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-color: var(--po-color-custom-light); // #aaa;
  --border-style: solid;
  --border-width: 1px;
  margin-top: 5px;
  margin-bottom: 0px;
}

ion-toolbar.panel ion-text span,
ion-toolbar.panel ion-button span {
  --color: var(--po-color-panel-icons);
  color: var(--po-color-panel-icons);
}

ion-toolbar.panel ion-label h2 {
  --color: var(--po-color-panel-text);
  color: var(--po-color-panel-text);
}

/* .panel.off */
ion-toolbar.panel.off ion-label h2 {
  color: var(--po-color-text-off);
  text-decoration: line-through;
}

/* expanded */
ion-toolbar.panel.expanded,
ion-toolbar.panel.expanded ion-label h2 {
  --background: var(--po-color-panel-bg-active);
  // --color: var(--po-color-panel-text-active);
  // color: var(--po-color-panel-text-active);
}

ion-toolbar.panel.expanded ion-text span,
ion-toolbar.panel.expanded ion-button span {
  --color: var(--po-color-panel-icons-active);
  color: var(--po-color-panel-icons-active);
}

ion-toolbar.panel.expanded ion-label h2 {
  --color: var(--po-color-panel-text-active);
  color: var(--po-color-panel-text-active);
}

/* ion-button */
ion-button.novo {
  --background: var(--po-color-custom);
  --color: var(--po-color-custom-contrast);
}
