<!-- <p>{{ idLoja }}</p> -->
<!-- <p>{{ jwt }}</p> -->
<!-- <p>{{ setores | json }}</p> -->
<!-- <p>{{ all | json }}</p> -->
<ion-grid>
  <ion-row *ngIf="all" class="all">
    <ion-col size="6">
      <ion-item lines="none">
        <ion-label position="stacked" [class.off]="!all.status"
          ><p>Taxa geral</p></ion-label
        >
        <!-- <ion-checkbox></ion-checkbox> -->
        <ion-toggle
          color="warning"
          (ngModelChange)="onAllToggle()"
          [(ngModel)]="all.status"
        ></ion-toggle>
        <!-- <ion-input type="number"></ion-input> -->
      </ion-item>
    </ion-col>
    <ion-col size="6" *ngIf="all.status">
      <ion-item lines="none">
        <ion-label position="stacked"><p>Valor</p></ion-label>
        <ion-input
          type="number"
          (ionBlur)="onAllValorBlur()"
          (keypress.enter)="onAllValorBlur()"
          [(ngModel)]="all.value"
          text-right
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <!-- </ion-list> -->

  <ion-row *ngFor="let setor of setores">
    <ion-col>
      <ion-row>
        <ion-col>
          <ion-toolbar
            class="panel"
            [class.expanded]="setor.expanded"
            [class.off]="!setor.set_b_ativo"
          >
            <ion-button
              fill="clear"
              slot="start"
              (click)="setor.expanded = !setor.expanded"
            >
              <span
                [ngClass]="{
                  'icon-chevron-d': !setor.expanded,
                  'icon-chevron-u': setor.expanded
                }"
              ></span>
            </ion-button>
            <ion-label>
              <h2>
                {{ setor.set_c_setor }} ({{ setor.bairros.length }}) -
                <strong>{{
                  setor.set_f_taxa_entrega | currency: "BRL":true:"1.2-2"
                }}</strong>
              </h2>
            </ion-label>
            <ion-button slot="end" fill="clear" (click)="onMenuClick(setor)">
              <span class="icon-vdots"></span>
            </ion-button>
          </ion-toolbar>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="setor.expanded">
        <ion-col>
          <ion-label *ngIf="setor.bairros.length == 0" text-center>
            <p>Nenhum bairro indicado.</p>
          </ion-label>
          <ion-list>
            <ion-item
              *ngFor="let bairro of setor.bairros"
              align-items-center
              lines="none"
            >
              <ion-label>
                <h2>{{ bairro.bs_c_bairro }}</h2>
              </ion-label>
              <ion-button
                color="danger"
                size="small"
                slot="end"
                (click)="onBairroDelClick(bairro.bs_pk)"
              >
                <span class="icon-trash"></span>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-sm="6" offset-sm="3">
      <ion-button expand="full" (click)="onNovoSetorClick()" class="novo">
        <span class="icon-plus"></span>&nbsp;Novo setor
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
