
.icon-users:before { content: '\e800'; } /* '' */
.icon-vdots:before { content: '\e801'; } /* '' */
.icon-woman:before { content: '\e802'; } /* '' */
.icon-wifi:before { content: '\e803'; } /* '' */
.icon-add-coin:before { content: '\e804'; } /* '' */
.icon-add-user:before { content: '\e805'; } /* '' */
.icon-alarm:before { content: '\e806'; } /* '' */
.icon-apps:before { content: '\e807'; } /* '' */
.icon-arrow-d:before { content: '\e808'; } /* '' */
.icon-down:before { content: '\e809'; } /* '' */
.icon-arrow-r:before { content: '\e80a'; } /* '' */
.icon-arrow-u:before { content: '\e80b'; } /* '' */
.icon-asterisk:before { content: '\e80c'; } /* '' */
.icon-bullets:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-cart:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-chatboxes:before { content: '\e811'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-barcode:before { content: '\e813'; } /* '' */
.icon-copy:before { content: '\e814'; } /* '' */
.icon-chevron-r:before { content: '\e815'; } /* '' */
.icon-chevron-u:before { content: '\e816'; } /* '' */
.icon-chevron-l:before { content: '\e817'; } /* '' */
.icon-download:before { content: '\e818'; } /* '' */
.icon-chevron-d:before { content: '\e819'; } /* '' */
.icon-clock:before { content: '\e81a'; } /* '' */
.icon-filter:before { content: '\e81b'; } /* '' */
.icon-day:before { content: '\e81c'; } /* '' */
.icon-flash:before { content: '\e81d'; } /* '' */
.icon-doc:before { content: '\e81e'; } /* '' */
.icon-coin:before { content: '\e81f'; } /* '' */
.icon-cols:before { content: '\e820'; } /* '' */
.icon-half-star:before { content: '\e821'; } /* '' */
.icon-edit:before { content: '\e822'; } /* '' */
.icon-cut:before { content: '\e823'; } /* '' */
.icon-heart:before { content: '\e824'; } /* '' */
.icon-facebook:before { content: '\e825'; } /* '' */
.icon-heart-half:before { content: '\e826'; } /* '' */
.icon-gear:before { content: '\e827'; } /* '' */
.icon-home:before { content: '\e828'; } /* '' */
.icon-grid:before { content: '\e829'; } /* '' */
.icon-fingerprint:before { content: '\e82a'; } /* '' */
.icon-happy:before { content: '\e82b'; } /* '' */
.icon-hdots:before { content: '\e82c'; } /* '' */
.icon-key:before { content: '\e82d'; } /* '' */
.icon-google-plus:before { content: '\e82e'; } /* '' */
.icon-list:before { content: '\e82f'; } /* '' */
.icon-locked:before { content: '\e830'; } /* '' */
.icon-logout:before { content: '\e831'; } /* '' */
.icon-mail:before { content: '\e832'; } /* '' */
.icon-man:before { content: '\e833'; } /* '' */
.icon-image:before { content: '\e834'; } /* '' */
.icon-minus-coin:before { content: '\e835'; } /* '' */
.icon-hourglass:before { content: '\e836'; } /* '' */
.icon-moon:before { content: '\e837'; } /* '' */
.icon-help:before { content: '\e838'; } /* '' */
.icon-heart-empty:before { content: '\e839'; } /* '' */
.icon-person:before { content: '\e83a'; } /* '' */
.icon-phone:before { content: '\e83b'; } /* '' */
.icon-pin:before { content: '\e83c'; } /* '' */
.icon-landphone:before { content: '\e83d'; } /* '' */
.icon-power:before { content: '\e83e'; } /* '' */
.icon-printer:before { content: '\e83f'; } /* '' */
.icon-infinite:before { content: '\e840'; } /* '' */
.icon-refresh:before { content: '\e841'; } /* '' */
.icon-info:before { content: '\e842'; } /* '' */
.icon-order:before { content: '\e843'; } /* '' */
.icon-money:before { content: '\e844'; } /* '' */
.icon-plus:before { content: '\e845'; } /* '' */
.icon-save:before { content: '\e846'; } /* '' */
.icon-ribbon:before { content: '\e847'; } /* '' */
.icon-people:before { content: '\e848'; } /* '' */
.icon-star:before { content: '\e849'; } /* '' */
.icon-minus:before { content: '\e84a'; } /* '' */
.icon-question:before { content: '\e84b'; } /* '' */
.icon-swap:before { content: '\e84c'; } /* '' */
.icon-tag:before { content: '\e84d'; } /* '' */
.icon-tags:before { content: '\e84e'; } /* '' */
.icon-rocket:before { content: '\e84f'; } /* '' */
.icon-star-empty:before { content: '\e850'; } /* '' */
.icon-text:before { content: '\e851'; } /* '' */
.icon-search:before { content: '\e852'; } /* '' */
.icon-shipping:before { content: '\e853'; } /* '' */
.icon-store:before { content: '\e854'; } /* '' */
.icon-sad:before { content: '\e855'; } /* '' */
.icon-rows:before { content: '\e856'; } /* '' */
.icon-visitor:before { content: '\e857'; } /* '' */
.icon-time:before { content: '\e858'; } /* '' */
.icon-unlocked:before { content: '\e859'; } /* '' */
.icon-thumbs-up-o:before { content: '\e85a'; } /* '' */
.icon-thumbs-up:before { content: '\e85b'; } /* '' */
.icon-trash:before { content: '\e85c'; } /* '' */
.icon-menu:before { content: '\e85d'; } /* '' */
.icon-arrow-l:before { content: '\e85e'; } /* '' */
.icon-contact:before { content: '\e85f'; } /* '' */
.icon-upload:before { content: '\e860'; } /* '' */
.icon-open:before { content: '\e861'; } /* '' */