@import "../assets/styles/_mix.scss";

.main-content header {
  height: $nav_header_height;
  background-color: $nav_bg_color;
  color: $nav_fg_color;
  display: flex;
}

.main-content header img {
  float: left;
  margin: auto 15px auto 15px;
  height: 48px;
}

.main-content header .search {
  flex: 1;
}

.main-content header .menu a i,
.main-content header .search i,
.sidemenu__content header span {
  // position: relative;
  // margin-top: 10px;
  color: $nav_fg_color;
  float: right;
  font-size: 1.5rem;
  margin: auto 10px auto 15px;
  cursor: pointer;
}

.sidemenu__content header img {
  height: 32px;
}

/* 
.form-inline .input-group {
  margin-top: 10px;
}

.form-inline .input-group,
.form-inline .input-group > .form-control,
.form-inline .input-group-append,
.form-inline .input-group-text {
  height: 55px !important;
}
 */

/* .navbar-brand.toggler {
  margin-left: 10px;
} 

.input-group-append .btn,
.input-group-prepend .btn {
  background-color: #22b14c;
}
*/
