<main class="main-content">
  <!-- your main content here -->
  <header class="py-2">
    <div class="logo">
      <img
        id="logo"
        src="assets/img/logo_hypico.png"
        alt=""
        [routerLink]="['/home']"
      />
    </div>
    <div class="search mt-2">
      <!--
        <form>
          <div class="input-group">
            <input
              type="text"
              class="form-control border border-right-0"
              placeholder="Projeto"
            />
            <span class="input-group-append">
              <button
                class="btn btn-outline-light border border-left-0"
                type="button"
              >
                <span class="icon-search"></span>
              </button>
            </span>
          </div>
        </form>
      -->
      <i class="icon-doc"></i> <i class="icon-home"></i>
    </div>

    <div class="menu">
      <a>
        <i (click)="onToggleSidemenuClick()" class="icon-menu"></i
        ><!-- [ngClass]="{ 'icon-cancel': !active, 'icon-menu': active }" -->
      </a>
    </div>
  </header>

  <!-- <div class="text-center">sidemenu: {{ sidemenu }}</div> -->
  <router-outlet></router-outlet>
  <!-- <button (click)="toggle()">toggle</button> -->
</main>

<div class="sidemenu sidemenu--from-right">
  <!-- sidemenu--is-visible -->

  <div class="sidemenu__container">
    <div class="sidemenu__content">
      <header>
        <img
          id="logo"
          src="assets/img/logo_mix.png"
          alt=""
        />
        <span class="icon-cancel" (click)="onCloseSidemenuClick()"></span>
      </header>
      <!-- your side panel content here -->
      <ul class="list-unstyled">
        <!--
            <div class="heading text-center">Encontre descontos próximos</div>
          <li>
            <a (click)="onCloseSidemenuClick()">
              <span class="icon-chevron-l"></span> Fechar menu</a
            >
          </li>
        -->
        <!--
          <li>
            <a [routerLink]="['/home']"><span class="icon-home"></span>Início</a>
          </li>
        -->
        <li>
          <a
            href="#moduloComandas"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span class="icon-list"></span>Comandas
          </a>
          <ul class="collapse list-unstyled" id="moduloComandas">
            <li>
              <a [routerLink]="['/parceiros-participar']">
                <span class="icon-plus"></span>Lcto</a
              >
            </li>
            <li>
              <a [routerLink]="['/parceiros-procurar']">
                <span class="icon-search"></span>Consulta</a
              >
            </li>
            <li>
              <a [routerLink]="['/parceiros-participar']">
                <span class="icon-money"></span>Caixa</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#moduloMesas"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span class="icon-table"></span>Mesas
          </a>
          <ul class="collapse list-unstyled" id="moduloMesas">
            <li>
              <a [routerLink]="['/parceiros-participar']">
                <span class="icon-plus"></span>Lcto</a
              >
            </li>
            <li>
              <a [routerLink]="['/parceiros-procurar']">
                <span class="icon-search"></span>Consulta</a
              >
            </li>
            <li>
              <a [routerLink]="['/parceiros-participar']">
                <span class="icon-money"></span>Caixa</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#moduloDelivery"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span class="icon-delivery"></span>Delivery
          </a>
          <ul class="collapse list-unstyled" id="moduloDelivery">
            <li>
              <a [routerLink]="['/parceiros-participar']">
                <span class="icon-plus"></span>Lcto</a
              >
            </li>
            <li>
              <a [routerLink]="['/parceiros-procurar']">
                <span class="icon-grid"></span>Pedidos</a
              >
            </li>
            <li>
              <a [routerLink]="['/parceiros-participar']">
                <span class="icon-money"></span>Caixa</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#moduloCadastros"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span class="icon-edit"></span>Cadastros
          </a>
          <ul class="collapse list-unstyled" id="moduloCadastros">
            <li>
              <a href="#"> <span class="icon-barcode"></span>Produtos</a>
            </li>
            <li>
              <a href="#"> <span class="icon-id-card-v"></span>Operadores</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#moduloEstoque"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span class="icon-stock"></span>Estoque
          </a>
          <ul class="collapse list-unstyled" id="moduloEstoque">
            <li>
              <a href="#"> <span class="icon-bullets"></span>Inventário</a>
            </li>
            <li>
              <a href="#"> <span class="icon-to"></span>Entrada estqoue</a>
            </li>
            <li>
              <a href="#"> <span class="icon-from"></span>Saída estoque</a>
            </li>
            <li>
              <a href="#">
                <span class="icon-transfer"></span>Transferência estoque</a
              >
            </li>
            <li>
              <a href="#"> <span class="icon-resize"></span>Amostragem</a>
            </li>
            <li>
              <a href="#"> <span class="icon-minus"></span>Perda</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <span class="icon-clock-o"></span>Turno
            <small class="float-right">Fechado</small>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-money-bag"></span>Caixa
            <small class="float-right">Fechado</small>
          </a>
        </li>
        <li>
          <a href="#"> <span class="icon-shopping-cart"></span>Lcto balcão </a>
        </li>
        <li>
          <a href="#"> <span class="icon-hashtag"></span>Lcto senha </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-terminal"></span>Terminal
            <small class="float-right">127.0.0.1</small>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-gear"></span>Config
            <small class="float-right">127.0.0.1</small>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-logout"></span>Sair
            <small class="float-right">Operador</small>
          </a>
        </li>
      </ul>
      <!--
        <ul class="list-unstyled CTAs">
          <li>
            <a href="#" class="download"
              ><span class="icon-download"></span>Download code</a
            >
          </li>
          <li>
            <a href="#" class="article"><span class="icon-edit"></span>Article</a>
          </li>
        </ul>
      -->
    </div>
    <!-- sidemenu__content -->
  </div>
  <!-- sidemenu__container -->
</div>
<!-- sidemenu -->
