<ion-toolbar [class.fechada]="loja.loj_b_fechada">
  <ion-avatar slot="start">
    <ion-img
      src="{{ url_imgs }}/lojas/{{ loja.loj_pk }}.jpg"
      alt=""
      cache="true"
    ></ion-img>
  </ion-avatar>
  <ion-label text-start>
    <h2>
      <span class="icon-heart fav" *ngIf="loja.loj_b_favorita"></span>
      <strong>{{ loja.loj_c_loja }}</strong>
    </h2>
    <p>{{ loja.loj_c_tipo }}</p>
    <p>
      <span class="icon-time"></span>&nbsp;{{
        loja.loj_f_media_despacho | number
      }}
      min&nbsp;&nbsp;•&nbsp;<span class="icon-money"></span>&nbsp;{{
        loja.taxa_entrega | number: "1.2-2"
      }}&nbsp;&nbsp;•
      <span *ngIf="loja.loj_b_nova" text-end>Novo</span>
      <span *ngIf="!loja.loj_b_nova" text-end>
        <span class="icon-star"></span
        >{{ loja.loj_f_media_avaliacoes | number }}
      </span>
    </p>
    <!--  <p *ngIf="loja.loj_b_fechada" class="loja-aberta" text-center>
      <strong> Loja aberta </strong>
    </p> -->
    <p *ngIf="loja.loj_b_fechada" class="loja-fechada" text-center>
      Fechada - <strong> {{ msgAbertura }} </strong>
    </p>
  </ion-label>
  <ion-button slot="end" color="warning" (click)="onSelClick()">
    <span class="icon-chevron-r"></span>
  </ion-button>
</ion-toolbar>
