/* ion-toolbar */
ion-toolbar {
  padding: 5px;
  --background: white;
  border-bottom: #e1e1e1 solid 1px;
  /* border-radius: 10px; */
  /* box-shadow: 1px 1px 5px #e1e1e1; */
}

ion-toolbar ion-avatar {
  --border-radius: 10px;
}

ion-toolbar ion-avatar ion-img {
  height: 64px;
  width: 64px;
}

.fav {
  color: tomato !important;
}

.loja-aberta {
  color: green;
}

p.loja-fechada {
  /* border: 1px solid silver; // rgb(248, 174, 161); */
  /* border-radius: 10px; */
  /* opacity: 0.9 !important; */
  color: red !important;
}

[class^="icon-"] {
  color: var(--ion-color-warning);
}

ion-button [class^="icon-"] {
  color: var(--ion-color-warning-contrast);
}

/* .end,
.end p {
  color: var(--ion-color-warning) !important;
  font-weight: bold;
} */

ion-toolbar ion-label h2 {
  margin-left: 10px;
  color: #666; // var(--ion-color-warning);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ion-toolbar ion-label p {
  margin-left: 10px;
  color: #666; // var(--ion-color-warning);
}

/* loja-fechada */
ion-toolbar.fechada {
  // opacity: 0.5;
}

ion-toolbar.fechada ion-avatar ion-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

ion-toolbar.fechada ion-label h2,
ion-toolbar.fechada ion-label p,
ion-toolbar.fechada ion-label p span {
  opacity: 0.5;
}

ion-toolbar.fechada ion-button {
  color: var(--ion-color-warning-contrast);
}
